@import '../style/mixins.scss';

// #variables
:root {
  --s-tabbar-z-index: 1050;
  --s-tabbar-height: 50px;
  --s-tabbar-bg: var(--s-emphasis-bg);
  --s-tabbar-color: var(--s-secondary-color);
  --s-tabbar-border-color: var(--s-border-color);

  --s-tabbar-item-ative-color: var(--s-primary);
  --s-tabbar-item-icon-margin-bottom: 5px;
  --s-tabbar-item-icon-font-size: 20px;
  --s-tabbar-item-text-font-size: 12px;
  --s-tabbar-item-text-line-height: 1;
}
// #endvariables

.s-tabbar {
  position: relative;
  display: flex;
  align-items: stretch;
  height: var(--s-tabbar-height);
  color: var(--s-tabbar-color);
  background-color: var(--s-tabbar-bg);

  @include border-top(var(--s-tabbar-border-color));
}

.s-tabbar-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--s-tabbar-z-index);
  width: 100%;
}

.s-tabbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.s-tabbar-item-active {
  color: var(--s-tabbar-item-ative-color);
}

.s-tabbar-item-icon {
  position: relative;
  display: flex;
  margin-bottom: var(--s-tabbar-item-icon-margin-bottom);
  font-size: var(--s-tabbar-item-icon-font-size);
}

.s-tabbar-item-text {
  font-size: var(--s-tabbar-item-text-font-size);
  line-height: var(--s-tabbar-item-text-line-height);
}
