@import '../style/mixins.scss';

// #variables
:root {
  --s-notify-paddding-x: 16px;
  --s-notify-paddding-y: 8px;
  --s-notify-font-size: var(--s-text-base);
  --s-notify-color: var(--s-white);
}
// #endvariables

.s-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--s-notify-paddding-y) var(--s-notify-paddding-x);
  font-size: var(--s-notify-font-size);
}

// 默认类型主题色
@each $color,
  $value
    in (
      primary: var(--s-primary),
      success: var(--s-success),
      warning: var(--s-warning),
      error: var(--s-danger)
    )
{
  .s-notify-#{$color} {
    @include notify-theme($value);
  }
}
