@use '../style/mixins/bem';
@use '../style/mixins/border';

// #variables
:root,
page {
  --sar-mesh-bg: var(--sar-emphasis-bg);
  --sar-mesh-active-bg: var(--sar-active-bg);
  --sar-mesh-border-color: var(--sar-border-color);
  --sar-mesh-item-padding-x: 8px;
  --sar-mesh-item-padding-y: 16px;

  --sar-item-icon-font-size: 24px;
  --sar-item-text-gap: 8px;
  --sar-item-text-font-size: var(--sar-text-sm);
  --sar-item-text-line-height: var(--sar-leading-tight);
}
// #endvariables

@include bem.bem(mesh) {
  @include bem.b() {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include bem.m(outline) {
      &::after {
        @include border.border(var(--sar-mesh-border-color));
      }
    }

    @include bem.m(outline-vertical) {
      @include border.border-vertical(var(--sar-mesh-border-color));
    }
  }

  @include bem.e(item) {
    position: relative;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    width: 0;
  }

  @include bem.e(item-wrapper) {
    position: relative;
    height: 0;
    padding-top: 100%;
  }

  @include bem.e(item-content) {
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding-top: var(--sar-mesh-item-padding-y);
    padding-right: var(--sar-mesh-item-padding-x);
    padding-bottom: var(--sar-mesh-item-padding-y);
    padding-left: var(--sar-mesh-item-padding-x);
    background-color: var(--sar-mesh-bg);

    &::after {
      @include border.border(var(--sar-mesh-border-color)) {
        border-width: 0;
      }
    }

    @include bem.m(square) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  @include bem.e(item-icon) {
    display: flex;
    font-size: var(--sar-item-icon-font-size);
  }

  @include bem.e(item-text) {
    font-size: var(--sar-item-text-font-size);
    line-height: var(--sar-item-text-line-height);

    @include bem.m(vertical) {
      margin-top: var(--sar-item-text-gap);
    }

    @include bem.m(vertical-reverse) {
      margin-bottom: var(--sar-item-text-gap);
    }

    @include bem.m(horizontal) {
      margin-left: var(--sar-item-text-gap);
    }

    @include bem.m(horizontal-reverse) {
      margin-right: var(--sar-item-text-gap);
    }
  }

  @include bem.m(border-right) {
    &::after {
      border-right-width: 1px;
    }
  }

  @include bem.m(border-bottom) {
    &::after {
      border-bottom-width: 1px;
    }
  }

  @include bem.m(border-surround) {
    &::after {
      border-width: 1px;
    }
  }

  @include bem.m(vertical) {
    flex-direction: column;
  }

  @include bem.m(vertical-reverse) {
    flex-direction: column-reverse;
  }

  @include bem.m(horizontal) {
    flex-direction: row;
  }

  @include bem.m(horizontal-reverse) {
    flex-direction: row-reverse;
  }

  @include bem.m(center) {
    justify-content: center;
    align-items: center;
  }

  @include bem.m(clickable) {
    cursor: pointer;

    &:active {
      background-color: var(--sar-mesh-active-bg);
    }
  }
}
