.demo-index-header {
  padding: 50px 32px 20px;
}

.demo-index-logo {
  width: 32px;
  height: 32px;
}

.demo-index-title {
  font-size: 24px;
  font-weight: bold;
}

.demo-index-desc {
  font-size: 14px;
  color: var(--sar-tertiary-color);
}
