.index-page {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 32px 20px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 32px;
    height: 32px;
  }

  .title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  .desc {
    margin-top: 10px;
    font-size: 14px;
    color: var(--sar-tertiary-color);
  }
}
