@import '../style/base.scss';

// #variables
:root,
page {
  --sar-popout-z-index: 1100;

  --sar-popout-border-top-radius: var(--sar-rounded-xl);
  --sar-popout-bg: var(--sar-emphasis-bg);

  --sar-popout-close-padding: 16px;
  --sar-popout-close-font-size: var(--sar-text-lg);
  --sar-popout-close-color: var(--sar-secondary-color);

  --sar-popout-header-compact-height: 44px;
  --sar-popout-header-loose-height: 44px;
  --sar-popout-header-loose-padding-x: calc(
    var(--sar-popout-close-padding) * 2 + var(--sar-popout-close-font-size)
  );

  --sar-popout-title-max-width: 65%;
  --sar-popout-title-font-size: var(--sar-text-lg);
  --sar-popout-title-color: var(--sar-emphasis-color);

  --sar-popout-button-wrap-min-width: 80px;

  --sar-popout-footer-gap-y: 8px;
  --sar-popout-footer-gap-x: 16px;

  --sar-popout-button-gap: 16px;
}
// #endvariables

@include bem(popout) {
  @include b() {
    z-index: var(--sar-popout-z-index);

    border-top-left-radius: var(--sar-popout-border-top-radius);
    border-top-right-radius: var(--sar-popout-border-top-radius);
    background-color: var(--sar-popout-bg);
  }

  @include e(header) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    @include m(compact) {
      height: var(--sar-popout-header-compact-height);
    }

    @include m(loose) {
      height: var(--sar-popout-header-loose-height);
      padding-left: var(--sar-popout-header-loose-padding-x);
      padding-right: var(--sar-popout-header-loose-padding-x);
    }
  }

  @include e(button-wrap) {
    display: flex;
    height: 100%;
    min-width: var(--sar-popout-button-wrap-min-width);
  }

  @include e(header-button) {
    height: 100%;
  }

  @include e(header-cancel) {
    margin-right: auto;
    border-top-left-radius: inherit;
  }

  @include e(header-confirm) {
    margin-left: auto;
    border-top-right-radius: inherit;
  }

  @include e(title) {
    flex: 1 1 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: var(--sar-popout-title-font-size);
    font-weight: var(--sar-font-bold);
    color: var(--sar-popout-title-color);
    @include ellipsis;
  }

  @include e(close) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: var(--sar-popout-close-padding);
    border: none;
    border-top-right-radius: inherit;
    font-size: var(--sar-popout-close-font-size);
    line-height: inherit;
    color: var(--sar-popout-close-color);
    cursor: pointer;
  }

  @include e(footer) {
    display: flex;
    flex-direction: row;
    gap: var(--sar-popout-button-gap);
    align-items: center;
    padding: var(--sar-popout-footer-gap-y) var(--sar-popout-footer-gap-x);
  }

  @include e(footer-button) {
    flex: 1 1 0;
  }
}
