@use 'sass:math';
@import '../style/functions.scss';
@import '../style/variables.scss';

// #variables

$s-loading-icon-size: 1em;
$s-loading-icon-min-width: 16px;
$s-loading-icon-min-height: 16px;
$s-loading-icon-animation-duration: 0.8s !default;
$s-loading-icon-border-width: 2px !default;

$s-loading-scale-number: 12 !default;
$s-loading-scale-width: 8% !default;
$s-loading-scale-min-width: 1.5px !default;
$s-loading-scale-height: 28% !default;
$s-loading-scale-border-radius: 40% !default;

$s-loading-spinner-animation-duration: 2s !default;
$s-loading-spinner-circle-animation-duration: 1.5s !default;

$s-loading-text-margin-left: 0.5em !default;
$s-loading-text-vertical-margin-top: 0.5em !default;

// #endvariables

.s-loading {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &.s-loading-vertical {
    flex-direction: column;
  }

  @at-root {
    .s-loading-icon {
      position: relative;
      box-sizing: border-box;
      width: $s-loading-icon-size;
      height: $s-loading-icon-size;
      min-width: $s-loading-icon-min-width;
      min-height: $s-loading-icon-min-height;
    }

    .s-loading-text {
      margin-left: $s-loading-text-margin-left;

      .s-loading-vertical & {
        margin-left: 0;
        margin-top: $s-loading-text-vertical-margin-top;
      }
    }
  }
}

@keyframes s-loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

// # spinner
@keyframes s-loading-spinner {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -50;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -138;
  }
}

.s-loading-spinner {
  animation: s-loading-rotate $s-loading-spinner-animation-duration linear
    infinite;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    circle {
      animation: s-loading-spinner $s-loading-spinner-circle-animation-duration
        ease-in-out infinite;
      stroke: currentColor;
      stroke-width: 3;
      stroke-linecap: round;
    }
  }
}

// # clock
.s-loading-clock {
  animation: s-loading-rotate $s-loading-icon-animation-duration
    steps(#{$s-loading-scale-number}) infinite;
}

.s-loading-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before {
    display: flex;
    width: $s-loading-scale-width;
    min-width: $s-loading-scale-min-width;
    height: $s-loading-scale-height;
    margin: 0 auto;
    border-radius: $s-loading-scale-border-radius;
    content: '';
    background-color: currentColor;
  }
}

@for $i from 1 through $s-loading-scale-number {
  .s-loading-scale:nth-child(#{$i}) {
    opacity: tofixed(1 - math.div(1, $s-loading-scale-number) * ($i - 1), 6);
    transform: rotate(#{math.div(360, $s-loading-scale-number) * $i}deg);
  }
}

// # circular
.s-loading-circular {
  border: 0.1em solid transparent;
  border-radius: 100%;
  border-top-color: initial;
  animation: s-loading-rotate $s-loading-icon-animation-duration linear infinite;
}
