@use '../style/mixins/bem';
@use '../style/mixins/notify';

// #variables
:root,
page {
  --sar-notify-z-index: 1110;

  --sar-notify-paddding-x: 16px;
  --sar-notify-paddding-y: 8px;
  --sar-notify-font-size: var(--sar-text-base);
  --sar-notify-color: var(--sar-white);
}
// #endvariables

@include bem.bem(notify) {
  @include bem.b() {
    z-index: var(--sar-notify-z-index);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--sar-notify-paddding-y) var(--sar-notify-paddding-x);
    font-size: var(--sar-notify-font-size);
  }

  @each $color,
    $value
      in (
        primary: var(--sar-primary),
        success: var(--sar-success),
        warning: var(--sar-warning),
        error: var(--sar-danger)
      )
  {
    @include bem.m($color) {
      @include notify.notify-theme($value);
    }
  }
}
