@import '../style/base.scss';

// #variables
:root,
page {
  --sar-toast-z-index: 1150;

  --sar-toast-top: 20%;
  --sar-toast-bottom: 20%;

  --sar-toast-font-size: var(--sar-text-base);
  --sar-toast-width: calc(var(--sar-toast-font-size) * 9);
  --sar-toast-not-text-min-height: var(--sar-toast-width);
  --sar-toast-padding-x: var(--sar-toast-font-size);
  --sar-toast-padding-y: var(--sar-toast-font-size);
  --sar-toast-border-radius: var(--sar-rounded-lg);
  --sar-toast-color: var(--sar-white);
  --sar-toast-bg: var(--sar-mask-illegible);

  --sar-toast-text-max-width: 70%;
  --sar-toast-text-padding-y: 10px;

  --sar-toast-icon-margin-bottom: 8px;
  --sar-toast-icon-size: 36px;

  --sar-toast-loading-size: 30px;

  --sar-toast-title-font-size: var(--sar-toast-font-size);
  --sar-toast-title-line-height: var(--sar-leading-normal);
}
// #endvariables

@include bem(toast) {
  @include b() {
    z-index: var(--sar-toast-z-index);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: var(--sar-toast-padding-y) var(--sar-toast-padding-x);
    border-radius: var(--sar-toast-border-radius);
    color: var(--sar-toast-color);
    background-color: var(--sar-toast-bg);
  }

  @include e(icon) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sar-toast-icon-size);
    height: var(--sar-toast-icon-size);
    margin-bottom: var(--sar-toast-icon-margin-bottom);
    font-size: var(--sar-toast-icon-size);
    text-align: center;
  }

  @include e(loading) {
    font-size: var(--sar-toast-loading-size);
  }

  @include e(title) {
    font-size: var(--sar-toast-title-font-size);
    line-height: var(--sar-toast-title-line-height);
    text-align: center;
  }

  @include m(top) {
    top: var(--sar-toast-top);
  }

  @include m(bottom) {
    top: auto;
    bottom: var(--sar-toast-bottom);
  }

  @include m(is-text) {
    width: fit-content;
    max-width: var(--sar-toast-text-max-width);
    padding-top: var(--sar-toast-text-padding-y);
    padding-bottom: var(--sar-toast-text-padding-y);
    white-space: normal;
    word-wrap: break-word;
  }

  @include m(not-text) {
    width: var(--sar-toast-width);
    min-height: var(--sar-toast-not-text-min-height);
  }
}
