@import '../style/mixins.scss';

// #variables
:root {
  --s-switch-width: 1.6667em;
  --s-switch-height: 1em;
  --s-switch-border-width: 0;
  --s-switch-border-color: var(--s-border-color);
  --s-switch-font-size: 30px;
  --s-switch-transition-duration: var(--s-duration);
  --s-switch-bg: var(--s-secondary-bg);
  --s-switch-checked-bg: var(--s-primary);

  --s-switch-is-loading-pointer-events: var(--s-loading-pointer-events);
  --s-switch-is-loading-cursor: var(--s-loading-cursor);
  --s-switch-is-loading-opacity: var(--s-loading-opacity);

  --s-switch-thumb-width: var(--s-switch-height);
  --s-switch-thumb-height: var(--s-switch-height);
  --s-switch-thumb-border-width: 2px;
  --s-switch-thumb-border-radius: 50%;
  --s-switch-thumb-bg: var(--s-white);
  --s-switch-thumb-box-shadow: none;
  --s-switch-thumb-transition-duration: var(--s-duration);
  --s-switch-thumb-checked-left: calc(
    var(--s-switch-width) - var(--s-switch-thumb-width)
  );

  --s-switch-loading-font-size: 0.5em;
  --s-switch-loading-color: inherit;
}
// #endvariables

.s-switch {
  position: relative;
  box-sizing: content-box;
  display: inline-flex;
  width: var(--s-switch-width);
  height: var(--s-switch-height);
  border: var(--s-switch-border-width) solid var(--s-switch-border-color);
  border-radius: var(--s-switch-height);
  font-size: var(--s-switch-font-size);
  background-color: var(--s-switch-bg);
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  transition: background-color var(--s-switch-transition-duration),
    border-color var(--s-switch-transition-duration),
    opacity var(--s-switch-transition-duration);

  @at-root {
    .s-switch-thumb {
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--s-switch-thumb-width);
      height: var(--s-switch-thumb-height);
      border: var(--s-switch-thumb-border-width) solid transparent;
      border-radius: var(--s-switch-thumb-border-radius);
      background-clip: content-box;
      background-color: var(--s-switch-thumb-bg);
      box-shadow: var(--s-switch-thumb-box-shadow);
      transition: transform var(--s-switch-thumb-transition-duration);

      @at-root {
        .s-switch-loading {
          font-size: var(--s-switch-loading-font-size);
          color: var(--s-switch-loading-color);
        }
      }
    }
  }
}

// # 开启状态
.s-switch-checked {
  border-color: transparent;
  background-color: var(--s-switch-checked-bg);
  .s-switch-thumb {
    transform: translateX(var(--s-switch-thumb-checked-left));
  }
}

// # 禁用状态
.s-switch-disabled {
  @include disabled;
}

// # 只读状态
.s-switch-readonly {
  cursor: default;
}

// # 加载状态
.s-switch-is-loading {
  pointer-events: var(--s-switch-is-loading-pointer-events);
  opacity: var(--s-switch-is-loading-opacity);
  cursor: var(--s-switch-is-loading-cursor);
}
