@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-search-padding-x: 12px;
  --sar-search-padding-y: 10px;
  --sar-search-bg: var(--sar-emphasis-bg);

  --sar-search-input-bg: var(--sar-body-bg);
  --sar-search-icon-color: var(--sar-quaternary-color);
}
// #endvariables

@include bem.bem(search) {
  @include bem.b() {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--sar-search-padding-y) var(--sar-search-padding-x);
    background-color: var(--sar-search-bg);
  }

  @include bem.m(show-action) {
    padding-right: 0;
  }

  @include bem.e(input) {
    background-color: var(--sar-search-input-bg);

    @include bem.m(round) {
      border-radius: var(--sar-rounded-full);
    }
  }

  @include bem.e(icon) {
    color: var(--sar-search-icon-color);
  }
}
