@import '../style/base.scss';

// #variables
:root,
page {
  --sar-cascader-selected-color: var(--sar-primary);

  --sar-cascader-options-height: 320px;

  --sar-cascader-option-padding-y: 10px;
  --sar-cascader-option-padding-x: 16px;
  --sar-cascader-option-font-size: var(--sar-text-base);
  --sar-cascader-option-line-height: var(--sar-leading-normal);
  --sar-cascader-option-active-bg: var(--sar-secondary-bg);

  --sar-cascader-loading-font-size: var(--sar-text-xl);
  --sar-cascader-loading-bg: var(--sar-mask-white-legible);
  --sar-cascader-loading-color: var(--sar-tertiary-color);
}

@media (prefers-color-scheme: dark) {
  :root,
  page {
    --sar-cascader-loading-bg: var(--sar-mask-legible);
  }
}
// #endvariables

@include bem(cascader) {
  @include b() {
    position: relative;
  }

  @include e(container) {
    overflow: hidden;
  }

  @include e(wrapper) {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s;
  }

  @include e(pane) {
    width: 100%;
    flex: none;
  }

  @include e(options) {
    box-sizing: border-box;
    height: var(--sar-cascader-options-height);
    overflow-y: auto;
  }

  @include e(option) {
    display: flex;
    font-size: var(--sar-cascader-option-font-size);
    line-height: var(--sar-cascader-option-line-height);
    padding: var(--sar-cascader-option-padding-y)
      var(--sar-cascader-option-padding-x);

    @include m(disabled) {
      @include disabled-text;
    }

    @include m(interactive) {
      cursor: pointer;

      &:active {
        background-color: var(--sar-cascader-option-active-bg);
      }
    }

    @include m(selected) {
      color: var(--sar-cascader-selected-color);
      font-weight: var(--sar-font-bold);
    }
  }

  @include e(option-icon) {
    display: none;
    margin-left: auto;

    @include m(selected) {
      display: flex;
    }
  }

  @include m(loading) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: var(--sar-cascader-loading-font-size);
    color: var(--sar-cascader-loading-color);
    background-color: var(--sar-cascader-loading-bg);
  }
}
