@use '../style/mixins/bem';
@use './sari-icons';

// #variables
// #endvariables

@include bem.bem(icon) {
  @include bem.b() {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    font-size: inherit;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @include bem.e(image) {
    display: inline-flex;
    width: 1em;
    height: 1em;
    object-fit: contain;
    font-size: inherit;
  }
}
