@use '../style/mixins/bem';
@use '../style/mixins/border';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-menu-item-height: 44px;
  --sar-menu-item-padding-x: 15px;
  --sar-menu-item-font-size: var(--sar-text-base);
  --sar-menu-item-active-bg: var(--sar-active-bg);
  --sar-menu-item-border-color: var(--sar-border-color);

  --sar-menu-item-dark-active-bg: var(--sar-gray-900);
  --sar-menu-item-dark-border-color: var(--sar-dark-border-color);

  --sar-menu-item-horizontal-height: 34px;

  --sar-menu-item-icon-margin-right: 10px;
}
// #endvariables

@include bem.bem(menu) {
  @include bem.b() {
    display: flex;
    border-radius: inherit;

    @include bem.m(vertical) {
      flex-direction: column;
    }

    @include bem.m(horizontal) {
      flex-direction: row;
    }
  }

  @include bem.e(item) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--sar-menu-item-height);
    padding-left: var(--sar-menu-item-padding-x);
    padding-right: var(--sar-menu-item-padding-x);
    font-size: var(--sar-menu-item-font-size);
    cursor: pointer;

    @include bem.m(vertical-first) {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    @include bem.m(vertical-last) {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    @include bem.m(horizontal-first) {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    @include bem.m(horizontal-last) {
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    @include bem.m(disabled) {
      @include disabled.disabled-text;
    }

    @include bem.m(light-interactive) {
      &:active {
        background-color: var(--sar-menu-item-active-bg);
      }
    }

    @include bem.m(dark-interactive) {
      &:active {
        background-color: var(--sar-menu-item-dark-active-bg);
      }
    }

    @include bem.m(horizontal) {
      height: var(--sar-menu-item-horizontal-height);
    }

    @include bem.m(light-horizontal-later) {
      @include border.border-left(var(--sar-menu-item-border-color));
    }

    @include bem.m(dark-horizontal-later) {
      @include border.border-left(var(--sar-menu-item-dark-border-color));
    }
  }

  @include bem.e(item-icon) {
    margin-right: var(--sar-menu-item-icon-margin-right);
  }

  @include bem.e(item-text) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;

    @include bem.m(light-vertical-later) {
      @include border.border-top(var(--sar-menu-item-border-color));
    }

    @include bem.m(dark-vertical-later) {
      @include border.border-top(var(--sar-menu-item-dark-border-color));
    }

    @include bem.m(has-icon) {
      justify-content: flex-start;
    }
  }
}
