@import '../style/base.scss';
// #variables
$sar-dialog-z-index: 1110 !default;

$sar-dialog-width: 320px !default;
$sar-dialog-max-width: 90% !default;
$sar-dialog-bg-color: $sar-emphasis-bg-color !default;
$sar-dialog-border-radius: $sar-rounded-xl !default;

$sar-dialog-header-padding-y: 16px !default;
$sar-dialog-header-padding-x: 16px !default;

$sar-dialog-title-padding-x: 16px !default;
$sar-dialog-title-padding-y: 24px !default;
$sar-dialog-title-headless-message-padding-bottom: 4px !default;
$sar-dialog-title-font-size: $sar-text-lg !default;
$sar-dialog-headed-title-font-size: $sar-text-base !default;

$sar-dialog-close-padding: 16px !default;
$sar-dialog-close-font-size: $sar-text-lg !default;

$sar-dialog-message-padding-y: 24px !default;
$sar-dialog-message-padding-x: 16px !default;
$sar-dialog-message-less-padding-top: 4px !default;
$sar-dialog-message-font-size: $sar-text-base !default;
$sar-dialog-message-color: $sar-secondary-color !default;

$sar-dialog-round-button-footer-padding-x: 16px !default;
$sar-dialog-round-button-footer-padding-y: 16px !default;
$sar-dialog-round-button-button-gap: 16px !default;

// 暗黑模式
$sar-dialog-dark-bg-color: $sar-dark-emphasis-bg-color !default;
$sar-dialog-message-dark-color: $sar-dark-secondary-color !default;
// #endvariables

@include bem(dialog) {
  @include b() {
    @include universal;
    width: $sar-dialog-width;
    max-width: $sar-dialog-max-width;
    background-color: $sar-dialog-bg-color;
    border-radius: $sar-dialog-border-radius;
  }

  @include e(popup) {
    z-index: $sar-dialog-z-index;
  }

  @include e(header) {
    @include universal;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: $sar-dialog-header-padding-y;
    padding-left: $sar-dialog-header-padding-x;
    padding-right: $sar-dialog-header-padding-x;

    @include m(titled) {
      padding-bottom: $sar-dialog-header-padding-y;
    }
  }

  @include e(title) {
    @include universal;
    font-size: $sar-dialog-title-font-size;
    font-weight: $sar-font-bold;
    text-align: center;

    @include m(headed) {
      font-size: $sar-dialog-headed-title-font-size;
    }

    @include m(headless) {
      padding: $sar-dialog-title-padding-y $sar-dialog-title-padding-x;
    }

    @include m(headless-message) {
      padding-bottom: $sar-dialog-title-headless-message-padding-bottom;
    }
  }

  @include e(close) {
    @include universal;
    margin-top: $sar-dialog-header-padding-y * -1;
    margin-right: $sar-dialog-header-padding-x * -1;
    margin-bottom: $sar-dialog-header-padding-y * -1;
    padding: $sar-dialog-close-padding;
    border-width: 0;
    font-size: $sar-dialog-close-font-size;
    line-height: $sar-dialog-close-font-size * $sar-leading-none;
  }

  @include e(message) {
    @include universal;
    padding: $sar-dialog-message-padding-y $sar-dialog-message-padding-x;
    font-size: $sar-dialog-message-font-size;
    text-align: center;
    color: $sar-dialog-message-color;

    @include m(headless-titled, headed-untitled) {
      padding-top: $sar-dialog-message-less-padding-top;
    }
  }

  @include e(footer) {
    @include universal;
    flex-direction: row;

    @include m(round-button) {
      padding-left: $sar-dialog-round-button-footer-padding-x;
      padding-right: $sar-dialog-round-button-footer-padding-x;
      padding-bottom: $sar-dialog-round-button-footer-padding-y;
    }
  }

  @include e(button) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 0;

    @include m(text) {
      border-radius: 0;
    }

    @include m(text-first) {
      border-bottom-left-radius: $sar-dialog-border-radius;
    }

    @include m(text-last) {
      border-bottom-right-radius: $sar-dialog-border-radius;
    }

    @include m(round-later) {
      margin-left: $sar-dialog-round-button-button-gap;
    }
  }

  @include e(divider) {
    @include universal;
    flex: none;
  }
}

@include theme(dark) {
  @include bem(dialog) {
    @include b() {
      background-color: $sar-dialog-dark-bg-color;
    }

    @include e(message) {
      color: $sar-dialog-message-dark-color;
    }
  }
}
