@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-space-gap-small: 8px;
  --sar-space-gap-medium: 16px;
  --sar-space-gap-large: 24px;
}
// #endvariables

@include bem.bem(space) {
  @include bem.b() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include bem.m(vertical) {
      flex-direction: column;
    }

    @include bem.m(wrap) {
      flex-wrap: wrap;
    }

    @include bem.m(start) {
      align-items: flex-start;
    }

    @include bem.m(center) {
      align-items: center;
    }

    @include bem.m(end) {
      align-items: flex-end;
    }

    @include bem.m(small) {
      gap: var(--sar-space-gap-small);
    }

    @include bem.m(medium) {
      gap: var(--sar-space-gap-medium);
    }

    @include bem.m(large) {
      gap: var(--sar-space-gap-large);
    }
  }

  @include bem.e(item) {
    max-width: 100%;
  }
}
