@use '../style/mixins/bem';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-password-input-border-color: var(--sar-border-color);
  --sar-password-input-active-border-color: var(--sar-primary);

  --sar-password-input-height: 48px;
  --sar-password-input-ciphertext-size: 10px;

  --sar-password-input-plaintext-font-size: 20px;

  --sar-password-input-cursor-width: 1px;
  --sar-password-input-cursor-height: 40%;
  --sar-password-input-cursor-animation-duration: 1s;
}
// #endvariables

@include bem.bem(password-input) {
  @include bem.b() {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--sar-password-input-height);
    gap: 10px;
    overflow: hidden;
    cursor: text;
  }

  @include bem.e(item) {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    border: 1px solid transparent;

    @include bem.m(active) {
      z-index: 2;
    }

    @include bem.m(border) {
      border-color: var(--sar-password-input-border-color);
    }

    @include bem.m(border-active) {
      border-color: var(--sar-password-input-active-border-color);
    }

    @include bem.m(underline) {
      border-bottom-color: var(--sar-password-input-border-color);
    }

    @include bem.m(underline-active) {
      border-bottom-color: var(--sar-password-input-active-border-color);
    }

    @include bem.m(lapped) {
      margin-left: -1px;
    }
  }

  @include bem.e(plaintext) {
    font-size: var(--sar-password-input-plaintext-font-size);
  }

  @include bem.e(ciphertext) {
    display: flex;
    width: var(--sar-password-input-ciphertext-size);
    height: var(--sar-password-input-ciphertext-size);
    border-radius: 50%;
    background-color: currentColor;
  }

  @include bem.e(cursor) {
    width: var(--sar-password-input-cursor-width);
    height: var(--sar-password-input-cursor-height);
    background-color: currentColor;
    animation: var(--sar-password-input-cursor-animation-duration)
      sar-password-input-cursor-flicker infinite;
  }

  @include bem.e(input) {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;

    .weui-input {
      width: 100%;
      height: 100%;
    }
  }

  @include bem.m(readonly, disabled) {
    cursor: default;
  }

  @include bem.m(disabled) {
    @include disabled.disabled;
  }
}

@keyframes sar-password-input-cursor-flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
