@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/universal.scss';

// #variables
$sar-search-padding-x: 12px !default;
$sar-search-padding-y: 10px !default;
$sar-search-bg: $sar-emphasis-bg !default;

$sar-search-input-bg: $sar-body-bg !default;
$sar-search-icon-color: $sar-quaternary-color !default;
// #endvariables

@include bem(search) {
  @include b() {
    @include universal;
    flex-direction: row;
    align-items: stretch;
    padding: $sar-search-padding-y $sar-search-padding-x;
    background-color: $sar-search-bg;
  }

  @include m(show-action) {
    padding-right: 0;
  }

  @include e(input-wrapper) {
    flex: 1;
  }

  @include e(input) {
    background-color: $sar-search-input-bg;

    @include m(round) {
      border-radius: $sar-rounded-full;
    }
  }

  @include e(button) {
    height: auto;
  }

  @include e(icon) {
    @include universal;
    color: $sar-search-icon-color;
  }
}
