@import '../style/base.scss';
// #variables
$sar-mesh-bg-color: $sar-emphasis-bg-color !default;
$sar-mesh-active-bg-color: $sar-active-bg-color !default;
$sar-mesh-item-padding-x: 8px !default;
$sar-mesh-item-padding-y: 16px !default;

$sar-item-text-gap: 8px !default;
$sar-item-text-font-size: $sar-text-sm !default;
$sar-item-text-line-height: $sar-item-text-font-size * $sar-leading-tight !default;

// 暗黑模式
$sar-mesh-dark-bg-color: $sar-dark-emphasis-bg-color !default;
$sar-mesh-dark-active-bg-color: $sar-dark-active-bg-color !default;
// #endvariables

@include bem(mesh) {
  @include b() {
    @include universal;
  }

  @include e(row) {
    @include universal;
    flex-direction: row;
  }

  @include e(item) {
    @include universal;
    flex: 1;
    background-color: $sar-mesh-bg-color;
  }

  @include e(substitute) {
    @include universal;
    flex: 1;
    pointer-events: none;
    opacity: 0;
  }

  @include e(item-wrapper) {
    @include universal;
    height: 0;
    padding-bottom: 100%;
  }

  @include e(item-content) {
    @include universal;
    flex: 1;
    padding-top: $sar-mesh-item-padding-y;
    padding-right: $sar-mesh-item-padding-x;
    padding-bottom: $sar-mesh-item-padding-y;
    padding-left: $sar-mesh-item-padding-x;

    @include m(square) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }

  @include e(item-icon) {
    @include universal;
  }

  @include e(item-text) {
    @include universal;
    font-size: $sar-item-text-font-size;
    line-height: $sar-item-text-line-height;

    @include m(vertical) {
      margin-top: $sar-item-text-gap;
    }

    @include m(vertical-reverse) {
      margin-bottom: $sar-item-text-gap;
    }

    @include m(horizontal) {
      margin-left: $sar-item-text-gap;
    }

    @include m(horizontal-reverse) {
      margin-right: $sar-item-text-gap;
    }
  }

  @include m(vertical) {
    flex-direction: column;
  }

  @include m(vertical-reverse) {
    flex-direction: column-reverse;
  }

  @include m(horizontal) {
    flex-direction: row;
  }

  @include m(horizontal-reverse) {
    flex-direction: row-reverse;
  }

  @include m(center) {
    justify-content: center;
    align-items: center;
  }

  @include m(clickable) {
    @include if-web {
      cursor: pointer;
    }
  }

  @include m(pressed) {
    background-color: $sar-mesh-active-bg-color;
  }
}

@include theme(dark) {
  @include bem(mesh) {
    @include e(item) {
      background-color: $sar-mesh-dark-bg-color;
    }

    @include m(pressed) {
      background-color: $sar-mesh-dark-active-bg-color;
    }
  }
}
