@import '../style/mixins.scss';

// #variables
:root {
  --s-action-sheet-border-radius: var(--s-rounded-xl);
  --s-action-sheet-bg: var(--s-emphasis-bg);

  --s-action-sheet-header-padding: 14px;
  --s-action-sheet-header-border-color: var(--s-border-color);

  --s-action-sheet-title-font-size: var(--s-text-lg);

  --s-action-sheet-description-margin-top: 8px;
  --s-action-sheet-description-font-size: var(--s-text-base);
  --s-action-sheet-description-color: var(--s-tertiary-color);

  --s-action-sheet-item-padding: 14px;
  --s-action-sheet-item-border-color: var(--s-border-color);
  --s-action-sheet-item-bg: var(--s-emphasis-bg);
  --s-action-sheet-item-active-bg: var(--s-active-bg);

  --s-action-sheet-gap-bg: var(--s-gray-100);
  --s-action-sheet-gap-height: 8px;

  --s-action-sheet-item-title-font-size: var(--s-text-base);

  --s-action-sheet-item-label-margin-top: 8px;
  --s-action-sheet-item-label-font-size: var(--s-text-sm);
  --s-action-sheet-item-label-color: var(--s-tertiary-color);

  --s-action-sheet-cancel-font-size: var(--s-text-base);
  --s-action-sheet-cancel-padding: 14px;
  --s-action-sheet-cancel-bg: var(--s-emphasis-bg);
  --s-action-sheet-cancel-active-bg: var(--s-active-bg);
}

[data-s-theme='dark'] {
  --s-action-sheet-gap-bg: var(--s-gray-900);
}
// #endvariables

.s-action-sheet {
  border-top-left-radius: var(--s-action-sheet-border-radius);
  border-top-right-radius: var(--s-action-sheet-border-radius);
  background-color: var(--s-action-sheet-bg);
}

.s-action-sheet-header {
  position: relative;
  padding: var(--s-action-sheet-header-padding);

  @include border-bottom(var(--s-action-sheet-header-border-color));

  @at-root {
    .s-action-sheet-title {
      font-size: var(--s-action-sheet-title-font-size);
      font-weight: bold;
      text-align: center;
    }
    .s-action-sheet-description {
      font-size: var(--s-action-sheet-description-font-size);
      text-align: center;
      color: var(--s-action-sheet-description-color);

      .s-action-sheet-title ~ & {
        margin-top: var(--s-action-sheet-description-margin-top);
      }
    }
  }
}

.s-action-sheet-gap {
  height: var(--s-action-sheet-gap-height);
  background-color: var(--s-action-sheet-gap-bg);
}

.s-action-sheet-item {
  @include button-flush;

  position: relative;
  display: block;
  width: 100%;
  padding: var(--s-action-sheet-item-padding);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--s-action-sheet-item-bg);

  .s-action-sheet-headless &:first-child {
    border-top-left-radius: var(--s-action-sheet-border-radius);
    border-top-right-radius: var(--s-action-sheet-border-radius);
  }

  &:not(:first-child) {
    @include border-top(var(--s-action-sheet-item-border-color));
  }

  &:not([disabled]):not(.s-action-sheet-item-disabled):not(
      .s-action-sheet-item-loading
    ):active {
    background-color: var(--s-action-sheet-item-active-bg);
  }

  @at-root {
    .s-action-sheet-item-title {
      font-size: var(--s-action-sheet-item-title-font-size);
    }
    .s-action-sheet-item-label {
      margin-top: var(--s-action-sheet-item-label-margin-top);
      font-size: var(--s-action-sheet-item-label-font-size);
      color: var(--s-action-sheet-item-label-color);
    }
  }
}

// 禁用
.s-action-sheet-item-disabled {
  @include disabled-text;
}

// loading
.s-action-sheet-item-loading {
  cursor: default;
}

.s-action-sheet-cancel {
  @include button-flush;

  display: block;
  width: 100%;
  padding: var(--s-action-sheet-cancel-padding);
  font-size: var(--s-action-sheet-cancel-font-size);
  text-align: center;
  cursor: pointer;
  background-color: var(--s-action-sheet-cancel-bg);

  &:active {
    background-color: var(--s-action-sheet-cancel-active-bg);
  }
}
