@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/disabled.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-accordion-item-body-padding-x: 16px !default;
$sar-accordion-item-body-padding-y: 16px !default;
$sar-accordion-item-body-bg: $sar-emphasis-bg !default;
// #endvariables

@include bem(accordion) {
  @include e(item) {
    @include universal;
  }

  @include e(item-header) {
    @include universal;

    @include m(disabled) {
      @include ifweb {
        cursor: not-allowed;
      }
    }
  }

  @include e(item-body) {
    @include universal;
    padding: $sar-accordion-item-body-padding-y
      $sar-accordion-item-body-padding-x;
    background-color: $sar-accordion-item-body-bg;
  }

  @include e(halfline) {
    left: $sar-accordion-item-body-padding-x;
    right: $sar-accordion-item-body-padding-x;
  }

  @include m(disabled) {
    @include disabled;
  }
}
