@use '../style/mixins/bem';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-radio-icon-font-size: 20px;
  --sar-radio-icon-color: var(--sar-quaternary-color);
  --sar-radio-icon-checked-color: var(--sar-primary);
  --sar-radio-icon-transition-duration: var(--sar-duration);

  --sar-radio-label-margin-left: 8px;

  --sar-radio-margin-left: 20px;
  --sar-radio-margin-top: 10px;
}
// #endvariables

@include bem.bem(radio) {
  @include bem.b() {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  @include bem.e(icon) {
    font-size: var(--sar-radio-icon-font-size);
    line-height: 1;
    color: var(--sar-radio-icon-color);
    transition: color var(--sar-radio-icon-transition-duration);

    @include bem.m(checked) {
      color: var(--sar-radio-icon-checked-color);
    }
  }

  @include bem.e(label) {
    display: flex;
    margin-left: var(--sar-radio-label-margin-left);
    user-select: auto;
  }

  @include bem.m(disabled) {
    @include disabled.disabled;
  }

  @include bem.m(readonly) {
    cursor: default;
  }
}
