@import '../style/base.scss';

// #variables
:root,
page {
  --sar-radio-icon-font-size: 20px;
  --sar-radio-icon-color: var(--sar-quaternary-color);
  --sar-radio-icon-checked-color: var(--sar-primary);
  --sar-radio-icon-transition-duration: var(--sar-duration);

  --sar-radio-label-margin-left: 8px;

  --sar-radio-margin-left: 20px;
  --sar-radio-margin-top: 10px;
}
// #endvariables

@include bem(radio) {
  @include b() {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  @include e(icon) {
    font-size: var(--sar-radio-icon-font-size);
    line-height: 1;
    color: var(--sar-radio-icon-color);
    transition: color var(--sar-radio-icon-transition-duration);

    @include m(checked) {
      color: var(--sar-radio-icon-checked-color);
    }
  }

  @include e(label) {
    display: flex;
    margin-left: var(--sar-radio-label-margin-left);
    user-select: auto;
  }

  @include m(disabled) {
    @include disabled;
  }

  @include m(later) {
    margin-left: var(--sar-radio-margin-left);
  }

  @include m(vertical-later) {
    margin-top: var(--sar-radio-margin-top);
  }
}

@include bem(radio-group) {
  @include b() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }

  @include m(vertical) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
