@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-popup-z-index: 1100;
}
// #endvariables

@include bem.bem(popup) {
  @include bem.b() {
    position: fixed;
    z-index: var(--sar-popup-z-index);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include bem.m(slide-top) {
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
    }

    @include bem.m(slide-right) {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
    }

    @include bem.m(slide-bottom) {
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @include bem.m(slide-left) {
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
    }
    @include bem.m(fade, zoom) {
      top: 50%;
      right: 0;
      bottom: auto;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      transform: translateY(-50%);
    }
  }

  @include bem.m(hiding) {
    pointer-events: none;
  }
}
