@import '../style/base.scss';

// #variables
:root,
page {
  --sar-popup-z-index: 1100;
  --sar-popup-mask-z-index: 1100;
  --sar-popup-mask-bg: var(--sar-mask);
}
// #endvariables

@include bem(popup) {
  @include b() {
    position: fixed;
    z-index: var(--sar-popup-z-index);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include m(slide-top) {
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
    }

    @include m(slide-right) {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
    }

    @include m(slide-bottom) {
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @include m(slide-left) {
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
    }
    @include m(fade, zoom) {
      top: 50%;
      right: 0;
      bottom: auto;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      transform: translateY(-50%);
    }
  }

  @include e(mask) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--sar-popup-mask-z-index);
    display: none;
    background-color: var(--sar-popup-mask-bg);
    touch-action: none;

    @include m(transparent) {
      background-color: transparent;
    }
  }

  @include m(hiding) {
    pointer-events: none;
  }
}
