@import '../style/mixins.scss';

// #variables
:root {
  --s-dialog-width: 320px;
  --s-dialog-max-width: 90vw;
  --s-dialog-bg: var(--s-emphasis-bg);
  --s-dialog-border-radius: var(--s-rounded-xl);

  --s-dialog-header-padding-y: 16px;
  --s-dialog-header-padding-x: 16px;
  --s-dialog-header-border-color: var(--s-border-color);
  --s-dialog-header-line-height: var(--s-leading-normal);

  --s-dialog-title-font-size: var(--s-text-lg);
  --s-dialog-headed-title-font-size: var(--s-text-base);

  --s-dialog-close-padding: 16px;
  --s-dialog-close-font-size: var(--s-text-lg);

  --s-dialog-body-padding-y: 24px;
  --s-dialog-body-padding-x: 16px;

  --s-dialog-message-margin-top: 10px;
  --s-dialog-message-font-size: var(--s-text-base);
  --s-dialog-message-color: var(--s-secondary-color);

  --s-dialog-footer-border-color: var(--s-border-color);

  --s-dialog-round-button-footer-padding-x: 16px;
  --s-dialog-round-button-footer-padding-y: 16px;
  --s-dialog-round-button-button-gap: 16px;
}
// #endvariables

.s-dialog {
  display: flex;
  flex-direction: column;
  width: var(--s-dialog-width);
  max-width: var(--s-dialog-max-width);
  background-color: var(--s-dialog-bg);
  border-radius: var(--s-dialog-border-radius);

  @at-root {
    .s-dialog-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: var(--s-dialog-header-padding-y);
      padding-left: var(--s-dialog-header-padding-x);
      padding-right: var(--s-dialog-header-padding-x);
      line-height: var(--s-dialog-header-line-height);

      .s-dialog:not(.s-dialog-untitled) & {
        padding-bottom: var(--s-dialog-header-padding-y);
        @include border-bottom(var(--s-dialog-header-border-color));
      }

      @at-root {
        .s-dialog-title {
          font-size: var(--s-dialog-title-font-size);
          font-weight: bold;
          text-align: center;
        }

        .s-dialog-close {
          height: auto;
          margin-top: calc(var(--s-dialog-header-padding-y) * -1);
          margin-right: calc(var(--s-dialog-header-padding-x) * -1);
          margin-bottom: calc(var(--s-dialog-header-padding-y) * -1);
          padding: var(--s-dialog-close-padding);
          border: none;
          font-size: var(--s-dialog-close-font-size);
          line-height: inherit;
          cursor: pointer;
        }
      }
    }

    .s-dialog-body {
      padding: var(--s-dialog-body-padding-y) var(--s-dialog-body-padding-x);

      @at-root {
        .s-dialog-message {
          font-size: var(--s-dialog-message-font-size);
          text-align: center;
          color: var(--s-dialog-message-color);

          .s-dialog-title ~ & {
            margin-top: var(--s-dialog-message-margin-top);
          }
        }
      }
    }

    .s-dialog-footer {
      position: relative;
      display: flex;
      flex-direction: row;

      .s-dialog:not(.s-dialog-round-button) & {
        @include border-top(var(--s-dialog-footer-border-color));
      }

      @at-root {
        .s-dialog-button {
          flex: 1 1 0;

          .s-dialog:not(.s-dialog-round-button) & {
            border-radius: 0;

            &:first-child {
              border-bottom-left-radius: var(--s-dialog-border-radius);
            }
            &:last-child {
              border-bottom-right-radius: var(--s-dialog-border-radius);
            }
            &:not(:first-child) {
              border-left: none;
              @include border-left(var(--s-dialog-footer-border-color)) {
                left: -0.5px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

.s-dialog-round-button {
  .s-dialog-footer {
    padding-left: var(--s-dialog-round-button-footer-padding-x);
    padding-right: var(--s-dialog-round-button-footer-padding-x);
    padding-bottom: var(--s-dialog-round-button-footer-padding-y);
  }

  .s-dialog-button:not(:first-child) {
    margin-left: var(--s-dialog-round-button-button-gap);
  }
}

.s-dialog-headed {
  .s-dialog-title {
    font-size: var(--s-dialog-headed-title-font-size);
  }

  &.s-dialog-untitled {
    .s-dialog-body {
      padding-top: 0;
    }
  }
}
