@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/disabled.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-stepper-height: 36px !default;
$sar-stepper-bg: $sar-secondary-bg !default;

$sar-stepper-input-gap: 4px !default;
$sar-stepper-input-width: 50px !default;
$sar-stepper-input-padding-x: 5px !default;

$sar-stepper-button-width: $sar-stepper-height !default;
$sar-stepper-button-font-size: 18px !default;
$sar-stepper-button-border-radius: $sar-rounded-sm !default;
$sar-stepper-button-active-bg: $sar-gray-300 !default;

// @media (prefers-color-scheme: dark) {
//   :root,
//   page {
//     $sar-stepper-button-active-bg: $sar-gray-600;
//   }
// }
// #endvariables

@include bem(stepper) {
  @include b() {
    @include universal;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: $sar-stepper-input-gap;
    height: $sar-stepper-height;
  }

  @include e(button) {
    @include universal;
    justify-content: center;
    align-items: center;
    width: $sar-stepper-button-width;
    font-size: $sar-stepper-button-font-size;
    background-color: $sar-stepper-bg;

    @include ifweb {
      cursor: pointer;

      @include m(readonly) {
        cursor: default;
      }
    }

    @include m(pressed) {
      background-color: $sar-stepper-button-active-bg;
    }

    @include m(disabled) {
      @include disabled;
    }
  }

  @include e(decrease) {
    flex: none;
    border-top-left-radius: $sar-stepper-button-border-radius;
    border-bottom-left-radius: $sar-stepper-button-border-radius;
  }

  @include e(increase) {
    flex: none;
    border-top-right-radius: $sar-stepper-button-border-radius;
    border-bottom-right-radius: $sar-stepper-button-border-radius;
  }

  @include e(input) {
    width: $sar-stepper-input-width;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $sar-stepper-input-padding-x;
    padding-right: $sar-stepper-input-padding-x;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-color: $sar-stepper-bg;
  }
}
