// #variables
:root {
  --s-steps-step-active-bg: var(--s-active-bg);

  --s-steps-icon-finish-color: var(--s-primary);
  --s-steps-icon-process-color: var(--s-primary);
  --s-steps-icon-wait-color: var(--s-tertiary-color);
  --s-steps-icon-error-color: var(--s-danger);

  --s-steps-text-finish-color: var(--s-body-color);
  --s-steps-text-process-color: var(--s-primary);
  --s-steps-text-wait-color: var(--s-tertiary-color);
  --s-steps-text-error-color: var(--s-danger);

  --s-steps-header-gap-y: 5px;
  --s-steps-header-gap-x: 10px;
  --s-steps-header-vertical-top: 4px;

  --s-steps-line-thickness: 1px;
  --s-steps-line-gap: 3px;
  --s-steps-line-color: var(--s-border-color);
  --s-steps-line-active-color: var(--s-primary);

  --s-steps-icon-font-size: 14px;

  --s-steps-body-padding-x: 10px;
  --s-steps-body-padding-y: 10px;
}
// #endvariables

.s-steps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.s-steps-step {
  display: flex;
  flex-direction: column;
  flex: 1;

  &:last-child {
    flex: none;
    white-space: nowrap;
  }

  &.s-steps-disabled {
    @include disabled;
  }

  @at-root {
    .s-steps-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: var(--s-steps-header-gap-y);
      padding-bottom: var(--s-steps-header-gap-y);

      @at-root {
        .s-steps-line {
          flex: 1;
          height: var(--s-steps-line-thickness);
          width: 0;
          margin-left: var(--s-steps-line-gap);
          margin-right: var(--s-steps-line-gap);

          .s-steps-step:last-child & {
            display: none;
          }
        }
        .s-steps-line-before {
          display: none;
        }
        .s-steps-step:first-child .s-steps-line-before {
          visibility: hidden;
        }
        .s-steps-step:last-child .s-steps-line-after {
          visibility: hidden;
        }
        .s-steps-icon {
          font-size: var(--s-steps-icon-font-size);
          line-height: 1;
        }
      }
    }
  }
}

.s-steps-finish {
  color: var(--s-steps-text-finish-color);
  .s-steps-icon {
    color: var(--s-steps-icon-finish-color);
  }
  .s-steps-line {
    background-color: var(--s-steps-line-active-color);
  }
}

.s-steps-process {
  color: var(--s-steps-text-process-color);
  .s-steps-icon {
    color: var(--s-steps-icon-process-color);
  }
  .s-steps-line {
    background-color: var(--s-steps-line-color);
  }
  .s-steps-line-before {
    background-color: var(--s-steps-line-active-color);
  }
}

.s-steps-wait {
  color: var(--s-steps-text-wait-color);
  .s-steps-icon {
    color: var(--s-steps-icon-wait-color);
  }
  .s-steps-line {
    background-color: var(--s-steps-line-color);
  }
}

.s-steps-error {
  color: var(--s-steps-text-error-color);
  .s-steps-icon {
    color: var(--s-steps-icon-error-color);
  }
  .s-steps-line {
    background-color: var(--s-steps-line-color);
  }
}

// # 垂直步骤条
.s-steps-vertical {
  flex-direction: column;
  align-items: stretch;

  .s-steps-step {
    flex-direction: row;
  }

  .s-steps-header {
    position: relative;
    top: calc(
      var(--s-steps-header-vertical-top) + var(--s-steps-body-padding-y) / 2
    );
    flex: none;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--s-steps-header-gap-x);
    padding-right: var(--s-steps-header-gap-x);
  }
  .s-steps-line {
    width: var(--s-steps-line-thickness);
    height: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--s-steps-line-gap);
    margin-bottom: var(--s-steps-line-gap);
  }

  .s-steps-body {
    flex: 1;
    padding-top: calc(var(--s-steps-body-padding-y) / 2);
    padding-bottom: calc(var(--s-steps-body-padding-y) / 2);
  }
  .s-steps-step:last-child {
    white-space: unset;
  }
}

// # 居中
.s-steps-center {
  .s-steps-step {
    justify-content: center;
    text-align: center;

    &:last-child {
      flex: 1;
      white-space: unset;

      .s-steps-line {
        display: block;
      }
    }
  }

  .s-steps-line-before {
    display: block;
    margin-left: 0;
  }

  .s-steps-line-after {
    margin-right: 0;
  }
}

// # 垂直居中
.s-steps-vertical.s-steps-center {
  .s-steps-step {
    justify-content: center;
    align-items: center;
    text-align: left;

    &:last-child {
      flex: 1;
      white-space: unset;

      .s-steps-line {
        display: block;
      }
    }
  }
  .s-steps-header {
    top: 0;
    align-self: stretch;
  }

  .s-steps-line-before {
    margin-top: 0;
  }

  .s-steps-line-after {
    margin-bottom: 0;
  }
}

// # 可点击的
.s-steps-clickable {
  .s-steps-step:not(.s-steps-disabled) {
    cursor: pointer;
    &:active {
      background-color: var(--s-steps-step-active-bg);
    }
  }
}
