@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-number-keyboard-z-index: 1120;

  --sar-number-keyboard-bg: var(--sar-gray-200);

  --sar-number-keyboard-body-padding-x: 5px;
  --sar-number-keyboard-body-padding-y: 5px;

  --sar-number-keyboard-key-gap: 5px;
  --sar-number-keyboard-key-height: 48px;
  --sar-number-keyboard-key-border-radius: var(--sar-rounded);
  --sar-number-keyboard-key-font-size: var(--sar-text-xl);
  --sar-number-keyboard-key-color: var(--sar-body-color);
  --sar-number-keyboard-key-bg: var(--sar-white);
  --sar-number-keyboard-key-active-bg: var(--sar-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root,
  page {
    --sar-number-keyboard-bg: var(--sar-gray-800);
    --sar-number-keyboard-key-color: var(--sar-white);
    --sar-number-keyboard-key-bg: var(--sar-gray-700);
    --sar-number-keyboard-key-active-bg: var(--sar-gray-600);
  }
}
// #endvariables

@include bem.bem(number-keyboard) {
  @include bem.b() {
    z-index: var(--sar-number-keyboard-z-index);

    background-color: var(--sar-number-keyboard-bg);
  }

  @include bem.e(body) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--sar-number-keyboard-body-padding-y)
      var(--sar-number-keyboard-body-padding-x);
    margin: calc(var(--sar-number-keyboard-key-gap) / 2 * -1);
  }

  @include bem.e(key-wrapper) {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.3333%;
    width: 33.3333%;
    padding: calc(var(--sar-number-keyboard-key-gap) / 2);

    @include bem.m(lastnum) {
      order: 1;
    }
  }

  @include bem.e(backspace) {
    max-width: 33.3333%;
    order: 2;
  }

  @include bem.e(key) {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--sar-number-keyboard-key-height);
    border-radius: var(--sar-number-keyboard-key-border-radius);
    font-size: var(--sar-number-keyboard-key-font-size);
    color: var(--sar-number-keyboard-key-color);
    background-color: var(--sar-number-keyboard-key-bg);
    user-select: none;
    cursor: pointer;

    &:active {
      background-color: var(--sar-number-keyboard-key-active-bg);
    }
  }
}
