@import '../style/base.scss';

// #variables
// #endvariables

@include bem(row) {
  @include b() {
    display: flex;
    flex-flow: row wrap;
  }
}

@include bem(col) {
  @include b() {
    box-sizing: border-box;
    flex: 1 0 0;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
  }

  @include m(auto) {
    flex: 0 0 auto;
    width: auto;
  }

  @include m(none) {
    flex: 0 0 auto;
    width: auto;
  }

  @include make-col($sar-col-columns);

  @include make-offset($sar-col-columns);
}
