@use '../style/variables' as var;
@use '../style/mixins/bem';
@use '../style/mixins/grid';

// #variables
// #endvariables

@include bem.bem(row) {
  @include bem.b() {
    display: flex;
    flex-flow: row wrap;
  }
}

@include bem.bem(col) {
  @include bem.b() {
    box-sizing: border-box;
    flex: 1 0 0;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
  }

  @include bem.m(auto) {
    flex: 0 0 auto;
    width: auto;
  }

  @include bem.m(none) {
    flex: 0 0 auto;
    width: auto;
  }

  @include grid.make-col(var.$sar-col-columns);

  @include grid.make-offset(var.$sar-col-columns);
}
