// #variables
:root {
  --s-image-preview-header-padding-y: 15px;
  --s-image-preview-header-padding-x: 20px;
  --s-image-preview-header-text-shadow: 1px 1px 3px var(--s-black);
  --s-image-preview-header-color: var(--s-white);
  --s-image-preview-header-opacity: 0.85;
  --s-image-preview-header-transition-duration: var(--s-duration);

  --s-image-preview-counter-font-size: var(--s-text-base);

  --s-image-preview-close-padding: 10px;
  --s-image-preview-close-font-size: var(--s-text-xl);

  --s-image-preview-mask-bg: var(--s-mask-dark);
}
// #endvariables

.s-image-preview-popup-content {
  width: 100%;
  height: 100%;
}

.s-image-preview {
  position: relative;
  width: 100%;
  height: 100%;
  touch-action: none;

  @at-root {
    .s-image-preview-header {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: var(--s-image-preview-header-padding-y)
        var(--s-image-preview-header-padding-x);
      text-shadow: var(--s-image-preview-header-text-shadow);
      color: var(--s-image-preview-header-color);
      opacity: var(--s-image-preview-header-opacity);
      transition: var(--s-image-preview-header-transition-duration);
      pointer-events: none;

      @at-root {
        .s-image-preview-counter {
          font-size: var(--s-image-preview-counter-font-size);
        }
        .s-image-preview-close {
          display: flex;
          padding: var(--s-image-preview-close-padding);
          margin-right: -var(--s-image-preview-close-padding);
          font-size: var(--s-image-preview-close-font-size);
          pointer-events: auto;
          cursor: pointer;

          .s-image-preview-header-hidden & {
            pointer-events: none;
          }
        }
      }
    }
    .s-image-preview-body {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;

      @at-root {
        .s-image-preview-swiper {
          width: 100%;
          height: 100%;

          @at-root {
            .s-image-preview-item {
              display: flex;
              justify-content: center;
              align-items: center;

              @at-root {
                .s-image-preview-wrap {
                  width: 100%;
                  height: auto;
                  touch-action: none;
                  transition: transform 300ms;
                }

                .s-image-preview-wrap-vertical {
                  width: auto;
                  height: 100%;
                }

                @at-root {
                  .s-image-preview-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    pointer-events: none;
                    user-select: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.s-image-preview-mask {
  background-color: var(--s-image-preview-mask-bg);
}

.s-image-preview-header-hidden {
  opacity: 0;
}
