@import '../style/base.scss';
@import './font/iconfont.scss';

// #variables
$sar-icon-image-size: $sar-text-base !default;
// #endvariables

@include bem(icon) {
  @include b() {
    font-family: sard-icons;
    @include if-web {
      vertical-align: middle;
    }
  }

  @include e(image) {
    @include universal;
    width: $sar-icon-image-size;
    height: $sar-icon-image-size;
    justify-content: center;
    align-items: center;
  }
}
