@import '../style/mixins.scss';

// #variables
:root {
  --s-radio-icon-font-size: 1.25em;
  --s-radio-icon-color: var(--s-tertiary-color);
  --s-radio-icon-checked-color: var(--s-primary);
  --s-radio-icon-transition-duration: var(--s-duration);

  --s-radio-label-margin-left: 0.5em;

  --s-radio-margin-left: 1em;
  --s-radio-margin-top: 1em;
}
// #endvariables

.s-radio {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  cursor: pointer;

  @at-root {
    .s-radio-icon {
      font-size: var(--s-radio-icon-font-size);
      line-height: 1;
      color: var(--s-radio-icon-color);
      transition: color var(--s-radio-icon-transition-duration);
    }

    .s-radio-label {
      display: flex;
      margin-left: var(--s-radio-label-margin-left);
      user-select: auto;
    }
  }
}

// # 选中状态
.s-radio-checked {
  .s-radio-icon {
    color: var(--s-radio-icon-checked-color);
  }
}

// # 禁用状态
.s-radio-disabled {
  @include disabled;
}

// # 单选按钮组
.s-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  &:not(.s-radio-group-vertical) .s-radio ~ .s-radio {
    margin-left: var(--s-radio-margin-left);
  }
}
.s-radio-group-vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .s-radio ~ .s-radio {
    margin-top: var(--s-radio-margin-top);
  }
}
