@import '../style/base.scss';

// #variables
:root,
page {
  --sar-steps-step-font-size: var(--sar-text-base);
  --sar-steps-step-active-bg: var(--sar-active-bg);

  --sar-steps-icon-finish-color: var(--sar-primary);
  --sar-steps-icon-process-color: var(--sar-primary);
  --sar-steps-icon-wait-color: var(--sar-tertiary-color);
  --sar-steps-icon-error-color: var(--sar-danger);

  --sar-steps-text-finish-color: var(--sar-body-color);
  --sar-steps-text-process-color: var(--sar-primary);
  --sar-steps-text-wait-color: var(--sar-tertiary-color);
  --sar-steps-text-error-color: var(--sar-danger);

  --sar-steps-header-gap-y: 5px;
  --sar-steps-header-gap-x: 10px;
  --sar-steps-header-vertical-top: 4px;

  --sar-steps-line-thickness: 1px;
  --sar-steps-line-gap: 3px;
  --sar-steps-line-color: var(--sar-border-color);
  --sar-steps-line-active-color: var(--sar-primary);

  --sar-steps-icon-font-size: 14px;

  --sar-steps-body-padding-x: 10px;
  --sar-steps-body-padding-y: 10px;
}
// #endvariables

@include bem(steps) {
  @include b() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  @include m(vertical) {
    flex-direction: column;
    align-items: stretch;
  }

  @include m(finish) {
    color: var(--sar-steps-text-finish-color);
  }

  @include m(process) {
    color: var(--sar-steps-text-process-color);
  }

  @include m(wait) {
    color: var(--sar-steps-text-wait-color);
  }

  @include m(error) {
    color: var(--sar-steps-text-error-color);
  }

  @include e(step) {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: var(--sar-steps-step-font-size);

    @include m(last) {
      flex: none;
      white-space: nowrap;
    }

    @include m(center) {
      justify-content: center;
      text-align: center;
    }

    @include m(center-last) {
      flex: 1;
      white-space: unset;
    }

    @include m(vertical) {
      flex-direction: row;
    }

    @include m(vertical-center) {
      justify-content: center;
      align-items: center;
      text-align: left;
    }

    @include m(vertical-center-last) {
      flex: 1;
      white-space: unset;
    }

    @include m(interactive) {
      cursor: pointer;
      &:active {
        background-color: var(--sar-steps-step-active-bg);
      }
    }

    @include m(disabled) {
      @include disabled;
    }
  }

  @include e(header) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: var(--sar-steps-header-gap-y);
    padding-bottom: var(--sar-steps-header-gap-y);

    @include m(vertical) {
      position: relative;
      top: calc(
        var(--sar-steps-header-vertical-top) + var(--sar-steps-body-padding-y) /
          2
      );
      flex: none;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: var(--sar-steps-header-gap-x);
      padding-right: var(--sar-steps-header-gap-x);
    }

    @include m(vertical-center) {
      top: 0;
      align-self: stretch;
    }
  }

  @include e(line) {
    height: var(--sar-steps-line-thickness);
    width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-left: var(--sar-steps-line-gap);
    margin-right: var(--sar-steps-line-gap);
    background-color: var(--sar-steps-line-color);

    @include m(behind) {
      background-color: var(--sar-steps-line-active-color);
    }

    @include m(last) {
      display: none;
    }

    @include m(center-last) {
      display: flex;
    }

    @include m(vertical) {
      width: var(--sar-steps-line-thickness);
      height: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: var(--sar-steps-line-gap);
      margin-bottom: var(--sar-steps-line-gap);
    }

    @include m(vertical-last) {
      white-space: unset;
    }

    @include m(vertical-center-last) {
      display: flex;
    }
  }

  @include e(line-before) {
    display: none;

    @include m(self) {
      background-color: var(--sar-steps-line-active-color);
    }

    @include m(first) {
      visibility: hidden;
    }

    @include m(center) {
      display: flex;
      margin-left: 0;
    }

    @include m(vertical-center) {
      margin-top: 0;
    }
  }

  @include e(line-after) {
    @include m(last) {
      visibility: hidden;
    }

    @include m(center) {
      margin-right: 0;
    }

    @include m(vertical-center) {
      margin-bottom: 0;
    }
  }

  @include e(icon) {
    font-size: var(--sar-steps-icon-font-size);
    line-height: 1;

    @include m(finish) {
      color: var(--sar-steps-icon-finish-color);
    }

    @include m(process) {
      color: var(--sar-steps-icon-process-color);
    }

    @include m(wait) {
      color: var(--sar-steps-icon-wait-color);
    }

    @include m(error) {
      color: var(--sar-steps-icon-error-color);
    }
  }

  @include e(body) {
    @include m(vertical) {
      flex: 1;
      padding-top: calc(var(--sar-steps-body-padding-y) / 2);
      padding-bottom: calc(var(--sar-steps-body-padding-y) / 2);
    }
  }
}
