@import '../style/mixins.scss';

// #variables
:root,
page {
  --sar-share-sheet-z-index: 1100;

  --sar-share-sheet-border-radius: var(--sar-rounded-xl);
  --sar-share-sheet-bg: var(--sar-emphasis-bg);

  --sar-share-sheet-header-padding: 14px;
  --sar-share-sheet-header-border-color: var(--sar-border-color);

  --sar-share-sheet-title-font-size: var(--sar-text-lg);

  --sar-share-sheet-description-margin-top: 8px;
  --sar-share-sheet-description-font-size: var(--sar-text-base);
  --sar-share-sheet-description-color: var(--sar-tertiary-color);

  --sar-share-sheet-row-border-color: var(--sar-border-color);
  --sar-share-sheet-row-padding-y: 16px;
  --sar-share-sheet-row-padding-x: 8px;

  --sar-share-sheet-item-active-opacity: var(--sar-active-opacity);

  --sar-share-sheet-icon-margin-x: 16px;
  --sar-share-sheet-icon-size: 48px;
  --sar-share-sheet-icon-font-size: 24px;
  --sar-share-sheet-icon-color: var(--sar-tertiary-color);
  --sar-share-sheet-icon-bg: var(--sar-secondary-bg);

  --sar-share-sheet-name-margin-top: 8px;
  --sar-share-sheet-name-padding-x: 4px;
  --sar-share-sheet-name-font-size: var(--sar-text-base);
  --sar-share-sheet-name-color: var(--sar-tertiary-color);

  --sar-share-sheet-label-margin-top: 0;
  --sar-share-sheet-label-padding-x: 4px;
  --sar-share-sheet-label-font-size: var(--sar-text-sm);
  --sar-share-sheet-label-color: var(--sar-tertiary-color);

  --sar-share-sheet-gap-bg: var(--sar-gray-100);
  --sar-share-sheet-gap-height: 8px;

  --sar-share-sheet-cancel-font-size: var(--sar-text-base);
  --sar-share-sheet-cancel-padding: 14px;
  --sar-share-sheet-cancel-bg: var(--sar-emphasis-bg);
  --sar-share-sheet-cancel-active-bg: var(--sar-active-bg);
}

@media (prefers-color-scheme: dark) {
  :root,
  page {
    --sar-share-sheet-gap-bg: var(--sar-gray-900);
  }
}
// #endvariables

.sar-share-sheet {
  z-index: var(--sar-share-sheet-z-index);

  border-top-left-radius: var(--sar-share-sheet-border-radius);
  border-top-right-radius: var(--sar-share-sheet-border-radius);
  background-color: var(--sar-share-sheet-bg);
  touch-action: pan-x;

  @at-root {
    .sar-share-sheet-header {
      position: relative;
      padding: var(--sar-share-sheet-header-padding);

      @include border-bottom(var(--sar-share-sheet-header-border-color));

      @at-root {
        .sar-share-sheet-title {
          font-size: var(--sar-share-sheet-title-font-size);
          font-weight: bold;
          text-align: center;
        }
        .sar-share-sheet-description {
          font-size: var(--sar-share-sheet-description-font-size);
          text-align: center;
          color: var(--sar-share-sheet-description-color);

          .sar-share-sheet-title ~ & {
            margin-top: var(--sar-share-sheet-description-margin-top);
          }
        }
      }
    }

    .sar-share-sheet-body {
      @at-root {
        .sar-share-sheet-row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          padding: var(--sar-share-sheet-row-padding-y)
            var(--sar-share-sheet-row-padding-x);
          overflow-x: auto;
          overflow-y: hidden;
          touch-action: pan-x;

          &::-webkit-scrollbar {
            height: 0;
          }
          &:not(:first-child) {
            @include border-top(var(--sar-share-sheet-row-border-color));
          }
          .sar-share-sheet.sar-share-sheet-headless &:first-child {
            border-top-left-radius: var(--sar-share-sheet-border-radius);
            border-top-right-radius: var(--sar-share-sheet-border-radius);
          }

          @at-root {
            .sar-share-sheet-item {
              @include button-flush;

              display: flex;
              flex-direction: column;
              align-items: center;
              flex-grow: 0;
              flex-shrink: 0;
              width: auto;
              line-height: inherit;
              cursor: pointer;
              user-select: none;

              &:not(.sar-share-sheet-item-disabled):not([disabled]):active {
                background-color: transparent;
                opacity: var(--sar-share-sheet-item-active-opacity);
                color: inherit;
              }

              &::after {
                display: none;
              }

              @at-root {
                .sar-share-sheet-icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: var(--sar-share-sheet-icon-size);
                  height: var(--sar-share-sheet-icon-size);
                  margin: 0 var(--sar-share-sheet-icon-margin-x);
                  border-radius: 100%;
                  font-size: var(--sar-share-sheet-icon-font-size);
                  color: var(--sar-share-sheet-icon-color);
                  background-color: var(--sar-share-sheet-icon-bg);
                }
                .sar-share-sheet-img {
                  display: flex;
                  width: var(--sar-share-sheet-icon-size);
                  height: var(--sar-share-sheet-icon-size);
                  margin: 0 var(--sar-share-sheet-icon-margin-x);
                  object-fit: contain;
                }
                .sar-share-sheet-name {
                  margin-top: var(--sar-share-sheet-name-margin-top);
                  padding: 0 var(--sar-share-sheet-name-padding-x);
                  font-size: var(--sar-share-sheet-name-font-size);
                  color: var(--sar-share-sheet-name-color);
                }
                .sar-share-sheet-label {
                  margin-top: var(--sar-share-sheet-label-margin-top);
                  padding: 0 var(--sar-share-sheet-label-padding-x);
                  font-size: var(--sar-share-sheet-label-font-size);
                  color: var(--sar-share-sheet-label-color);
                }
              }
            }
          }
        }
      }
    }

    .sar-share-sheet-gap {
      height: var(--sar-share-sheet-gap-height);
      background-color: var(--sar-share-sheet-gap-bg);
    }

    .sar-share-sheet-cancel {
      @include button-flush;

      display: block;
      width: 100%;
      padding: var(--sar-share-sheet-cancel-padding);
      font-size: var(--sar-share-sheet-cancel-font-size);
      line-height: inherit;
      text-align: center;
      cursor: pointer;
      background-color: var(--sar-share-sheet-cancel-bg);

      &:not([disabled]):active {
        background-color: var(--sar-share-sheet-cancel-active-bg);
        color: inherit;
      }
    }
  }
}

// 禁用
.sar-share-sheet-item-disabled {
  @include disabled;
}
