@import '../style/base.scss';

// #variables
:root,
page {
  --sar-share-sheet-z-index: 1100;

  --sar-share-sheet-border-radius: var(--sar-rounded-xl);
  --sar-share-sheet-bg: var(--sar-emphasis-bg);

  --sar-share-sheet-header-padding: 14px;
  --sar-share-sheet-header-border-color: var(--sar-border-color);

  --sar-share-sheet-title-font-size: var(--sar-text-lg);

  --sar-share-sheet-description-margin-top: 8px;
  --sar-share-sheet-description-font-size: var(--sar-text-base);
  --sar-share-sheet-description-color: var(--sar-tertiary-color);

  --sar-share-sheet-row-border-color: var(--sar-border-color);
  --sar-share-sheet-row-padding-y: 16px;
  --sar-share-sheet-row-padding-x: 8px;

  --sar-share-sheet-item-active-opacity: var(--sar-active-opacity);

  --sar-share-sheet-icon-margin-x: 16px;
  --sar-share-sheet-icon-size: 48px;
  --sar-share-sheet-icon-font-size: 24px;
  --sar-share-sheet-icon-color: var(--sar-tertiary-color);
  --sar-share-sheet-icon-bg: var(--sar-secondary-bg);

  --sar-share-sheet-name-margin-top: 8px;
  --sar-share-sheet-name-padding-x: 4px;
  --sar-share-sheet-name-font-size: var(--sar-text-base);
  --sar-share-sheet-name-color: var(--sar-tertiary-color);

  --sar-share-sheet-label-margin-top: 0;
  --sar-share-sheet-label-padding-x: 4px;
  --sar-share-sheet-label-font-size: var(--sar-text-sm);
  --sar-share-sheet-label-color: var(--sar-tertiary-color);

  --sar-share-sheet-gap-bg: var(--sar-gray-100);
  --sar-share-sheet-gap-height: 8px;

  --sar-share-sheet-cancel-font-size: var(--sar-text-base);
  --sar-share-sheet-cancel-padding: 14px;
  --sar-share-sheet-cancel-bg: var(--sar-emphasis-bg);
  --sar-share-sheet-cancel-active-bg: var(--sar-active-bg);
}

@media (prefers-color-scheme: dark) {
  :root,
  page {
    --sar-share-sheet-gap-bg: var(--sar-gray-900);
  }
}
// #endvariables

@include bem(share-sheet) {
  @include b() {
    z-index: var(--sar-share-sheet-z-index);

    border-top-left-radius: var(--sar-share-sheet-border-radius);
    border-top-right-radius: var(--sar-share-sheet-border-radius);
    background-color: var(--sar-share-sheet-bg);
    touch-action: pan-x;
  }

  @include e(header) {
    position: relative;
    padding: var(--sar-share-sheet-header-padding);

    @include border-bottom(var(--sar-share-sheet-header-border-color));
  }

  @include e(title) {
    font-size: var(--sar-share-sheet-title-font-size);
    font-weight: var(--sar-font-bold);
    text-align: center;
  }

  @include e(description) {
    font-size: var(--sar-share-sheet-description-font-size);
    text-align: center;
    color: var(--sar-share-sheet-description-color);

    @include m(titled) {
      margin-top: var(--sar-share-sheet-description-margin-top);
    }
  }

  @include e(row) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--sar-share-sheet-row-padding-y)
      var(--sar-share-sheet-row-padding-x);
    overflow-x: auto;
    overflow-y: hidden;
    touch-action: pan-x;

    &::-webkit-scrollbar {
      height: 0;
    }

    @include m(later) {
      @include border-top(var(--sar-share-sheet-row-border-color));
    }

    @include m(headless-first) {
      border-top-left-radius: var(--sar-share-sheet-border-radius);
      border-top-right-radius: var(--sar-share-sheet-border-radius);
    }
  }

  @include e(item) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: inherit;
    cursor: pointer;

    @include m(interactive) {
      &:active {
        background-color: transparent;
        opacity: var(--sar-share-sheet-item-active-opacity);
      }
    }

    @include m(disabled) {
      @include disabled;
    }
  }

  @include e(item-icon) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sar-share-sheet-icon-size);
    height: var(--sar-share-sheet-icon-size);
    margin: 0 var(--sar-share-sheet-icon-margin-x);
    border-radius: 100%;
    font-size: var(--sar-share-sheet-icon-font-size);
    color: var(--sar-share-sheet-icon-color);
    background-color: var(--sar-share-sheet-icon-bg);
  }

  @include e(item-img) {
    display: flex;
    width: var(--sar-share-sheet-icon-size);
    height: var(--sar-share-sheet-icon-size);
    margin: 0 var(--sar-share-sheet-icon-margin-x);
    object-fit: contain;
  }

  @include e(item-name) {
    margin-top: var(--sar-share-sheet-name-margin-top);
    padding: 0 var(--sar-share-sheet-name-padding-x);
    font-size: var(--sar-share-sheet-name-font-size);
    color: var(--sar-share-sheet-name-color);
  }

  @include e(item-label) {
    margin-top: var(--sar-share-sheet-label-margin-top);
    padding: 0 var(--sar-share-sheet-label-padding-x);
    font-size: var(--sar-share-sheet-label-font-size);
    color: var(--sar-share-sheet-label-color);
  }

  @include e(gap) {
    height: var(--sar-share-sheet-gap-height);
    background-color: var(--sar-share-sheet-gap-bg);
  }

  @include e(cancel) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sar-share-sheet-cancel-padding);
    font-size: var(--sar-share-sheet-cancel-font-size);
    line-height: inherit;
    cursor: pointer;
    background-color: var(--sar-share-sheet-cancel-bg);

    &:active {
      background-color: var(--sar-share-sheet-cancel-active-bg);
    }
  }
}
