@use '../style/functions' as fn;
@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-transition-duration: var(--sar-duration);
  --sar-transition-ease-in: ease-out;
  --sar-transition-ease-out: ease-in;
}
// #endvariables

@include bem.bem(transition) {
  // fade
  @include bem.m(fade-enter, fade-entering) {
    animation: #{fn.bem-ns(fade-enter)} var(--sar-transition-duration) var(
        --sar-transition-ease-in
      ) both;
  }
  @keyframes #{fn.bem-ns(fade-enter)} {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @include bem.m(fade-exiting, fade-exited) {
    animation: #{fn.bem-ns(fade-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(fade-exit)} {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  // zoom
  @include bem.m(zoom-enter, zoom-entering) {
    animation: #{fn.bem-ns(zoom-enter)} var(--sar-transition-duration) var(
        --sar-transition-ease-in
      ) both;
  }
  @keyframes #{fn.bem-ns(zoom-enter)} {
    from {
      opacity: 0;
      transform: translateY(-50%) scale(0.7);
    }
    to {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
  @include bem.m(zoom-exiting, zoom-exited) {
    animation: #{fn.bem-ns(zoom-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(zoom-exit)} {
    from {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(-50%) scale(0.9);
    }
  }

  // slideTop
  @include bem.m(slide-top-enter, slide-top-entering) {
    animation: #{fn.bem-ns(slide-top-enter)} var(--sar-transition-duration) var(
        --sar-transition-ease-in
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-top-enter)} {
    from {
      transform: translate3d(0, -100%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @include bem.m(slide-top-exiting, slide-top-exited) {
    animation: #{fn.bem-ns(slide-top-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-top-exit)} {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -100%, 0);
    }
  }

  // slideRight
  @include bem.m(slide-right-enter, slide-right-entering) {
    animation: #{fn.bem-ns(slide-right-enter)} var(--sar-transition-duration) var(
        --sar-transition-ease-in
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-right-enter)} {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @include bem.m(slide-right-exiting, slide-right-exited) {
    animation: #{fn.bem-ns(slide-right-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-right-exit)} {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(100%, 0, 0);
    }
  }

  // slideBottom
  @include bem.m(slide-bottom-enter, slide-bottom-entering) {
    animation: #{fn.bem-ns(slide-bottom-enter)} var(--sar-transition-duration) var(
        --sar-transition-ease-in
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-bottom-enter)} {
    from {
      transform: translate3d(0, 100%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @include bem.m(slide-bottom-exiting, slide-bottom-exited) {
    animation: #{fn.bem-ns(slide-bottom-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-bottom-exit)} {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 100%, 0);
    }
  }

  // slideLeft
  @include bem.m(slide-left-enter, slide-left-entering) {
    animation: #{fn.bem-ns(slide-left-enter)} var(--sar-transition-duration) var(--sar-transition-ease-in);
  }
  @keyframes #{fn.bem-ns(slide-left-enter)} {
    from {
      transform: translate3d(-100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @include bem.m(slide-left-exiting, slide-left-exited) {
    animation: #{fn.bem-ns(slide-left-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(slide-left-exit)} {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  // collapse
  @include bem.m(collapse-enter, collapse-entering) {
    animation: #{fn.bem-ns(collapse-enter)} var(--sar-transition-duration) var(
        --sar-transition-ease-in
      ) both;
  }
  @keyframes #{fn.bem-ns(collapse-enter)} {
    from {
      height: 0;
    }
  }

  @include bem.m(collapse-exiting, collapse-exited) {
    animation: #{fn.bem-ns(collapse-exit)} var(--sar-transition-duration) var(
        --sar-transition-ease-out
      ) both;
  }
  @keyframes #{fn.bem-ns(collapse-exit)} {
    to {
      height: 0;
    }
  }
}
