@use '../style/mixins/bem';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-tabs-tab-height: 44px;
  --sar-tabs-tab-font-size: var(--sar-text-base);
  --sar-tabs-tab-line-height: var(--sar-leading-snug);
  --sar-tabs-tab-color: var(--sar-secondary-color);
  --sar-tabs-tab-active-color: var(--sar-emphasis-color);

  --sar-tabs-tab-padding-x: 15px;

  --sar-tabs-line-width: 40px;
  --sar-tabs-line-height: 3px;
  --sar-tabs-line-bg: var(--sar-primary);
}
// #endvariables

@include bem.bem(tabs) {
  @include bem.b() {
    display: flex;
    flex-direction: row;
  }

  @include bem.e(scroll) {
    width: 100%;
  }

  @include bem.e(container) {
    display: flex;
    flex-direction: row;
  }

  @include bem.e(wrapper) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 100%;
    flex: none;
  }

  @include bem.e(tab) {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    height: var(--sar-tabs-tab-height);
    justify-content: center;
    align-items: center;
    padding: 0 var(--sar-tabs-tab-padding-x);
    font-size: var(--sar-tabs-tab-font-size);
    line-height: var(--sar-tabs-tab-line-height);
    white-space: nowrap;
    color: var(--sar-tabs-tab-color);
    cursor: pointer;

    @include bem.m(active) {
      font-weight: var(--sar-font-bold);
      color: var(--sar-tabs-tab-active-color);
    }

    @include bem.m(scrollable) {
      flex: 0;
    }

    @include bem.m(disabled) {
      @include disabled.disabled-text;
    }
  }

  @include bem.e(line) {
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: var(--sar-tabs-line-width);
    height: var(--sar-tabs-line-height);
    background-color: var(--sar-tabs-line-bg);
    pointer-events: none;
  }
}
