@import '../style/base.scss';

// #variables
:root,
page {
  --sar-tabs-label-height: 48px;
  --sar-tabs-label-font-size: var(--sar-text-base);
  --sar-tabs-label-color: var(--sar-secondary-color);
  --sar-tabs-label-active-color: var(--sar-emphasis-color);

  --sar-tabs-auto-label-padding-x: 15px;

  --sar-tabs-label-line-width: 40px;
  --sar-tabs-label-line-height: 3px;
  --sar-tabs-label-line-bg: var(--sar-primary);

  --sar-tabs-label-border-border-radius: var(--sar-rounded-sm);
  --sar-tabs-label-border-border-color: var(--sar-primary);
  --sar-tabs-label-border-label-height: 28px;
  --sar-tabs-label-border-label-active-color: var(--sar-white);

  --sar-tabs-label-pill-label-height: 28px;
  --sar-tabs-label-pill-label-border-radius: var(--sar-rounded-full);
  --sar-tabs-label-pill-label-active-bg: var(--sar-primary);
  --sar-tabs-label-pill-label-active-color: var(--sar-white);

  --sar-tabs-vertical-label-height: 40px;
  --sar-tabs-vertical-label-padding-x: 15px;

  --sar-tabs-inkbar-width: 40px;
  --sar-tabs-inkbar-height: 3px;
  --sar-tabs-inkbar-bg: var(--sar-primary);

  --sar-tabs-prepend-gap: 5px;
  --sar-tabs-append-gap: 5px;
}
// #endvariables

@include bem(tabs) {
  @include b() {
    position: relative;
  }

  @include m(vertical) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @include e(header) {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include m(vertical) {
      flex: none;
      flex-direction: column;
      align-self: flex-start;
    }

    @include m(sticky) {
      position: sticky;
      top: 0;
    }
  }

  @include e(label-wrapper) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 0;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      color: transparent;
    }

    @include m(border) {
      border: 1px solid currentColor;
      border-radius: var(--sar-tabs-label-border-border-radius);
      color: var(--sar-tabs-label-border-border-color);
    }

    @include m(vertical) {
      flex-basis: auto;
      width: 100%;
    }
  }

  @include e(label-content) {
    position: relative;
    display: inline-flex;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;

    @include m(vertical) {
      flex-direction: column;
    }
  }

  @include e(label) {
    position: relative;
    display: flex;
    flex: 1;
    height: var(--sar-tabs-label-height);
    justify-content: center;
    align-items: center;
    font-size: var(--sar-tabs-label-font-size);
    color: var(--sar-tabs-label-color);
    cursor: pointer;

    @include m(border) {
      height: var(--sar-tabs-label-border-label-height);
      color: inherit;
    }

    @include m(active) {
      font-weight: bold;
      color: var(--sar-tabs-label-active-color);
    }

    @include m(border-active) {
      color: currentColor;
      background-color: currentColor;
    }

    @include m(border-later) {
      border-left: 1px solid currentColor;
    }

    @include m(pill) {
      height: var(--sar-tabs-label-pill-label-height);
      border-radius: var(--sar-tabs-label-pill-label-border-radius);
    }

    @include m(pill-active) {
      background-color: var(--sar-tabs-label-pill-label-active-bg);
    }

    @include m(auto) {
      flex: 0;
      padding: 0 var(--sar-tabs-auto-label-padding-x);
      white-space: nowrap;
    }

    @include m(vertical) {
      flex: none;
      padding: 0 15px;
      height: var(--sar-tabs-vertical-label-height);
    }

    @include m(vertical-border-later) {
      border-left: none;
      border-top: 1px solid currentColor;
    }

    @include m(disabled) {
      @include disabled-text;
    }
  }

  @include e(label-line) {
    @include m(card) {
      position: absolute;
      top: 0;
      left: auto;
      right: auto;
      width: 100%;
      height: var(--sar-tabs-label-line-height);
      background-color: var(--sar-tabs-label-line-bg);
    }

    @include m(vertical) {
      right: 0;
      left: auto;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      width: var(--sar-tabs-label-line-height);
      height: 100%;
    }

    @include m(vertical-card) {
      left: 0;
      right: auto;
    }
  }

  @include e(label-text) {
    @include m(border-active) {
      color: var(--sar-tabs-label-border-label-active-color);
    }

    @include m(pill-active) {
      color: var(--sar-tabs-label-pill-label-active-color);
    }
  }

  @include e(inkbar-wrapper) {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
    transition: left 0.3s, top 0.3s;

    @include m(vertical) {
      left: auto;
      bottom: auto;
      right: 0;
      top: 0;
      transform: translateY(-50%);
    }
  }

  @include e(inkbar) {
    width: var(--sar-tabs-inkbar-width);
    height: var(--sar-tabs-inkbar-height);
    background-color: var(--sar-tabs-inkbar-bg);

    @include m(vertical) {
      height: var(--sar-tabs-inkbar-width);
      width: var(--sar-tabs-inkbar-height);
    }
  }

  @include e(prepend, append) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
  }

  @include e(prepend) {
    padding-right: var(--sar-tabs-prepend-gap);
  }

  @include e(append) {
    padding-left: var(--sar-tabs-append-gap);
  }

  @include e(body) {
    position: relative;

    @include m(vertical) {
      flex: 1;
      align-self: stretch;
    }

    @include m(animated) {
      overflow: hidden;
    }
  }

  @include e(wrapper) {
    @include m(animated) {
      display: flex;
      flex-wrap: nowrap;
      transition: transform 0.3s;
    }
  }

  @include e(pane) {
    width: 100%;
    flex: none;

    @include m(hide) {
      display: none;
    }
  }
}
