@import '../style/base.scss';
// #variables
$sar-avatar-width: 64px !default;
$sar-avatar-height: 64px !default;
$sar-avatar-font-size: 32px !default;
$sar-avatar-color: $sar-secondary-color !default;
$sar-avatar-bg-color: $sar-secondary-bg-color !default;

$sar-avatar-square-border-radius: $sar-rounded !default;

$sar-avatar-group-avatar-border-color: $sar-emphasis-bg-color !default;
$sar-avatar-group-avatar-gap: -16px !default;

// 暗黑模式
$sar-avatar-dark-color: $sar-dark-secondary-color !default;
$sar-avatar-dark-bg-color: $sar-dark-secondary-bg-color !default;
$sar-avatar-group-avatar-border-dark-color: $sar-dark-emphasis-bg-color !default;
// #endvariables

@include bem(avatar) {
  @include b() {
    @include universal;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: $sar-avatar-width;
    height: $sar-avatar-height;
    font-size: $sar-avatar-font-size;
    color: $sar-avatar-color;
    background-color: $sar-avatar-bg-color;
  }

  @include e(group) {
    @include universal;
    flex-direction: row;
  }

  @include e(image) {
    @include universal;
    width: 100%;
    height: 100%;
  }

  @include e(icon) {
    font-size: $sar-avatar-font-size;
    color: $sar-avatar-color;
  }

  @include m(circle) {
    border-radius: $sar-rounded-full;
  }

  @include m(square) {
    border-radius: $sar-avatar-square-border-radius;
  }

  @include m(in-group, rest) {
    border: 1px solid $sar-avatar-group-avatar-border-color;
  }

  @include m(later) {
    margin-left: $sar-avatar-group-avatar-gap;
  }
}

@include theme(dark) {
  @include bem(avatar) {
    @include b() {
      color: $sar-avatar-dark-color;
      background-color: $sar-avatar-dark-bg-color;
    }

    @include m(in-group, rest) {
      border-color: $sar-avatar-group-avatar-border-dark-color;
    }

    @include e(icon) {
      color: $sar-avatar-dark-color;
    }
  }
}
