@import '../style/mixins.scss';

// #variables
:root {
  --s-input-padding-y: 6.5px;
  --s-input-padding-x: 16px;
  --s-input-border-radius: var(--s-rounded);
  --s-input-border-color: var(--s-border-color);
  --s-input-active-bg: transparent;
  --s-input-transition-duration: var(--s-duration);

  --s-input-focused-border-color: var(--s-primary);

  --s-input-control-font-size: var(--s-text-base);
  --s-input-control-line-height: 1.5;
  --s-input-control-min-height: calc(1em * var(--s-input-control-line-height));

  --s-input-placeholder-color: var(--s-deemphasis-color);

  --s-input-prepend-gap-right: 10px;
  --s-input-append-gap-left: 10px;

  --s-input-clear-margin-left: 0.5em;
  --s-input-clear-padding-x: 0.5em;
  --s-input-clear-color: var(--s-tertiary-color);

  --s-input-count-margin-left: 0.5em;
  --s-input-count-font-size: 14px;
  --s-input-count-color: var(--s-tertiary-color);
}
// #endvariables

.s-input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex: 1 1 0;
  padding: var(--s-input-padding-y) var(--s-input-padding-x);
  border: 1px solid var(--s-input-border-color);
  border-radius: var(--s-input-border-radius);
  font-family: inherit;
  font-size: var(--s-input-control-font-size);
  line-height: var(--s-input-control-line-height);
  transition: var(--s-input-transition-duration);
  cursor: text;

  // &:active {
  //   background-color: var(--s-input-active-bg);
  // }

  @at-root {
    .s-input-prepend {
      display: flex;
      align-items: center;
      flex: none;
      margin-right: var(--s-input-prepend-gap-right);
    }
    .s-input-control {
      display: flex;
      flex: 1 1 0;
      align-self: stretch;
      width: 0;
      max-width: 100%;
      min-width: 0;
      height: auto;
      min-height: var(--s-input-control-min-height);
      margin: 0;
      padding: 0;
      border: none;
      resize: none;

      font: inherit;
      line-height: inherit;
      color: inherit;
      text-align: inherit;
      text-shadow: inherit;
      text-indent: inherit;
      text-decoration: inherit;
      text-transform: inherit;
      text-emphasis: inherit;
      text-rendering: inherit;
      letter-spacing: inherit;
      word-spacing: inherit;
      background-color: inherit;

      &:focus,
      &:active {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: var(--s-input-placeholder-color);
      }
    }
    .s-input-append {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
      margin-left: var(--s-input-append-gap-left);
    }
    .s-input-clear {
      @include button-flush;

      display: flex;
      flex: none;
      align-self: stretch;
      justify-content: center;
      align-items: center;
      margin-left: var(--s-input-clear-margin-left);
      padding: 0 var(--s-input-clear-padding-x);
      color: var(--s-input-clear-color);
      cursor: pointer;
      user-select: none;
    }
    .s-input-count {
      margin-left: var(--s-input-count-margin-left);
      font-size: var(--s-input-count-font-size);
      color: var(--s-input-count-color);
    }
  }
}

// # 没有边框
.s-input-borderless {
  border: none;
}

// # 齐平的
.s-input-inlaid {
  padding: 0;
  border: none;
  font-size: inherit;
  line-height: inherit;
}

// # 焦点状态
.s-input-focused {
  border-color: var(--s-input-focused-border-color);
}

// # 禁用状态
.s-input-disabled {
  @include disabled;
}

// # 只读状态
// .s-input-readonly { }

// # 字数统计
.s-input-is-textarea {
  position: relative;

  .s-input-count {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
