@import '../style/base.scss';
// #variables
$sar-popout-input-arrow-font-size: $sar-text-base !default;
$sar-popout-input-arrow-color: $sar-border-color !default;
$sar-popout-input-active-opacity: $sar-active-opacity !default;

// 暗黑模式
$sar-popout-input-arrow-dark-color: $sar-dark-border-color !default;
// #endvariables

@include bem(popout-input) {
  @include b() {
    @include universal;

    @include if-web {
      cursor: pointer;
    }

    @include m(pressed) {
      opacity: $sar-popout-input-active-opacity;
    }

    @include m(disabled) {
      @include if-web {
        cursor: not-allowed;
      }
    }
  }

  @include e(seal) {
    @include universal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  @include e(arrow) {
    @include universal;
    font-size: $sar-popout-input-arrow-font-size;
    color: $sar-popout-input-arrow-color;
  }
}

@include theme(dark) {
  @include bem(popout-input) {
    @include e(arrow) {
      color: $sar-popout-input-arrow-dark-color;
    }
  }
}
