.page-collapse {
  .sar-cell-group {
    margin-bottom: 20px;
  }

  .collapse-box {
    background-color: var(--sar-secondary-bg);
    padding: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
