@import '../style/mixins.scss';

// #variables
:root {
  --s-share-sheet-border-radius: var(--s-rounded-xl);
  --s-share-sheet-bg: var(--s-emphasis-bg);

  --s-share-sheet-header-padding: 14px;
  --s-share-sheet-header-border-color: var(--s-border-color);

  --s-share-sheet-title-font-size: var(--s-text-lg);

  --s-share-sheet-description-margin-top: 8px;
  --s-share-sheet-description-font-size: var(--s-text-base);
  --s-share-sheet-description-color: var(--s-tertiary-color);

  --s-share-sheet-row-border-color: var(--s-border-color);
  --s-share-sheet-row-padding-y: 16px;
  --s-share-sheet-row-padding-x: 8px;

  --s-share-sheet-item-active-opacity: var(--s-active-opacity);

  --s-share-sheet-icon-margin-x: 16px;
  --s-share-sheet-icon-size: 48px;
  --s-share-sheet-icon-font-size: 24px;
  --s-share-sheet-icon-color: var(--s-tertiary-color);
  --s-share-sheet-icon-bg: var(--s-secondary-bg);

  --s-share-sheet-name-margin-top: 8px;
  --s-share-sheet-name-padding-x: 4px;
  --s-share-sheet-name-font-size: var(--s-text-base);
  --s-share-sheet-name-color: var(--s-tertiary-color);

  --s-share-sheet-label-margin-top: 0;
  --s-share-sheet-label-padding-x: 4px;
  --s-share-sheet-label-font-size: var(--s-text-sm);
  --s-share-sheet-label-color: var(--s-tertiary-color);

  --s-share-sheet-gap-bg: var(--s-gray-100);
  --s-share-sheet-gap-height: 8px;

  --s-share-sheet-cancel-font-size: var(--s-text-base);
  --s-share-sheet-cancel-padding: 14px;
  --s-share-sheet-cancel-bg: var(--s-emphasis-bg);
  --s-share-sheet-cancel-active-bg: var(--s-active-bg);
}

[data-s-theme='dark'] {
  --s-share-sheet-gap-bg: var(--s-gray-900);
}
// #endvariables

.s-share-sheet {
  border-top-left-radius: var(--s-share-sheet-border-radius);
  border-top-right-radius: var(--s-share-sheet-border-radius);
  background-color: var(--s-share-sheet-bg);

  @at-root {
    .s-share-sheet-header {
      position: relative;
      padding: var(--s-share-sheet-header-padding);

      @include border-bottom(var(--s-share-sheet-header-border-color));

      @at-root {
        .s-share-sheet-title {
          font-size: var(--s-share-sheet-title-font-size);
          font-weight: bold;
          text-align: center;
        }
        .s-share-sheet-description {
          font-size: var(--s-share-sheet-description-font-size);
          text-align: center;
          color: var(--s-share-sheet-description-color);

          .s-share-sheet-title ~ & {
            margin-top: var(--s-share-sheet-description-margin-top);
          }
        }
      }
    }

    .s-share-sheet-body {
      @at-root {
        .s-share-sheet-row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          padding: var(--s-share-sheet-row-padding-y)
            var(--s-share-sheet-row-padding-x);
          overflow-x: auto;
          overflow-y: hidden;
          touch-action: pan-x;

          &::-webkit-scrollbar {
            height: 0;
          }
          &:not(:first-child) {
            @include border-top(var(--s-share-sheet-row-border-color));
          }
          .s-share-sheet.s-share-sheet-headless &:first-child {
            border-top-left-radius: var(--s-share-sheet-border-radius);
            border-top-right-radius: var(--s-share-sheet-border-radius);
          }

          @at-root {
            .s-share-sheet-item {
              @include button-flush;

              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              user-select: none;

              &:not(.s-share-sheet-item-disabled):not([disabled]):active {
                opacity: var(--s-share-sheet-item-active-opacity);
              }

              @at-root {
                .s-share-sheet-icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: var(--s-share-sheet-icon-size);
                  height: var(--s-share-sheet-icon-size);
                  margin: 0 var(--s-share-sheet-icon-margin-x);
                  border-radius: 100%;
                  font-size: var(--s-share-sheet-icon-font-size);
                  color: var(--s-share-sheet-icon-color);
                  background-color: var(--s-share-sheet-icon-bg);
                }
                .s-share-sheet-img {
                  display: block;
                  width: var(--s-share-sheet-icon-size);
                  height: var(--s-share-sheet-icon-size);
                  object-fit: contain;
                }
                .s-share-sheet-name {
                  margin-top: var(--s-share-sheet-name-margin-top);
                  padding: 0 var(--s-share-sheet-name-padding-x);
                  font-size: var(--s-share-sheet-name-font-size);
                  color: var(--s-share-sheet-name-color);
                }
                .s-share-sheet-label {
                  margin-top: var(--s-share-sheet-label-margin-top);
                  padding: 0 var(--s-share-sheet-label-padding-x);
                  font-size: var(--s-share-sheet-label-font-size);
                  color: var(--s-share-sheet-label-color);
                }
              }
            }
          }
        }
      }
    }

    .s-share-sheet-gap {
      height: var(--s-share-sheet-gap-height);
      background-color: var(--s-share-sheet-gap-bg);
    }

    .s-share-sheet-cancel {
      @include button-flush;

      display: block;
      width: 100%;
      font-size: var(--s-share-sheet-cancel-font-size);
      padding: var(--s-share-sheet-cancel-padding);
      text-align: center;
      cursor: pointer;
      background-color: var(--s-share-sheet-cancel-bg);
      &:active {
        background-color: var(--s-share-sheet-cancel-active-bg);
      }
    }
  }
}

// 禁用
.s-share-sheet-item-disabled {
  @include disabled;
}
