@import '../style/mixins.scss';

// #variables
:root {
  --s-checkbox-icon-font-size: 1.25em;
  --s-checkbox-icon-color: var(--s-tertiary-color);
  --s-checkbox-icon-checked-color: var(--s-primary);
  --s-checkbox-icon-transition-duration: var(--s-duration);

  --s-checkbox-label-margin-left: 0.5em;

  --s-checkbox-margin-left: 1em;
  --s-checkbox-margin-top: 1em;
}
// #endvariables

.s-checkbox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  cursor: pointer;

  @at-root {
    .s-checkbox-icon {
      font-size: var(--s-checkbox-icon-font-size);
      line-height: 1;
      color: var(--s-checkbox-icon-color);
      transition: color var(--s-checkbox-icon-transition-duration);
    }
    .s-checkbox-label {
      display: flex;
      margin-left: var(--s-checkbox-label-margin-left);
      user-select: auto;
    }
  }
}

// # 选中状态
.s-checkbox-checked {
  .s-checkbox-icon {
    color: var(--s-checkbox-icon-checked-color);
  }
}

// # 禁用状态
.s-checkbox-disabled {
  @include disabled;
}

// # 复选框组
.s-checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  &:not(.s-checkbox-group-vertical) .s-checkbox ~ .s-checkbox {
    margin-left: var(--s-checkbox-margin-left);
  }
}
.s-checkbox-group-vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .s-checkbox ~ .s-checkbox {
    margin-top: var(--s-checkbox-margin-top);
  }
}
