@use '../style/mixins/bem';
@use '../style/mixins/border';

// #variables
:root,
page {
  --sar-form-bg: var(--sar-emphasis-bg);
  --sar-form-border-radius: var(--sar-rounded-lg);

  --sar-form-field-padding-x: 15px;
  --sar-form-field-padding-y: 10px;
  --sar-form-field-border-color: var(--sar-border-color);
  --sar-form-field-font-size: var(--sar-text-base);
  --sar-form-field-line-height: 24px;

  --sar-form-field-label-width: 88px;
  --sar-form-field-label-margin-right: 12px;
  --sar-form-field-label-margin-bottom: 4px;

  --sar-form-field-star-color: var(--sar-danger);
  --sar-form-field-star-gap: 4px;

  --sar-form-field-feedback-margin-top: 5px;
  --sar-form-field-feedback-font-size: var(--sar-text-sm);
  --sar-form-field-feedback-line-height: var(--sar-leading-tight);
  --sar-form-field-feedback-color: var(--sar-tertiary-color);
  --sar-form-field-feedback-failed-color: var(--sar-danger);
  --sar-form-field-feedback-passed-color: var(--sar-tertiary-color);
  --sar-form-field-feedback-unvalidated-color: var(--sar-tertiary-color);

  --sar-form-field-extra-margin-top: 3px;
  --sar-form-field-extra-font-size: var(--sar-text-sm);
  --sar-form-field-extra-line-height: var(--sar-leading-tight);
  --sar-form-field-extra-color: var(--sar-tertiary-color);
}
// #endvariables

@include bem.bem(form) {
  @include bem.b() {
    display: flex;
    flex-direction: column;
    border-radius: var(--sar-form-border-radius);
    background-color: var(--sar-form-bg);
  }
}

@include bem.bem(form-field) {
  @include bem.b() {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: var(--sar-form-field-padding-y) var(--sar-form-field-padding-x);
    font-size: var(--sar-form-field-font-size);
    line-height: var(--sar-form-field-line-height);

    @include bem.m(underline) {
      @include border.border-bottom(var(--sar-form-field-border-color)) {
        left: var(--sar-form-field-padding-x);
        right: var(--sar-form-field-padding-x);
      }
    }

    @include bem.m(inlaid) {
      padding: 0;
    }
  }

  @include bem.e(label) {
    display: flex;
    flex: none;
    word-wrap: break-word;
    word-break: break-word;

    @include bem.m(align-start) {
      justify-content: flex-start;
    }

    @include bem.m(align-center) {
      justify-content: center;
    }

    @include bem.m(align-end) {
      justify-content: end;
    }

    @include bem.m(valign-start) {
      align-items: flex-start;
    }

    @include bem.m(valign-center) {
      align-items: center;
    }

    @include bem.m(valign-end) {
      align-items: flex-end;
    }

    @include bem.m(horizontal) {
      width: var(--sar-form-field-label-width);
      margin-right: var(--sar-form-field-label-margin-right);
    }

    @include bem.m(vertical) {
      margin-right: 0;
      margin-bottom: var(--sar-form-field-label-margin-bottom);
    }
  }

  @include bem.e(star) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--sar-form-field-star-color);

    @include bem.m(left) {
      order: 0;
      margin-right: var(--sar-form-field-star-gap);
    }
    @include bem.m(right) {
      order: 1;
      margin-left: var(--sar-form-field-star-gap);
    }
  }

  @include bem.e(label-text) {
    order: 0;
  }

  @include bem.e(content) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  @include bem.e(feedback) {
    margin-top: var(--sar-form-field-feedback-margin-top);
    font-size: var(--sar-form-field-feedback-font-size);
    line-height: var(--sar-form-field-feedback-line-height);
    color: var(--sar-form-field-feedback-color);

    @include bem.m(failed) {
      color: var(--sar-form-field-feedback-failed-color);
    }

    @include bem.m(passed) {
      color: var(--sar-form-field-feedback-passed-color);
    }

    @include bem.m(unvalidated) {
      color: var(--sar-form-field-feedback-unvalidated-color);
    }
  }

  @include bem.e(extra) {
    margin-top: var(--sar-form-field-extra-margin-top);
    font-size: var(--sar-form-field-extra-font-size);
    line-height: var(--sar-form-field-extra-line-height);
    color: var(--sar-form-field-extra-color);
  }

  @include bem.m(vertical) {
    flex-direction: column;
  }

  @include bem.m(hidden) {
    display: none;
  }
}
