@import '../style/base.scss';

// #variables
:root,
page {
  --sar-form-item-padding-x: 15px;
  --sar-form-item-padding-y: 10px;
  --sar-form-item-border-color: var(--sar-border-color);
  --sar-form-item-font-size: var(--sar-text-base);
  --sar-form-item-line-height: var(--sar-leading-relaxed);

  --sar-form-item-label-width: 6.2em;
  --sar-form-item-label-margin-right: 12px;
  --sar-form-item-label-margin-bottom: 4px;

  --sar-form-item-feedback-margin-top: 3px;
  --sar-form-item-feedback-font-size: var(--sar-text-sm);
  --sar-form-item-feedback-color: var(--sar-tertiary-color);
  --sar-form-item-feedback-failed-color: var(--sar-danger);
  --sar-form-item-feedback-passed-color: var(--sar-tertiary-color);
  --sar-form-item-feedback-unvalidated-color: var(--sar-tertiary-color);

  --sar-form-item-extra-margin-top: 3px;
  --sar-form-item-extra-font-size: var(--sar-text-sm);
  --sar-form-item-extra-color: var(--sar-tertiary-color);
}
// #endvariables

@include bem(form-item) {
  @include b() {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: var(--sar-form-item-padding-y) var(--sar-form-item-padding-x);
    font-size: var(--sar-form-item-font-size);
    line-height: var(--sar-form-item-line-height);

    @include border-bottom(var(--sar-form-item-border-color)) {
      left: var(--sar-form-item-padding-x);
      right: var(--sar-form-item-padding-x);
    }
  }

  @include e(label) {
    flex: none;
    width: var(--sar-form-item-label-width);
    margin-right: var(--sar-form-item-label-margin-right);
    word-wrap: break-word;

    @include m(left) {
      text-align: left;
    }

    @include m(right) {
      text-align: right;
    }

    @include m(vertical) {
      margin-right: 0;
      margin-bottom: var(--sar-form-item-label-margin-bottom);
    }
  }

  @include e(content) {
    flex: 1;
  }

  @include e(feedback) {
    margin-top: var(--sar-form-item-feedback-margin-top);
    font-size: var(--sar-form-item-feedback-font-size);
    color: var(--sar-form-item-feedback-color);

    @include m(failed) {
      color: var(--sar-form-item-feedback-failed-color);
    }

    @include m(passed) {
      color: var(--sar-form-item-feedback-passed-color);
    }

    @include m(unvalidated) {
      color: var(--sar-form-item-feedback-unvalidated-color);
    }
  }

  @include e(extra) {
    margin-top: var(--sar-form-item-extra-margin-top);
    font-size: var(--sar-form-item-extra-font-size);
    color: var(--sar-form-item-extra-color);
  }

  @include m(vertical) {
    flex-direction: column;
  }

  @include m(hidden) {
    display: none;
  }
}
