@use 'sass:math';
@import '../style/variables.scss';
@import '../style/functions.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-loading-duration: 1s !default;
// #endvariables

@include bem(loading) {
  @include b() {
    @include ifweb {
      display: inline-flex;
      animation: #{bem-ns(loading-rotate)} $sar-loading-duration linear infinite;
    }
  }
}

@include ifweb {
  @keyframes #{bem-ns(loading-rotate)} {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1turn);
    }
  }
}
