@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/disabled.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-cascader-selected-color: $sar-primary !default;

$sar-cascader-options-height: 320px !default;

$sar-cascader-option-padding-y: 8px !default;
$sar-cascader-option-padding-x: 16px !default;
$sar-cascader-option-font-size: $sar-text-base !default;
$sar-cascader-option-line-height: 24px !default;
$sar-cascader-option-active-bg: $sar-secondary-bg !default;

$sar-cascader-loading-bg: $sar-mask-white !default;
$sar-cascader-loading-color: $sar-tertiary-color !default;

// @media (prefers-color-scheme: dark) {
//   :root,
//   page {
//     $sar-cascader-loading-bg: $sar-mask-legible;
//   }
// }
// #endvariables

@include bem(cascader) {
  @include b() {
    @include universal;
  }

  @include e(container) {
    @include universal;
    overflow: hidden;
  }

  @include e(wrapper) {
    @include universal;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    @include ifweb {
      transition: transform $sar-duration;
    }
  }

  @include e(pane) {
    @include universal;
    width: 100%;
    flex: none;
  }

  @include e(options) {
    @include universal;
    flex-direction: row;
    height: $sar-cascader-options-height;
  }

  @include e(scroll) {
    height: 100%;
  }

  @include e(option) {
    @include universal;
    flex-direction: row;
    padding: $sar-cascader-option-padding-y $sar-cascader-option-padding-x;

    @include ifweb {
      cursor: pointer;
    }

    @include m(disabled) {
      @include disabled;
    }

    @include m(pressed) {
      background-color: $sar-cascader-option-active-bg;
    }
  }

  @include e(option-label) {
    font-size: $sar-cascader-option-font-size;
    line-height: $sar-cascader-option-line-height;

    @include m(selected) {
      color: $sar-cascader-selected-color;
      font-weight: $sar-font-bold;
    }
  }

  @include e(option-icon) {
    display: none;
    margin-left: auto;

    @include m(selected) {
      display: flex;
      color: $sar-cascader-selected-color;
    }
  }

  @include e(loading-wrapper) {
    @include universal;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $sar-cascader-loading-bg;
  }

  @include e(loading) {
    color: $sar-cascader-loading-color;
  }
}
