@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-tabbar-height: 50px !default;
$sar-tabbar-bg: $sar-emphasis-bg !default;
$sar-tabbar-color: $sar-secondary-color !default;

$sar-tabbar-item-ative-color: $sar-primary !default;
$sar-tabbar-item-icon-margin-bottom: 4px !default;
$sar-tabbar-item-icon-font-size: 20px !default;
$sar-tabbar-item-text-font-size: $sar-text-sm !default;
// #endvariables

@include bem(tabbar) {
  @include b() {
    @include universal;
    flex-direction: row;
    align-items: stretch;
    height: $sar-tabbar-height;
    color: $sar-tabbar-color;
    background-color: $sar-tabbar-bg;
  }

  @include e(item) {
    @include universal;
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include ifweb {
      cursor: pointer;
    }
  }

  @include e(icon-wrapper) {
    @include universal;
    margin-bottom: $sar-tabbar-item-icon-margin-bottom;
  }

  @include e(icon) {
    font-size: $sar-tabbar-item-icon-font-size;
    line-height: $sar-tabbar-item-icon-font-size * $sar-leading-none;
    color: $sar-tabbar-color;

    @include m(active) {
      color: $sar-tabbar-item-ative-color;
    }
  }

  @include e(text) {
    @include universal;
    font-size: $sar-tabbar-item-text-font-size;
    line-height: $sar-tabbar-item-text-font-size * $sar-leading-tight;
    color: $sar-tabbar-color;

    @include m(active) {
      color: $sar-tabbar-item-ative-color;
    }
  }
}
