@import '../style/mixins.scss';

// #variables
:root {
  --s-slider-track-main-axis-size: 100%;
  --s-slider-track-cross-axis-size: 2px;
  --s-slider-track-bg: var(--s-secondary-bg);

  --s-slider-track-piece-transition-duration: var(--s-duration);
  --s-slider-track-piece-bg: var(--s-primary);

  --s-slider-thumb-width: 24px;
  --s-slider-thumb-height: 24px;
  --s-slider-thumb-bg: var(--s-white);
  --s-slider-thumb-box-shadow: var(--s-shadow-sm);

  --s-slider-padding: calc(var(--s-slider-thumb-height) / 2)
    calc(var(--s-slider-thumb-width) / 2);
}
// #endvariables

.s-slider {
  position: relative;
  box-sizing: border-box;
  padding: var(--s-slider-padding);
}
.s-slider-track {
  position: relative;
  width: var(--s-slider-track-main-axis-size);
  height: var(--s-slider-track-cross-axis-size);
  background-color: var(--s-slider-track-bg);
  cursor: pointer;
}
.s-slider-track-piece {
  position: absolute;
  width: auto;
  height: 100%;
  background-color: var(--s-slider-track-piece-bg);
  transition: all var(--s-slider-track-piece-transition-duration);

  .s-slider-is-down & {
    transition: none;
  }
}
.s-slider-thumb-container {
  position: absolute;
  touch-action: none;

  @at-root {
    .s-slider-thumb {
      width: var(--s-slider-thumb-width);
      height: var(--s-slider-thumb-height);
      border-radius: 50%;
      background-color: var(--s-slider-thumb-bg);
      box-shadow: var(--s-slider-thumb-box-shadow);
      user-select: none;
      cursor: grab;
    }
  }
}
.s-slider-thumb-container-start {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.s-slider-thumb-container-end {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

// # 垂直
.s-slider-vertical {
  display: inline-flex;
  width: auto;
  height: 100%;

  .s-slider-track {
    width: var(--s-slider-track-cross-axis-size);
    height: var(--s-slider-track-main-axis-size);
  }
  .s-slider-track-piece {
    width: 100%;
    height: auto;
  }
  .s-slider-thumb-container-start {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .s-slider-thumb-container-end {
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translate(-50%, 50%);
  }
}

// # 禁用状态
.s-slider-disabled {
  @include disabled;
}

// # 禁用状态
.s-slider-readonly {
  .s-slider-track,
  .s-slider-thumb {
    cursor: default;
  }
}
