@use './components/style/index.scss' as *;

.doc-code-wrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--doc-border-color);
  border-radius: var(--doc-rounded-lg);

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

pre[class*='language-'] {
  max-height: 580px;
  margin: 0;
  overflow: auto;
}

pre[class*='language-'],
code[class*='language-'] {
  border-radius: inherit;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 5px;
}
