// #variables
:root {
  --s-empty-icon-font-size: 64px;
  --s-empty-icon-color: var(--s-gray-300);

  --s-empty-description-margin-top: 15px;
  --s-empty-description-font-size: var(--s-text-base);
  --s-empty-description-color: var(--s-deemphasis-color);
  --s-empty-extra-margin-top: 20px;
}

[data-s-theme='dark'] {
  --s-empty-icon-color: var(--s-gray-700);
}
// #endvariables

.s-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @at-root {
    .s-empty-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--s-empty-icon-font-size);
      color: var(--s-empty-icon-color);
    }

    .s-empty-description {
      margin-top: var(--s-empty-description-margin-top);
      font-size: var(--s-empty-description-font-size);
      color: var(--s-empty-description-color);
    }

    .s-empty-extra {
      margin-top: var(--s-empty-extra-margin-top);
    }
  }
}
