@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-mask-bg: $sar-mask !default;
// #endvariables

@include bem(mask) {
  @include b() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: $sar-mask-bg;
    pointer-events: auto;
    @include ifweb {
      touch-action: none;
    }

    @include m(transparent) {
      background-color: transparent;
    }
  }
}
