@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/universal.scss';

// #variables
$sar-toast-z-index: 1180 !default;

$sar-toast-top: 20% !default;
$sar-toast-bottom: 20% !default;

$sar-toast-font-size: $sar-text-base !default;
$sar-toast-width: $sar-toast-font-size * 9 !default;
$sar-toast-not-text-min-height: $sar-toast-width !default;
$sar-toast-padding-x: $sar-toast-font-size !default;
$sar-toast-padding-y: $sar-toast-font-size !default;
$sar-toast-border-radius: $sar-rounded-lg !default;
$sar-toast-color: $sar-white !default;
$sar-toast-bg: $sar-mask-illegible !default;

$sar-toast-text-max-width: 80% !default;
$sar-toast-text-padding-y: 10px !default;

$sar-toast-icon-margin-bottom: 8px !default;
$sar-toast-icon-size: 36px !default;

$sar-toast-title-font-size: $sar-toast-font-size !default;
$sar-toast-title-line-height: $sar-toast-title-font-size * $sar-leading-normal !default;
// #endvariables

@include bem(toast) {
  @include b() {
    @include universal;
    justify-content: center;
    align-items: center;
    padding: $sar-toast-padding-y $sar-toast-padding-x;
    border-radius: $sar-toast-border-radius;
    background-color: $sar-toast-bg;
  }

  @include e(popup) {
    z-index: $sar-toast-z-index;
  }

  @include e(icon-wrapper) {
    @include universal;
    justify-content: center;
    align-items: center;
    width: $sar-toast-icon-size;
    height: $sar-toast-icon-size;
    margin-bottom: $sar-toast-icon-margin-bottom;
    text-align: center;
  }

  @include e(icon) {
    font-size: $sar-toast-icon-size;
    color: $sar-toast-color;
  }

  @include e(loading) {
    color: $sar-toast-color;
  }

  @include e(icon-image) {
    width: $sar-toast-icon-size;
    height: $sar-toast-icon-size;
  }

  @include e(title) {
    @include universal;
    font-size: $sar-toast-title-font-size;
    line-height: $sar-toast-title-line-height;
    text-align: center;
    color: $sar-toast-color;
  }

  @include m(top) {
    padding-top: $sar-toast-top;
    justify-content: flex-start;
  }

  @include m(bottom) {
    padding-bottom: $sar-toast-bottom;
    justify-content: flex-end;
  }

  @include m(is-text) {
    max-width: $sar-toast-text-max-width;
    padding-top: $sar-toast-text-padding-y;
    padding-bottom: $sar-toast-text-padding-y;
    @include ifweb {
      word-break: break-word;
    }
  }

  @include m(not-text) {
    width: $sar-toast-width;
    min-height: $sar-toast-not-text-min-height;
  }
}
