// #variables
:root {
  --s-collapse-transition-duration: var(--s-duration-slow);
}
// #endvariables

.s-collapse {
  transition: height var(--s-collapse-transition-duration);

  &:not(.s-show) {
    display: none;
  }
  &.s-collapsing {
    overflow: hidden;
  }
}
