// #variables
:root {
  --s-toast-font-size: var(--s-text-base);
  --s-toast-width: calc(var(--s-toast-font-size) * 9);
  --s-toast-not-text-min-height: var(--s-toast-width);
  --s-toast-padding-x: var(--s-toast-font-size);
  --s-toast-padding-y: var(--s-toast-font-size);
  --s-toast-border-radius: var(--s-rounded-lg);
  --s-toast-color: var(--s-white);
  --s-toast-bg: var(--s-mask-dark);

  --s-toast-text-max-width: 80vw;
  --s-toast-text-padding-y: 10px;

  --s-toast-icon-margin-bottom: 8px;
  --s-toast-icon-font-size: 36px;

  --s-toast-title-font-size: var(--s-toast-font-size);
  --s-toast-title-line-height: var(--s-leading-normal);
}
// #endvariables

.s-toast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: var(--s-toast-width);
  padding: var(--s-toast-padding-y) var(--s-toast-padding-x);
  border-radius: var(--s-toast-border-radius);
  color: var(--s-toast-color);
  background-color: var(--s-toast-bg);

  &:not(.s-toast-text) {
    min-height: var(--s-toast-not-text-min-height);
  }
  &.s-toast-text {
    width: auto;
    max-width: var(--s-toast-text-max-width);
    padding-top: var(--s-toast-text-padding-y);
    padding-bottom: var(--s-toast-text-padding-y);
    white-space: normal;
    word-break: break-all;
  }
}
.s-toast-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  margin-bottom: var(--s-toast-icon-margin-bottom);
  font-size: var(--s-toast-icon-font-size);
  text-align: center;
}
.s-toast-title {
  font-size: var(--s-toast-title-font-size);
  line-height: var(--s-toast-title-line-height);
  text-align: center;
}
