// #variables
:root {
  --s-rate-font-size: 20px;

  --s-rate-item-margin-left: 10px;

  --s-rate-star-void-color: var(--s-tertiary-color);
  --s-rate-star-color: var(--s-warning);
}

[data-s-theme='dark'] {
  // --s-rate-star-void-color: var(--s-gray-500);
}
// #endvariables

.s-rate {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  font-size: var(--s-rate-font-size);
  user-select: none;
  cursor: pointer;
  touch-action: pan-y;

  @at-root {
    .s-rate-item {
      position: relative;

      ~ .s-rate-item {
        margin-left: var(--s-rate-item-margin-left);
      }

      @at-root {
        .s-rate-star-void {
          position: relative;
          color: var(--s-rate-star-void-color);
        }
        .s-rate-star {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          color: var(--s-rate-star-color);
        }
      }
    }
  }
}

.s-rate-readonly {
  cursor: default;
  touch-action: auto;
}

.s-rate-disabled {
  touch-action: auto;
  @include disabled;
}
