@import '../style/mixins.scss';

// #variables
:root {
  --s-picker-height: 240px;

  --s-picker-item-height: 48px;
  --s-picker-item-font-size: var(--s-text-base);

  --s-picker-mask-from-color: rgba(var(--s-emphasis-bg-rgb), 0.95);
  --s-picker-mask-to-color: rgba(var(--s-emphasis-bg-rgb), 0.6);
  --s-picker-mask-top-bg-image: linear-gradient(
    to bottom,
    var(--s-picker-mask-from-color),
    var(--s-picker-mask-to-color)
  );
  --s-picker-mask-bottom-bg-image: linear-gradient(
    to top,
    var(--s-picker-mask-from-color),
    var(--s-picker-mask-to-color)
  );

  --s-picker-focus-height: 56px;
  --s-picker-focus-border-color: var(--s-border-color);
}
// #endvariables

.s-picker {
  position: relative;
  height: var(--s-picker-height);
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
}

.s-picker-column-group {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.s-picker-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 100%;
  touch-action: pan-x;
}

.s-picker-mask {
  position: relative;
  z-index: 1;
  width: 100%;
  flex: auto;
  pointer-events: none;

  @at-root {
    .s-picker-mask-top {
      background-image: var(--s-picker-mask-top-bg-image);
    }
    .s-picker-mask-bottom {
      background-image: var(--s-picker-mask-bottom-bg-image);
    }
  }
}

.s-picker-focus {
  position: relative;
  display: flex;
  width: 100%;
  height: var(--s-picker-focus-height);
  flex: none;
  align-items: center;
  pointer-events: none;

  @include border-vertical(var(--s-picker-focus-border-color)) {
    z-index: 2;
  }
}

.s-picker-action-area {
  width: 100%;
  height: var(--s-picker-item-height);
}

.s-picker-item-group {
  pointer-events: auto;
  will-change: transform;
}

.s-picker-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--s-picker-item-height);
  overflow: hidden;
  font-size: var(--s-picker-item-font-size);
  @include ellipsis;
  cursor: grab;

  @at-root {
    .s-picker-item-disabled {
      @include disabled-text;
    }
  }
}
