// # 颜色
// ## 灰度值
$sar-white: #fff !default;
$sar-gray-100: #f5f5f5 !default;
$sar-gray-200: #ededed !default;
$sar-gray-300: #e3e3e3 !default;
$sar-gray-400: #d4d4d4 !default;
$sar-gray-500: #b5b5b5 !default;
$sar-gray-600: #757575 !default;
$sar-gray-700: #4f4f4f !default;
$sar-gray-800: #3b3b3b !default;
$sar-gray-900: #262626 !default;
$sar-black: #000 !default;

// ## 颜色
$sar-blue: #0d6efd !default;
$sar-indigo: #6610f2 !default;
$sar-purple: #6f42c1 !default;
$sar-pink: #d63384 !default;
$sar-red: #dc3545 !default;
$sar-orange: #fd7e14 !default;
$sar-yellow: #ffc107 !default;
$sar-green: #198754 !default;
$sar-teal: #20c997 !default;
$sar-cyan: #0dcaf0 !default;

// ## 主题色列表
$sar-theme-colors: (
  primary: (
    var(--sar-primary),
    var(--sar-primary-rgb),
  ),
  secondary: (
    var(--sar-secondary),
    var(--sar-secondary-rgb),
  ),
  success: (
    var(--sar-success),
    var(--sar-success-rgb),
  ),
  info: (
    var(--sar-info),
    var(--sar-info-rgb),
  ),
  warning: (
    var(--sar-warning),
    var(--sar-warning-rgb),
  ),
  danger: (
    var(--sar-danger),
    var(--sar-danger-rgb),
  ),
) !default;

// # bem
$sar-namespace: 'sar' !default;
$sar-block-separator: '-' !default;
$sar-element-separator: '__' !default;
$sar-modifier-separator: '_' !default;

// # grid
$sar-col-columns: 12 !default;

// # loading
$sar-loading-scale-number: 12 !default;
