@import '../style/base.scss';
// #variables
$sar-notify-z-index: 1190 !default;

$sar-notify-width: 90% !default;
$sar-notify-safe-area-min-height: 16px !default;
$sar-notify-paddding-x: 16px !default;
$sar-notify-paddding-y: 8px !default;
$sar-notify-border-radius: $sar-rounded !default;
$sar-notify-box-shadow: $sar-shadow-lg !default;
$sar-notify-font-size: $sar-text-base !default;
$sar-notify-color: $sar-white !default;
// #endvariables

@include bem(notify) {
  @include b() {
    @include universal;
    width: $sar-notify-width;
    pointer-events: box-none;
    @include if-web {
      pointer-events: none;
    }
  }

  @include e(popup) {
    align-items: center;
    z-index: $sar-notify-z-index;
  }

  @include e(safe-area) {
    min-height: $sar-notify-safe-area-min-height;
  }

  @include e(content) {
    @include universal;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $sar-notify-paddding-y $sar-notify-paddding-x;
    border-radius: $sar-notify-border-radius;
    box-shadow: $sar-notify-box-shadow;
    @include if-web {
      pointer-events: auto;
    }

    @each $type,
      $color
        in (
          primary: $sar-primary,
          success: $sar-success,
          warning: $sar-warning,
          error: $sar-danger
        )
    {
      @include m($type) {
        background-color: $color;
      }
    }
  }

  @include e(text) {
    font-size: $sar-notify-font-size;
    color: $sar-white;
  }
}
