@import '../style/variables.scss';

// #variables
$s-badge-content-padding-x: 4px !default;
$s-badge-content-padding-y: 2px !default;
$s-badge-content-font-size: 12px !default;
$s-badge-content-min-width: calc(
  $s-badge-content-padding-y * 2 + $s-badge-content-font-size
) !default;
$s-badge-content-bg: $s-danger !default;
$s-badge-content-color: $s-white !default;

$s-badge-content-dot-size: 8px !default;
// #endvariables

.s-badge {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.s-badge-fixed {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.s-badge-content {
  box-sizing: border-box;
  display: inline-flex;
  flex: none;
  justify-content: center;
  align-self: center;
  min-width: $s-badge-content-min-width;
  padding: $s-badge-content-padding-y $s-badge-content-padding-x;
  font-size: $s-badge-content-font-size;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border-radius: 9999px;
  color: $s-badge-content-color;
  background-color: $s-badge-content-bg;
  box-shadow: 0 0 0 1px #fff;

  .s-badge-zero-hide & {
    display: none;
  }
  .s-badge-is-dot & {
    width: $s-badge-content-dot-size;
    height: $s-badge-content-dot-size;
    min-width: unset;
    padding: 0;
    border-radius: 50%;
  }
}
