// #variables
:root {
  --s-badge-content-padding-x: 4px;
  --s-badge-content-padding-y: 2px;
  --s-badge-content-min-width: calc(
    var(--s-badge-content-padding-y) * 2 + var(--s-badge-content-font-size)
  );
  --s-badge-content-font-size: 12px;
  --s-badge-content-bg: var(--s-danger);
  --s-badge-content-color: var(--s-white);
  --s-badge-content-box-shadow: 0 0 0 1px var(--s-emphasis-bg);
  --s-badge-content-dot-size: 8px;
}
// #endvariables

.s-badge {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.s-badge-fixed {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.s-badge-content {
  box-sizing: border-box;
  display: inline-flex;
  flex: none;
  justify-content: center;
  align-self: center;
  min-width: var(--s-badge-content-min-width);
  padding: var(--s-badge-content-padding-y) var(--s-badge-content-padding-x);
  font-size: var(--s-badge-content-font-size);
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border-radius: var(--s-rounded-full);
  color: var(--s-badge-content-color);
  background-color: var(--s-badge-content-bg);
  box-shadow: var(--s-badge-content-box-shadow);

  .s-badge-zero-hide & {
    display: none;
  }
  .s-badge-is-dot & {
    width: var(--s-badge-content-dot-size);
    height: var(--s-badge-content-dot-size);
    min-width: unset;
    padding: 0;
    border-radius: 50%;
  }
}
