// #variables
:root,
page {
  --sar-result-icon-font-size: 64px;

  --sar-result-success-color: var(--sar-success);
  --sar-result-info-color: var(--sar-info);
  --sar-result-warning-color: var(--sar-warning);
  --sar-result-error-color: var(--sar-danger);
  --sar-result-question-color: var(--sar-primary);

  --sar-result-title-margin-top: 15px;
  --sar-result-title-font-size: var(--sar-text-xl);

  --sar-result-description-margin-top: 5px;
  --sar-result-description-font-size: var(--sar-text-base);
  --sar-result-description-color: var(--sar-tertiary-color);

  --sar-result-extra-margin-top: 20px;
}
// #endvariables

.sar-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @at-root {
    .sar-result-icon {
      display: flex;
      font-size: var(--sar-result-icon-font-size);
      line-height: 1;
      text-align: center;
    }
    .sar-result-title {
      margin-top: var(--sar-result-title-margin-top);
      font-size: var(--sar-result-title-font-size);
      text-align: center;
    }
    .sar-result-description {
      margin-top: var(--sar-result-description-margin-top);
      font-size: var(--sar-result-description-font-size);
      color: var(--sar-result-description-color);
      text-align: center;
    }
    .sar-result-extra {
      margin-top: var(--sar-result-extra-margin-top);
    }
  }
}

// 状态类型
.sar-result-success .sar-result-icon {
  color: var(--sar-result-success-color);
}
.sar-result-info .sar-result-icon {
  color: var(--sar-result-info-color);
}
.sar-result-warning .sar-result-icon {
  color: var(--sar-result-warning-color);
}
.sar-result-error .sar-result-icon {
  color: var(--sar-result-error-color);
}
.sar-result-question .sar-result-icon {
  color: var(--sar-result-question-color);
}
