@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-result-icon-font-size: 48px;

  --sar-result-success-color: var(--sar-success);
  --sar-result-info-color: var(--sar-info);
  --sar-result-warning-color: var(--sar-warning);
  --sar-result-error-color: var(--sar-danger);
  --sar-result-question-color: var(--sar-primary);

  --sar-result-title-margin-top: 15px;
  --sar-result-title-font-size: 18px;

  --sar-result-description-margin-top: 5px;
  --sar-result-description-font-size: var(--sar-text-base);
  --sar-result-description-color: var(--sar-tertiary-color);

  --sar-result-extra-margin-top: 20px;
}
// #endvariables

@include bem.bem(result) {
  @include bem.b() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include bem.e(icon) {
    display: flex;
    font-size: var(--sar-result-icon-font-size);
    line-height: 1;
    text-align: center;

    @include bem.m(success) {
      color: var(--sar-result-success-color);
    }

    @include bem.m(info) {
      color: var(--sar-result-info-color);
    }

    @include bem.m(warning) {
      color: var(--sar-result-warning-color);
    }

    @include bem.m(error) {
      color: var(--sar-result-error-color);
    }

    @include bem.m(question) {
      color: var(--sar-result-question-color);
    }
  }

  @include bem.e(title) {
    margin-top: var(--sar-result-title-margin-top);
    font-size: var(--sar-result-title-font-size);

    text-align: center;
  }

  @include bem.e(description) {
    margin-top: var(--sar-result-description-margin-top);
    font-size: var(--sar-result-description-font-size);
    color: var(--sar-result-description-color);
    text-align: center;
  }

  @include bem.e(extra) {
    margin-top: var(--sar-result-extra-margin-top);
  }
}
