@import '../style/mixins.scss';

// #variables
:root {
  --s-calendar-header-box-shadow: var(--s-shadow-lg);
  --s-calendar-title-font-size: var(--s-text-base);
  --s-calendar-title-line-height: var(--s-leading-normal);
  --s-calendar-week-item-height: 36px;
  --s-calendar-week-item-font-size: var(--s-text-base);

  --s-calendar-month-title-height: 40px;
  --s-calendar-month-title-font-size: var(--s-text-base);
  --s-calendar-month-title-font-weight: bold;
  --s-calendar-month-title-color: var(--s-emphasis-color);
  --s-calendar-month-body-row-gap: 4px;

  --s-calendar-day-height: 56px;
  --s-calendar-day-active-bg: var(--s-bg-active);
  --s-calendar-day-selected-border-radius: var(--s-rounded);
  --s-calendar-day-selected-color: var(--s-white);
  --s-calendar-day-selected-bg: var(--s-primary);
  --s-calendar-day-middle-opacity: 0.125;

  --s-calendar-month-mark-font-size: 160px;
  --s-calendar-month-mark-color: var(--s-deemphasis-color);
  --s-calendar-month-mark-opacity: 0.2;

  --s-calendar-body-height: calc(
    var(--s-calendar-day-height) * 4 + var(--s-calendar-month-body-row-gap) * 4 +
      var(--s-calendar-month-title-height)
  );
}
// #endvariables

.s-calendar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.s-calendar-header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: none;
  box-shadow: var(--s-calendar-header-box-shadow);

  @at-root {
    .s-calendar-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: var(--s-calendar-title-font-size);
      line-height: var(--s-calendar-title-line-height);
    }

    .s-calendar-week {
      display: flex;
      flex-direction: row;

      @at-root {
        .s-calendar-week-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          height: var(--s-calendar-week-item-height);
          font-size: var(--s-calendar-week-item-font-size);
        }
      }
    }
  }
}

.s-calendar-body {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex: none;
  height: var(--s-calendar-body-height);
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.s-calendar-month {
  display: flex;
  flex-direction: column;

  @at-root {
    .s-calendar-month-title {
      display: flex;
      height: var(--s-calendar-month-title-height);
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: var(--s-calendar-month-title-font-size);
      font-weight: var(--s-calendar-month-title-font-weight);
      color: var(--s-calendar-month-title-color);
    }
    .s-calendar-month-body {
      position: relative;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-row-gap: var(--s-calendar-month-body-row-gap);
      grid-column-gap: 0;

      @at-root {
        .s-calendar-day {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          height: var(--s-calendar-day-height);
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: var(--s-transition-duration-fast);

          &.s-calendar-day-disabled {
            @include disabled-text;
          }
          &:not(.s-calendar-day-disabled):not(.s-calendar-day-selected):active {
            border-radius: var(--s-calendar-day-selected-border-radius);
            background-color: var(--s-calendar-day-active-bg);
          }

          &.s-calendar-day-selected {
            border-radius: var(--s-calendar-day-selected-border-radius);
            color: var(--s-calendar-day-selected-color);
            background-color: var(--s-calendar-day-selected-bg);

            &.s-calendar-day-next-selected,
            &.s-calendar-day-start:not(.s-calendar-day-end) {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            & + .s-calendar-day-selected,
            &.s-calendar-day-end:not(.s-calendar-day-start) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
          &.s-calendar-day-middle {
            color: var(--s-primary);
            &::after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              content: '';
              opacity: var(--s-calendar-day-middle-opacity);
              background-color: currentColor;
            }
          }
        }
        .s-calendar-month-mark {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 0;
          font-size: var(--s-calendar-month-mark-font-size);
          color: var(--s-calendar-month-mark-color);
          opacity: var(--s-calendar-month-mark-opacity);
          pointer-events: none;
        }
      }
    }
  }
}
