@use '../style/mixins/bem';
@use '../style/mixins/border';

// #variables
:root,
page {
  --sar-picker-height: 240px;

  --sar-picker-item-font-size: var(--sar-text-lg);
  --sar-picker-item-color: var(--sar-body-color);

  --sar-picker-indicator-height: 48px;
  --sar-picker-indicator-border-color: var(--sar-border-color);

  --sar-picker-mask-from-color: rgba(var(--sar-emphasis-bg-rgb), 0.95);
  --sar-picker-mask-to-color: rgba(var(--sar-emphasis-bg-rgb), 0.6);
  --sar-picker-mask-top-bg-image: linear-gradient(
    to bottom,
    var(--sar-picker-mask-from-color),
    var(--sar-picker-mask-to-color)
  );
  --sar-picker-mask-bottom-bg-image: linear-gradient(
    to top,
    var(--sar-picker-mask-from-color),
    var(--sar-picker-mask-to-color)
  );
}
// #endvariables

@include bem.bem(picker) {
  @include bem.b() {
    height: var(--sar-picker-height);
  }

  @include bem.e(wrapper) {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
  }

  @include bem.e(column) {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 0;
    height: 100%;
    touch-action: pan-x;
  }

  @include bem.e(mask) {
    position: relative;
    z-index: 1;
    width: 100%;
    flex: auto;
    pointer-events: none;

    @include bem.m(top) {
      background-image: var(--sar-picker-mask-top-bg-image);
    }

    @include bem.m(bottom) {
      background-image: var(--sar-picker-mask-bottom-bg-image);
    }
  }

  @include bem.e(indicator) {
    position: relative;
    width: 100%;
    height: var(--sar-picker-indicator-height) !important;
    flex: none;
    align-items: center;
    pointer-events: none;

    @include border.border-vertical(var(--sar-picker-indicator-border-color)) {
      z-index: 2;
    }
  }

  @include bem.e(item-group) {
    pointer-events: auto;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
  }

  @include bem.e(item) {
    flex: none;
    height: var(--sar-picker-indicator-height);
    line-height: var(--sar-picker-indicator-height);
    font-size: var(--sar-picker-item-font-size);
    text-align: center;
    color: var(--sar-picker-item-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // @include bem.e(item-text) {
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
}
