// #variables
:root,
page {
  --sar-progress-circle-size: 100px;
  --sar-progress-circle-track-color: var(--sar-gray-300);
  --sar-progress-circle-trail-color: var(--sar-primary);
}
// #endvariables

.s-progress-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sar-progress-circle-size);
  height: var(--sar-progress-circle-size);

  @at-root {
    .s-progress-circle-track {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: var(--sar-progress-circle-track-color);

      @at-root {
        .s-progress-circle-trail {
          width: 100%;
          height: 100%;
          color: var(--sar-progress-circle-trail-color);

          @at-root {
            .s-progress-circle-cap {
              position: absolute;
              top: 0;
              left: 50%;
              background-color: currentColor;
              border-radius: 50%;

              .s-progress-circle-percent-zero & {
                display: none;
              }
            }
            .s-progress-circle-cap-start {
              transform: translate(-50%, 0);
            }
            .s-progress-circle-cap-end {
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
