@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-progress-circle-size: 100px;
  --sar-progress-circle-track-color: var(--sar-gray-300);
  --sar-progress-circle-trail-color: var(--sar-primary);
}
// #endvariables

@include bem.bem(progress-circle) {
  @include bem.b() {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sar-progress-circle-size);
    height: var(--sar-progress-circle-size);
  }

  @include bem.e(track) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--sar-progress-circle-track-color);
  }

  @include bem.e(trail) {
    width: 100%;
    height: 100%;
    color: var(--sar-progress-circle-trail-color);
  }

  @include bem.e(cap) {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: currentColor;
    border-radius: 50%;

    @include bem.m(percent-zero) {
      display: none;
    }
  }

  @include bem.e(cap-start) {
    transform: translate(-50%, 0);
  }

  @include bem.e(cap-end) {
    transform: translate(-50%, -50%);
  }
}
