@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-mask-z-index: 1100;
  --sar-mask-bg: var(--sar-mask);
}
// #endvariables

@include bem.bem(mask) {
  @include bem.b() {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--sar-mask-z-index);
    display: none;
    background-color: var(--sar-mask-bg);
    touch-action: none;

    @include bem.m(transparent) {
      background-color: transparent;
    }

    @include bem.m(hiding) {
      pointer-events: none;
    }
  }
}
