@use 'sass:math';
@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/disabled.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-slider-track-main-axis-size: 100% !default;
$sar-slider-track-cross-axis-size: 2px !default;
$sar-slider-track-bg: $sar-secondary-bg !default;

$sar-slider-track-piece-bg: $sar-primary !default;

$sar-slider-thumb-size: 24px !default;
$sar-slider-thumb-bg: $sar-white !default;
$sar-slider-thumb-box-shadow: $sar-shadow-sm !default;

$sar-slider-padding: math.div($sar-slider-thumb-size, 2) + 3px !default;
// #endvariables

@include bem(slider) {
  @include b() {
    @include universal;
    flex-direction: row;
    padding: $sar-slider-padding;

    @include ifweb {
      cursor: pointer;

      @include m(readonly) {
        cursor: default;
      }
    }
  }

  @include m(vertical) {
    width: auto;
    height: 100%;
  }

  @include e(track) {
    @include universal;
    width: $sar-slider-track-main-axis-size;
    height: $sar-slider-track-cross-axis-size;
    background-color: $sar-slider-track-bg;

    @include m(vertical) {
      width: $sar-slider-track-cross-axis-size;
      height: $sar-slider-track-main-axis-size;
    }
  }

  @include e(track-piece) {
    @include universal;
    position: absolute;
    width: auto;
    height: 100%;
    background-color: $sar-slider-track-piece-bg;

    @include m(vertical) {
      width: 100%;
      height: auto;
    }
  }

  @include e(thumb-container) {
    @include universal;
    position: absolute;
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    @include ifweb {
      touch-action: none;
    }

    @include m(readonly, disabled) {
      @include ifweb {
        touch-action: auto;
      }
    }
  }

  @include e(thumb) {
    @include universal;
    flex: none;
    width: $sar-slider-thumb-size;
    height: $sar-slider-thumb-size;
    border-radius: $sar-rounded-full;
    background-color: $sar-slider-thumb-bg;
    box-shadow: $sar-slider-thumb-box-shadow;
  }

  @include e(thumb-start) {
    top: 50%;
    left: 0;

    @include m(vertical) {
      top: 0;
      left: 50%;
    }
  }

  @include e(thumb-end) {
    top: 50%;
    right: 0;

    @include m(vertical) {
      top: auto;
      bottom: 0;
      left: 50%;
      right: auto;
    }
  }

  @include m(disabled) {
    @include disabled;
  }
}
