@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/disabled.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/fixed.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-dropdown-height: 44px !default;
$sar-dropdown-bg: $sar-emphasis-bg !default;
$sar-dropdown-box-shadow: $sar-shadow !default;

$sar-dropdown-item-padding-x: 8px !default;
$sar-dropdown-item-active-opacity: $sar-active-opacity !default;
$sar-dropdown-item-show-color: $sar-primary !default;

$sar-dropdown-label-color: $sar-tertiary-color !default;
$sar-dropdown-label-margin-right: 8px !default;

$sar-dropdown-placeholder-color: $sar-tertiary-color !default;

$sar-dropdown-arrow-margin-left: 4px !default;
$sar-dropdown-arrow-color: $sar-border-color !default;
$sar-dropdown-arrow-font-size: $sar-text-sm !default;

$sar-dropdown-popup-z-index: 1000 !default;
$sar-dropdown-popup-content-bg: $sar-emphasis-bg !default;

$sar-dropdown-option-active-color: $sar-primary !default;

$sar-dropdown-option-icon-font-size: $sar-text-base !default;
// #endvariables

@include bem(dropdown) {
  @include b() {
    @include universal;
    flex-direction: row;
    height: $sar-dropdown-height;
    background-color: $sar-dropdown-bg;
  }

  @include e(shadow) {
    @include universal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // @include ifweb {
    //   box-shadow: $sar-dropdown-box-shadow;
    // }

    @include m(show) {
      z-index: $sar-dropdown-popup-z-index + 1;
    }
  }

  @include e(item) {
    @include universal;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 $sar-dropdown-item-padding-x;
    overflow: hidden;

    @include ifweb {
      cursor: pointer;
    }

    @include m(show) {
      @include ifweb {
        touch-action: none;
      }
      color: $sar-dropdown-item-show-color;
    }

    @include m(some-show) {
      z-index: $sar-dropdown-popup-z-index + 1;
    }

    @include m(pressed) {
      opacity: $sar-dropdown-item-active-opacity;
    }

    @include m(disabled) {
      @include ifweb {
        cursor: not-allowed;
      }
    }
  }

  @include e(label) {
    flex: none;
    color: $sar-dropdown-label-color;

    @include m(disabled) {
      @include disabled-text;
    }
  }

  @include e(title, value) {
    flex-grow: 0;
    flex-shrink: 1;

    @include m(has-label) {
      margin-left: $sar-dropdown-label-margin-right;
    }

    @include m(disabled) {
      @include disabled-text;
    }
  }

  @include e(placeholder) {
    @include universal;
    color: $sar-dropdown-placeholder-color;

    @include m(has-label) {
      margin-left: $sar-dropdown-label-margin-right;
    }
  }

  @include e(arrow) {
    @include universal;
    justify-content: center;
    align-items: center;
    margin-left: $sar-dropdown-arrow-margin-left;

    @include m(up) {
      transform: rotate(180deg);
    }
  }

  @include e(arrow-icon) {
    color: $sar-dropdown-arrow-color;
    font-size: $sar-dropdown-arrow-font-size;

    @include m(show) {
      color: $sar-dropdown-option-active-color;
    }
  }

  @include e(away) {
    @include universal;
    @include fixed;
    z-index: $sar-dropdown-popup-z-index;
    display: none;
    opacity: 0;
    @include ifweb {
      touch-action: none;
    }

    @include m(show) {
      display: flex;
    }
  }

  @include e(option) {
    @include universal;
    justify-content: space-between;

    @include m(active) {
      color: $sar-dropdown-option-active-color;
    }
  }

  @include e(option-label) {
    @include m(active) {
      color: $sar-dropdown-option-active-color;
    }
  }

  @include e(option-icon) {
    @include universal;
    display: none;
    margin-left: auto;
    font-size: $sar-dropdown-option-icon-font-size;
    color: $sar-dropdown-option-active-color;

    @include m(active) {
      display: flex;
    }
  }

  @include e(popover) {
    @include universal;
    @include fixed;
    z-index: $sar-dropdown-popup-z-index;
    overflow: hidden;
  }

  @include e(popup) {
    position: absolute;
  }

  @include e(content) {
    background-color: $sar-dropdown-popup-content-bg;
  }
}
