@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/universal.scss';

// #variables
$sar-space-gap-small: 8px !default;
$sar-space-gap-medium: 16px !default;
$sar-space-gap-large: 24px !default;
// #endvariables

@include bem(space) {
  @include b() {
    @include universal;

    @include m(vertical) {
      flex-direction: column;
    }

    @include m(horizontal) {
      flex-direction: row;
    }

    @include m(wrap) {
      flex-wrap: wrap;
    }

    @include m(small) {
      gap: $sar-space-gap-small;
    }

    @include m(medium) {
      gap: $sar-space-gap-medium;
    }

    @include m(large) {
      gap: $sar-space-gap-large;
    }
  }
}
