@use 'sass:math';
@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/universal.scss';

// #variables
$sar-number-keyboard-bg: $sar-gray-200 !default;

$sar-number-keyboard-body-padding-x: 6px !default;
$sar-number-keyboard-body-padding-y: 6px !default;

$sar-number-keyboard-key-gap: 6px !default;
$sar-number-keyboard-key-height: 48px !default;
$sar-number-keyboard-key-border-radius: $sar-rounded !default;
$sar-number-keyboard-key-font-size: $sar-text-2xl !default;
$sar-number-keyboard-key-color: $sar-body-color !default;
$sar-number-keyboard-key-bg: $sar-white !default;
$sar-number-keyboard-key-active-bg: $sar-gray-200 !default;

// @media (prefers-color-scheme: dark) {
//   :root,
//   page {
//     $sar-number-keyboard-bg: $sar-gray-800;
//     $sar-number-keyboard-key-color: $sar-white;
//     $sar-number-keyboard-key-bg: $sar-gray-700;
//     $sar-number-keyboard-key-active-bg: $sar-gray-600;
//   }
// }
// #endvariables

@include bem(number-keyboard) {
  @include b() {
    @include universal;
    background-color: $sar-number-keyboard-bg;
  }

  @include e(body) {
    @include universal;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $sar-number-keyboard-body-padding-y
      $sar-number-keyboard-body-padding-x;
    margin: math.div($sar-number-keyboard-key-gap, 2) * -1;
  }

  @include e(key-wrapper) {
    @include universal;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.3333%;
    width: 33.3333%;
    padding: math.div($sar-number-keyboard-key-gap, 2);
  }

  @include e(backspace) {
    @include universal;
    max-width: 33.3333%;
  }

  @include e(key) {
    @include universal;
    align-items: center;
    justify-content: center;

    height: $sar-number-keyboard-key-height;
    border-radius: $sar-number-keyboard-key-border-radius;
    font-size: $sar-number-keyboard-key-font-size;
    color: $sar-number-keyboard-key-color;
    background-color: $sar-number-keyboard-key-bg;

    @include ifweb {
      cursor: pointer;
    }

    @include m(pressed) {
      background-color: $sar-number-keyboard-key-active-bg;
    }
  }

  @include e(backspace-icon) {
    font-size: $sar-number-keyboard-key-font-size;
  }
}
