@import '../style/base.scss';

// #variables
:root,
page {
  --sar-dropdown-height: 48px;
  --sar-dropdown-bg: var(--sar-emphasis-bg);
  --sar-dropdown-box-shadow: var(--sar-shadow);

  --sar-dropdown-item-padding-x: 10px;
  --sar-dropdown-item-active-opacity: var(--sar-active-opacity);
  --sar-dropdown-item-show-color: var(--sar-primary);

  --sar-dropdown-label-color: var(--sar-tertiary-color);
  --sar-dropdown-label-margin-right: 10px;

  --sar-dropdown-placeholder-color: var(--sar-tertiary-color);

  --sar-dropdown-arrow-margin-left: 5px;
  --sar-dropdown-arrow-color: var(--sar-border-color);
  --sar-dropdown-arrow-font-size: var(--sar-text-sm);

  --sar-dropdown-popup-z-index: 1000;
  --sar-dropdown-popup-content-bg: var(--sar-emphasis-bg);

  --sar-dropdown-option-active-color: var(--sar-primary);

  --sar-dropdown-option-icon-font-size: var(--sar-text-sm);
  --sar-dropdown-option-icon-color: var(--sar-primary);
}
// #endvariables

@include bem(dropdown) {
  @include b() {
    position: relative;
    display: flex;
    height: var(--sar-dropdown-height);
    background: var(--sar-dropdown-bg);
  }

  @include e(shadow) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--sar-dropdown-box-shadow);

    @include m(show) {
      z-index: calc(var(--sar-dropdown-popup-z-index) + 1);
    }
  }

  @include e(item) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 var(--sar-dropdown-item-padding-x);
    user-select: none;
    overflow: hidden;

    @include m(show) {
      touch-action: none;
      color: var(--sar-dropdown-item-show-color);
    }

    @include m(some-show) {
      z-index: calc(var(--sar-dropdown-popup-z-index) + 1);
    }

    @include m(interactive) {
      cursor: pointer;
      &:active {
        opacity: var(--sar-dropdown-item-active-opacity);
      }
    }
  }

  @include e(label) {
    flex: none;
    color: var(--sar-dropdown-label-color);
    @include ellipsis;

    @include m(disabled) {
      @include disabled-text;
    }
  }

  @include e(title, value) {
    flex: 0 1 auto;
    @include ellipsis;

    @include m(has-label) {
      margin-left: var(--sar-dropdown-label-margin-right);
    }

    @include m(disabled) {
      @include disabled-text;
    }
  }

  @include e(placeholder) {
    color: var(--sar-dropdown-placeholder-color);

    @include m(has-label) {
      margin-left: var(--sar-dropdown-label-margin-right);
    }
  }

  @include e(arrow) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--sar-dropdown-arrow-margin-left);
    color: var(--sar-dropdown-arrow-color);
    font-size: var(--sar-dropdown-arrow-font-size);

    @include m(up) {
      transform: rotate(180deg);
    }

    @include m(show) {
      color: inherit;
    }
  }

  @include e(away) {
    position: fixed;
    z-index: var(--sar-dropdown-popup-z-index);
    display: none;
    opacity: 0;
    touch-action: none;

    @include m(show) {
      display: flex;
    }
  }

  @include e(option) {
    display: flex;
    justify-content: space-between;

    @include m(active) {
      color: var(--sar-dropdown-option-active-color);
    }
  }

  @include e(option-icon) {
    display: none;
    margin-left: auto;
    font-size: var(--sar-dropdown-option-icon-font-size);
    color: var(--sar-dropdown-option-icon-color);

    @include m(active) {
      display: flex;
    }
  }

  @include e(popover) {
    position: fixed;
    z-index: var(--sar-dropdown-popup-z-index);
    display: none;
    overflow: hidden;

    @include m(show) {
      display: flex;
    }
  }

  @include e(popup) {
    position: absolute;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;
    background-color: var(--sar-dropdown-popup-content-bg);
  }

  @include e(mask) {
    position: absolute;
  }
}
