// #variables
:root {
  --s-index-bar-anchor-padding: 5px 16px;
  --s-index-bar-anchor-bg: var(--s-gray-100);

  --s-index-bar-nav-z-index: 1010;
  --s-index-bar-nav-padding: 0 5px;
  --s-index-bar-nav-item-font-size: 12px;
  --s-index-bar-nav-item-padding: 3px 5px;
  --s-index-bar-nav-item-color: var(--s-body-color);
  --s-index-bar-nav-item-border-radius: var(--s-rounded);
  --s-index-bar-nav-item-active-color: var(--s-white);
  --s-index-bar-nav-item-active-bg: var(--s-primary);

  --s-index-bar-hint-width: 50px;
  --s-index-bar-hint-height: 50px;
  --s-index-bar-hint-right: 40px;
  --s-index-bar-hint-border-radius: 100px 100px 0 100px;
  --s-index-bar-hint-bg: var(--s-mask);

  --s-index-bar-hint-text-font-size: 24px;
  --s-index-bar-hint-text-line-height: 1;
  --s-index-bar-hint-text-font-weight: bold;
  --s-index-bar-hint-text-color: var(--s-white);
}

[data-s-theme='dark'] {
  --s-index-bar-anchor-bg: var(--s-gray-700);
}
// #endvariables

.s-index-bar-anchor {
  position: sticky;
  z-index: 1;
  padding: var(--s-index-bar-anchor-padding);
  background-color: var(--s-index-bar-anchor-bg);
}
.s-index-bar-content {
  position: relative;
  z-index: 0;
}

.s-index-bar-nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: var(--s-index-bar-nav-z-index);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  padding: var(--s-index-bar-nav-padding);
  touch-action: pan-x;
}

.s-index-bar-nav-item {
  font-size: var(--s-index-bar-nav-item-font-size);
  line-height: 1;
  padding: var(--s-index-bar-nav-item-padding);
  text-align: center;
  color: var(--s-index-bar-nav-item-color);
  border-radius: var(--s-index-bar-nav-item-border-radius);
  cursor: pointer;
  user-select: none;

  &.s-index-bar-nav-item-active {
    color: var(--s-index-bar-nav-item-active-color);
    background-color: var(--s-index-bar-nav-item-active-bg);
  }
}

.s-index-bar-hint {
  position: absolute;
  width: var(--s-index-bar-hint-width);
  height: var(--s-index-bar-hint-height);
  right: var(--s-index-bar-hint-right);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--s-index-bar-hint-border-radius);
  background-color: var(--s-index-bar-hint-bg);
  transform: translateY(-50%) rotate(-45deg);
  pointer-events: none;

  &:not(.s-index-bar-hint-visible) {
    display: none;
  }
}

.s-index-bar-hint-text {
  font-size: var(--s-index-bar-hint-text-font-size);
  line-height: var(--s-index-bar-hint-text-line-height);
  font-weight: var(--s-index-bar-hint-text-font-weight);
  transform: rotate(45deg);
  color: var(--s-index-bar-hint-text-color);
}
