@import '../style/base.scss';

// #variables
:root,
page {
  --sar-tag-border-radius: var(--sar-rounded-sm);
  --sar-tag-line-height: var(--sar-leading-none);
  --sar-tag-color: inherit;
  --sar-tag-bg: var(--sar-secondary-bg);

  --sar-tag-small-padding: 1px 3px;
  --sar-tag-small-font-size: var(--sar-text-sm);
  --sar-tag-medium-padding: 3px 5px;
  --sar-tag-medium-font-size: var(--sar-text-sm);
  --sar-tag-large-padding: 4px 8px;
  --sar-tag-large-font-size: var(--sar-text-base);

  --sar-tag-close-margin-left: 3px;
}
// #endvariables

@include bem(tag) {
  @include b() {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: var(--sar-tag-line-height);
    border-radius: var(--sar-tag-border-radius);
    border: 1px solid transparent;
  }

  @each $theme, $value in $sar-theme-colors {
    $color: nth($value, 1);

    @include m($theme) {
      color: var(--sar-white);
      background-color: $color;
    }

    @include m(#{$theme}-plain) {
      color: $color;
      border-color: currentColor;
      background-color: transparent;
    }
  }

  @include m(default) {
    color: var(--sar-tag-color);
    background-color: var(--sar-tag-bg);
  }

  // 圆角
  @include m(round) {
    border-radius: var(--sar-rounded-full);
  }

  // 标记
  @include m(mark) {
    border-top-right-radius: var(--sar-rounded-full);
    border-bottom-right-radius: var(--sar-rounded-full);
  }

  // 尺寸
  @include m(small) {
    padding: var(--sar-tag-small-padding);
    font-size: var(--sar-tag-small-font-size);
  }

  @include m(medium) {
    padding: var(--sar-tag-medium-padding);
    font-size: var(--sar-tag-medium-font-size);
  }

  @include m(large) {
    padding: var(--sar-tag-large-padding);
    font-size: var(--sar-tag-large-font-size);
  }

  // 可关闭的
  @include e(close) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--sar-tag-close-margin-left);
    cursor: pointer;
  }
}
