@use '../style/variables' as var;
@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-tag-line-height: var(--sar-leading-none);
  --sar-tag-color: inherit;
  --sar-tag-bg: var(--sar-secondary-bg);

  --sar-tag-small-padding: 1px 3px;
  --sar-tag-small-font-size: var(--sar-text-sm);
  --sar-tag-small-border-radius: var(--sar-rounded-xs);

  --sar-tag-medium-padding: 3px 5px;
  --sar-tag-medium-font-size: var(--sar-text-sm);
  --sar-tag-medium-border-radius: var(--sar-rounded-sm);

  --sar-tag-large-padding: 4px 8px;
  --sar-tag-large-font-size: var(--sar-text-base);
  --sar-tag-large-border-radius: var(--sar-rounded-sm);

  --sar-tag-close-margin-left: 3px;
}
// #endvariables

@include bem.bem(tag) {
  @include bem.b() {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: var(--sar-tag-line-height);
    border: 1px solid transparent;
  }

  @each $theme, $value in var.$sar-theme-colors {
    $color: nth($value, 1);

    @include bem.m($theme) {
      color: var(--sar-white);
      background-color: $color;
    }

    @include bem.m(#{$theme}-plain) {
      color: $color;
      border-color: currentColor;
      background-color: transparent;
    }
  }

  @include bem.m(default) {
    color: var(--sar-tag-color);
    background-color: var(--sar-tag-bg);
  }

  // 圆角
  @include bem.m(round) {
    border-radius: var(--sar-rounded-full);
  }

  // 标记
  @include bem.m(mark) {
    border-top-right-radius: var(--sar-rounded-full);
    border-bottom-right-radius: var(--sar-rounded-full);
  }

  // 尺寸
  @include bem.m(small) {
    padding: var(--sar-tag-small-padding);
    font-size: var(--sar-tag-small-font-size);
    border-radius: var(--sar-tag-small-border-radius);
  }

  @include bem.m(medium) {
    padding: var(--sar-tag-medium-padding);
    font-size: var(--sar-tag-medium-font-size);
    border-radius: var(--sar-tag-medium-border-radius);
  }

  @include bem.m(large) {
    padding: var(--sar-tag-large-padding);
    font-size: var(--sar-tag-large-font-size);
    border-radius: var(--sar-tag-large-border-radius);
  }

  // 可关闭的
  @include bem.e(close) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--sar-tag-close-margin-left);
    cursor: pointer;
  }
}
