@use 'sass:math';
@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/sticky.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-index-bar-anchor-padding: 0 16px !default;
$sar-index-bar-anchor-font-size: $sar-text-base !default;
$sar-index-bar-anchor-line-height: 32px !default;
$sar-index-bar-anchor-color: $sar-tertiary-color !default;
$sar-index-bar-anchor-bg: $sar-gray-100 !default;

$sar-index-bar-nav-wrapper-right: 4px !default;

$sar-index-bar-nav-padding: 4px !default;
$sar-index-bar-nav-bg: $sar-gray-100 !default;

$sar-index-bar-nav-item-font-size: 12px !default;
$sar-index-bar-nav-item-size: 20px !default;
$sar-index-bar-nav-item-color: $sar-body-color !default;
$sar-index-bar-nav-item-active-color: $sar-white !default;
$sar-index-bar-nav-item-active-bg: $sar-primary !default;

$sar-index-bar-hint-width: 50px !default;
$sar-index-bar-hint-height: 50px !default;
$sar-index-bar-hint-right: 36px !default;
$sar-index-bar-hint-border-radius: 100px 100px 0 100px !default;
$sar-index-bar-hint-bg: $sar-mask !default;

$sar-index-bar-hint-text-font-size: 24px !default;
$sar-index-bar-hint-text-color: $sar-white !default;

// @media (prefers-color-scheme: dark) {
//   :root,
//   page {
//     $sar-index-bar-anchor-bg: $sar-gray-700;
//   }
// }
// #endvariables

@include bem(index-bar) {
  @include b() {
    @include universal;
  }

  @include e(scroll-view) {
    height: 100%;
  }

  @include e(nav-container) {
    @include universal;
    position: absolute;
    right: $sar-index-bar-nav-wrapper-right;
    top: 0;
    bottom: 0;
    z-index: 10;
    justify-content: center;
    @include ifweb {
      touch-action: none;
    }
  }

  @include e(nav-wrapper) {
    @include universal;
    padding: $sar-index-bar-nav-padding;
    background-color: $sar-index-bar-nav-bg;
    border-radius: $sar-rounded-full;
    @include ifweb {
      touch-action: none;
    }
  }

  @include e(nav) {
    @include universal;

    @include ifweb {
      cursor: pointer;
    }
  }

  @include e(nav-item) {
    @include universal;
    justify-content: center;
    align-items: center;
    width: $sar-index-bar-nav-item-size;
    height: $sar-index-bar-nav-item-size;
    border-radius: $sar-rounded-full;
    font-size: $sar-index-bar-nav-item-font-size;
    color: $sar-index-bar-nav-item-color;

    @include m(active) {
      color: $sar-index-bar-nav-item-active-color;
      background-color: $sar-index-bar-nav-item-active-bg;
    }
  }

  @include e(hint) {
    @include universal;
    position: absolute;
    width: $sar-index-bar-hint-width;
    height: $sar-index-bar-hint-height;
    right: $sar-index-bar-hint-right;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: math.div(-$sar-index-bar-hint-height, 2);
    border-radius: $sar-index-bar-hint-border-radius;
    background-color: $sar-index-bar-hint-bg;
    transform: rotate(-45deg);
    pointer-events: none;
  }

  @include e(hint-text) {
    @include universal;
    font-size: $sar-index-bar-hint-text-font-size;
    line-height: $sar-index-bar-hint-text-font-size * $sar-leading-none;
    font-weight: $sar-font-bold;
    transform: rotate(45deg);
    color: $sar-index-bar-hint-text-color;
  }

  @include e(item-anchor) {
    @include universal;
    @include sticky;
    top: 0;
    z-index: 1;
    padding: $sar-index-bar-anchor-padding;
    font-size: $sar-index-bar-anchor-font-size;
    line-height: $sar-index-bar-anchor-line-height;
    color: $sar-index-bar-anchor-color;
    background-color: $sar-index-bar-anchor-bg;
  }

  @include e(item-content) {
    @include universal;
    z-index: 0;
  }
}
