@use '../style/mixins/bem';
@use '../style/mixins/border';
@use '../style/mixins/ellipsis';

// #variables
:root,
page {
  --sar-navbar-height: 44px;
  --sar-navbar-bg: var(--sar-emphasis-bg);
  --sar-navbar-border-color: var(--sar-border-color);

  --sar-navbar-title-max-width: 60%;
  --sar-navbar-title-font-size: var(--sar-text-lg);
  --sar-navbar-title-color: var(--sar-emphasis-color);

  --sar-navbar-item-padding-x: 10px;
  --sar-navbar-item-font-size: var(--sar-text-base);
  --sar-navbar-item-color: var(--sar-primary);
  --sar-navbar-item-active-opacity: var(--sar-active-opacity);
}
// #endvariables

@include bem.bem(navbar) {
  @include bem.b() {
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: var(--sar-navbar-height);
    align-items: center;
    justify-content: center;
    background-color: var(--sar-navbar-bg);

    @include border.border-bottom(var(--sar-navbar-border-color));
  }

  @include bem.e(content) {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  @include bem.e(title) {
    width: 100%;
    max-width: var(--sar-navbar-title-max-width);
    font-size: var(--sar-navbar-title-font-size);
    font-weight: var(--sar-font-bold);
    text-align: center;
    color: var(--sar-navbar-title-color);
    @include ellipsis.ellipsis;

    @include bem.m(flow) {
      max-width: 100%;
    }
  }

  @include bem.e(left, right) {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex: none;
    align-items: center;
    height: 100%;

    @include bem.m(flow) {
      position: relative;
    }
  }

  @include bem.e(left) {
    left: 0;
  }

  @include bem.e(right) {
    right: 0;
  }

  @include bem.e(item) {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 var(--sar-navbar-item-padding-x);
    font-size: var(--sar-navbar-item-font-size);
    line-height: 1;
    color: var(--sar-navbar-item-color);
    user-select: none;
    cursor: pointer;

    &:active {
      opacity: var(--sar-navbar-item-active-opacity);
    }
  }

  @include bem.m(fixed) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
