@import '../style/mixins.scss';

// #variables
:root {
  --s-tab-label-height: 48px;
  --s-tab-label-font-size: var(--s-text-base);
  --s-tab-label-color: var(--s-secondary-color);
  --s-tab-label-active-color: var(--s-emphasis-color);

  --s-tab-auto-label-padding-x: 15px;

  --s-tab-label-card-active-bg: var(--s-emphasis-bg);

  --s-tab-label-line-width: 40px;
  --s-tab-label-line-height: 3px;
  --s-tab-label-line-bg: var(--s-primary);

  --s-tab-label-border-border-radius: var(--s-rounded-sm);
  --s-tab-label-border-border-color: var(--s-primary);
  --s-tab-label-border-label-height: 28px;
  --s-tab-label-border-label-active-color: var(--s-white);

  --s-tab-label-pill-label-height: 28px;
  --s-tab-label-pill-label-border-radius: var(--s-rounded-full);
  --s-tab-label-pill-label-active-bg: var(--s-primary);
  --s-tab-label-pill-label-active-color: var(--s-white);

  --s-tab-vertical-label-height: 40px;
  --s-tab-vertical-label-padding-x: 15px;

  --s-tab-inkbar-width: 40px;
  --s-tab-inkbar-height: 3px;
  --s-tab-inkbar-bg: var(--s-primary);

  --s-tab-prepend-gap: 5px;
  --s-tab-append-gap: 5px;
}
// #endvariables

.s-tab {
  position: relative;
}

.s-tab-header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  .s-tab-sticky & {
    position: sticky;
    top: 0;
  }
}

.s-tab-label-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

.s-tab-label {
  position: relative;
  display: flex;
  flex: 1;
  height: var(--s-tab-label-height);
  justify-content: center;
  align-items: center;
  font-size: var(--s-tab-label-font-size);
  color: var(--s-tab-label-color);
  cursor: pointer;

  @at-root {
    // # label-禁用状态
    .s-tab-label-disabled {
      @include disabled-text;
    }

    // # label-活动状态
    .s-tab-label-active {
      font-weight: bold;
      color: var(--s-tab-label-active-color);
    }
  }
}

.s-tab-inkbar-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: none;

  @at-root {
    .s-tab-inkbar {
      width: var(--s-tab-inkbar-width);
      height: var(--s-tab-inkbar-height);
      background-color: var(--s-tab-inkbar-bg);
    }
  }
}

// 卡片标签
.s-tab-label-card {
  .s-tab-label {
    &.s-tab-label-active {
      background-color: var(--s-tab-label-card-active-bg);
    }
  }
  .s-tab-label-line {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    height: var(--s-tab-label-line-height);
    background-color: var(--s-tab-label-line-bg);
  }
  .s-tab-label:not(.s-tab-label-active) .s-tab-label-line {
    display: none;
  }
}

// 边框标签
.s-tab-label-border {
  &.s-tab-label-wrapper {
    border: 1px solid currentColor;
    border-radius: var(--s-tab-label-border-border-radius);
    color: var(--s-tab-label-border-border-color);
  }
  .s-tab-label {
    height: var(--s-tab-label-border-label-height);
    color: inherit;
    ~ .s-tab-label {
      border-left: 1px solid currentColor;
    }
    &.s-tab-label-active {
      background-color: currentColor;
      .s-tab-label-text {
        color: var(--s-tab-label-border-label-active-color);
      }
    }
  }
}

// 胶囊
.s-tab-label-pill {
  .s-tab-label {
    height: var(--s-tab-label-pill-label-height);
    border-radius: var(--s-tab-label-pill-label-border-radius);
    &.s-tab-label-active {
      background-color: var(--s-tab-label-pill-label-active-bg);
      .s-tab-label-text {
        color: var(--s-tab-label-pill-label-active-color);
      }
    }
  }
}

// 自动滚动
.s-tab-auto {
  .s-tab-label-wrapper {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .s-tab-label {
    flex: 0;
    padding: 0 var(--s-tab-auto-label-padding-x);
    white-space: nowrap;
  }
}

// 插槽
.s-tab-prepend,
.s-tab-append {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}
.s-tab-prepend {
  padding-right: var(--s-tab-prepend-gap);
}
.s-tab-append {
  padding-left: var(--s-tab-append-gap);
}

// body
.s-tab-body {
  position: relative;
}
.s-tab-pane {
  .s-tab:not(.s-tab-is-swiper):not(.s-tab-scrollspy) &:not(.s-tab-pane-active) {
    display: none;
  }
}

// 垂直
.s-tab-vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .s-tab-header {
    flex: none;
    flex-direction: column;
    align-self: flex-start;
  }

  .s-tab-label-wrapper {
    width: 100%;
    flex-direction: column;
  }

  &.s-tab-auto {
    .s-tab-label-wrapper {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .s-tab-label {
    flex: none;
    padding: 0 15px;
    height: var(--s-tab-vertical-label-height);
  }

  .s-tab-label-line {
    right: 0;
    left: auto;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: var(--s-tab-label-line-height);
    height: 100%;
  }
  .s-tab-label-card .s-tab-label-line {
    left: 0;
    right: auto;
  }

  .s-tab-inkbar-wrapper {
    left: auto;
    bottom: auto;
    right: 0;
    top: 0;
    transform: translateY(-50%);

    .s-tab-inkbar {
      height: var(--s-tab-inkbar-width);
      width: var(--s-tab-inkbar-height);
    }
  }

  .s-tab-label-border {
    .s-tab-label {
      ~ .s-tab-label {
        border-left: none;
        border-top: 1px solid currentColor;
      }
    }
  }

  .s-tab-body {
    flex: 1;
    align-self: stretch;
  }
}
