@import '../style/mixins.scss';

// #variables
:root {
  --s-form-item-padding-x: 15px;
  --s-form-item-padding-y: 15px;
  --s-form-item-border-color: var(--s-border-color);

  --s-form-item-label-width: 6.5em;

  --s-form-item-error-margin-top: 5px;
  --s-form-item-error-font-size: var(--s-text-sm);
  --s-form-item-error-color: var(--s-danger);
}
// #endvariables

.s-form-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--s-form-item-padding-y) var(--s-form-item-padding-x);

  @include border-bottom(var(--s-form-item-border-color)) {
    left: var(--s-form-item-padding-x);
    right: var(--s-form-item-padding-x);
  }

  @at-root {
    .s-form-item-label {
      flex: none;
      width: var(--s-form-item-label-width);
    }

    .s-form-item-content {
      flex: 1;

      @at-root {
        .s-form-item-error {
          margin-top: var(--s-form-item-error-margin-top);
          font-size: var(--s-form-item-error-font-size);
          color: var(--s-form-item-error-color);
        }
      }
    }
  }
}
