@import '../style/mixins.scss';

// #variables
:root {
  --s-accordion-border-color: var(--s-border-color);
  --s-accordion-border-radius: var(--s-border-radius);

  --s-accordion-item-header-padding: 10px 15px;
  --s-accordion-item-title-font-size: var(--s-text-base);
  --s-accordion-item-arrow-transition-duration: var(--s-duration);
  --s-accordion-item-content-padding: 10px 15px 15px;
}
// #endvariables

.s-accordion {
  position: relative;
  @include border-vertical(var(--s-accordion-border-color));
  border-radius: var(--s-accordion-border-radius);
}

.s-accordion-item {
  position: relative;
  ~ .s-accordion-item {
    @include border-top(var(--s-accordion-border-color));
  }
}

.s-accordion-item-header {
  display: flex;
  padding: var(--s-accordion-item-header-padding);
  cursor: pointer;

  .s-accordion-item-disabled & {
    @include disabled-text;
  }
}

.s-accordion-item-title {
  display: flex;
  align-items: center;
  font-size: var(--s-accordion-item-title-font-size);
}

.s-accordion-item-icon {
  margin-left: auto;
}

.s-accordion-item-arrow {
  transition: transform var(--s-accordion-item-arrow-transition-duration);

  .s-accordion-item-active & {
    transform: rotate(-180deg);
  }
}

.s-accordion-item-content {
  padding: var(--s-accordion-item-content-padding);
}
