// @import 'sard-taro/dist/style/variables' with (
//   $sar-blue: orange,
//   $sar-namespace: 'custom',
//   $sar-modifier-separator: '--'
// );

@import './assets/fonts/iconfont.scss';
@import 'sard-taro/dist/index.scss';
@import 'sard-taro/dist/style/mixins/ifweb.scss';

@include ifweb {
  .taro_page {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .taro_router div.taro_page,
  page {
    font-size: $sar-text-base;
    line-height: $sar-text-base * $sar-leading-normal;
    min-height: 100vh;
    color: $sar-body-color;
    background-color: $sar-body-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
