// #variables
:root {
  --s-cascader-selected-color: var(--s-primary);

  --s-cascader-options-height: 320px;

  --s-cascader-option-padding-y: 10px;
  --s-cascader-option-padding-x: 16px;
  --s-cascader-option-font-size: var(--s-text-base);
  --s-cascader-option-line-height: var(--s-leading-normal);
  --s-cascader-option-active-bg: var(--s-secondary-bg);
}
// #endvariables

.s-cascader-options {
  box-sizing: border-box;
  height: var(--s-cascader-options-height);
  overflow-y: auto;

  @at-root {
    .s-cascader-option {
      display: flex;
      font-size: var(--s-cascader-option-font-size);
      line-height: var(--s-cascader-option-line-height);
      padding: var(--s-cascader-option-padding-y)
        var(--s-cascader-option-padding-x);

      &:not(.s-cascader-option-disabled) {
        cursor: pointer;

        &:active {
          background-color: var(--s-cascader-option-active-bg);
        }
      }

      &.s-cascader-option-selected {
        color: var(--s-cascader-selected-color);
        font-weight: bold;
      }

      @at-root {
        .s-cascader-option-icon {
          display: none;
          margin-left: auto;

          .s-cascader-option-selected & {
            display: block;
          }
        }
      }
    }
  }
}
