// #variables
:root {
  --s-skeleton-bg: var(--s-secondary-bg);
  --s-skeleton-bg-rgb: var(--s-secondary-bg-rgb);
  --s-skeleton-dark-bg-rgb: var(--s-gray-400-rgb);
  --s-skeleton-border-radius: var(--s-rounded-sm);

  --s-skeleton-avatar-size: 32px;
  --s-skeleton-avatar-margin-right: 15px;

  --s-skeleton-title-width: 40%;
  --s-skeleton-title-height: 20px;
  --s-skeleton-title-gap: 20px;

  --s-skeleton-row-last-width: 60%;
  --s-skeleton-row-gap: 15px;

  --s-skeleton-block-height: 15px;

  --s-skeleton-row-gap: 15px;
}

[data-s-theme='dark'] {
  --s-skeleton-dark-bg-rgb: var(--s-gray-600-rgb);
}
// #endvariables

// # animated
@keyframes s-skeleton-animated {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.s-skeleton-animated {
  background: linear-gradient(
    90deg,
    rgb(var(--s-skeleton-bg-rgb), 0.2) 25%,
    rgb(var(--s-skeleton-dark-bg-rgb), 0.6) 40%,
    rgb(var(--s-skeleton-bg-rgb), 0.2) 60%
  );
  background-size: 400% 100%;
  animation: s-skeleton-animated 1.5s ease infinite;
}

// # block
.s-skeleton-block {
  width: 100%;
  height: var(--s-skeleton-block-height);
  background-color: var(--s-skeleton-bg);
  border-radius: var(--s-skeleton-border-radius);
}

// # round
.s-skeleton-round {
  border-radius: 9999px;
}

// # avatar
.s-skeleton-avatar {
  flex: none;
  width: var(--s-skeleton-avatar-size);
  height: var(--s-skeleton-avatar-size);
  background-color: var(--s-skeleton-bg);
}
.s-skeleton-avatar-round {
  border-radius: 50%;
}
.s-skeleton-avatar-square {
  border-radius: var(--s-skeleton-border-radius);
}

// # title
.s-skeleton-title {
  width: var(--s-skeleton-title-width);
  height: var(--s-skeleton-title-height);
  background-color: var(--s-skeleton-bg);
}

// # paragraph
.s-skeleton-row {
  &:not(:first-child) {
    margin-top: var(--s-skeleton-row-gap);
  }
  &:last-child {
    width: var(--s-skeleton-row-last-width);
  }
}

// # skeleton
.s-skeleton {
  display: flex;
  flex-wrap: nowrap;

  @at-root {
    .s-skeleton-content {
      flex: 1;
    }
  }

  .s-skeleton-avatar {
    margin-right: var(--s-skeleton-avatar-margin-right);
  }

  .s-skeleton-title ~ .s-skeleton-paragraph {
    margin-top: var(--s-skeleton-title-gap);
  }
}
