@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/disabled.scss';
@import '../style/mixins/universal.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-rate-star-void-color: $sar-quaternary-color !default;
$sar-rate-star-color: $sar-warning !default;
// #endvariables

@include bem(rate) {
  @include b() {
    @include universal;
    flex-direction: row;
    @include ifweb {
      touch-action: pan-y;
    }
  }

  @include e(item) {
    @include universal;

    @include ifweb {
      cursor: pointer;

      @include m(readonly) {
        cursor: default;
      }

      @include m(disabled) {
        cursor: not-allowed;
      }
    }
  }

  @include e(star-void) {
    @include universal;
    color: $sar-rate-star-void-color;
  }

  @include e(star-void-icon) {
    color: $sar-rate-star-void-color;
  }

  @include e(star) {
    @include universal;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    width: 0;
    overflow: hidden;
    color: $sar-rate-star-color;
  }

  @include e(star-icon) {
    color: $sar-rate-star-color;
  }

  @include m(readonly) {
    @include ifweb {
      touch-action: auto;
    }
  }

  @include m(disabled) {
    @include ifweb {
      touch-action: auto;
    }
    @include disabled;
  }
}
