// #variables
:root {
  --s-transition-duration: var(--s-duration);
  --s-transition-timing-function: ease-out;
}
// #endvariables

// fade
.s-transition-fade-enter {
  animation: s-transition-fade-enter var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-fade-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.s-transition-fade-exiting,
.s-transition-fade-exited {
  animation: s-transition-fade-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-fade-exiting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// zoom
.s-transition-zoom-enter {
  animation: s-transition-zoom-enter var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-zoom-enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.s-transition-zoom-exiting,
.s-transition-zoom-exited {
  animation: s-transition-zoom-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-zoom-exiting {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

// slideTop
.s-transition-slide-top-enter {
  animation: s-transition-slide-top-enter var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-slide-top-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.s-transition-slide-top-exiting,
.s-transition-slide-top-exited {
  animation: s-transition-slide-top-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-slide-top-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}

// slideRight
.s-transition-slide-right-enter {
  animation: s-transition-slide-right-enter var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.s-transition-slide-right-exiting,
.s-transition-slide-right-exited {
  animation: s-transition-slide-right-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-slide-right-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

// slideBottom
.s-transition-slide-bottom-enter {
  animation: s-transition-slide-bottom-enter var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.s-transition-slide-bottom-exiting,
.s-transition-slide-bottom-exited {
  animation: s-transition-slide-bottom-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-slide-bottom-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

// slideLeft
.s-transition-slide-left-enter {
  animation: s-transition-slide-left-enter var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.s-transition-slide-left-exiting,
.s-transition-slide-left-exited {
  animation: s-transition-slide-left-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-slide-left-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

// collapse
.s-transition-collapse-entering {
  animation: s-transition-collapse-entering var(--s-transition-duration)
    var(--s-transition-timing-function);
}
@keyframes s-transition-collapse-entering {
  from {
    height: 0;
  }
}

.s-transition-collapse-exiting,
.s-transition-collapse-exited {
  animation: s-transition-collapse-exiting var(--s-transition-duration)
    var(--s-transition-timing-function) both;
}
@keyframes s-transition-collapse-exiting {
  to {
    height: 0;
  }
}
