@use '../style/base' as *;

// #region variables
:root {
  // list
  #{css-var-name(list-border-color)}: css-var(border-color);

  #{css-var-name(list-title-margin-x)}: css-var(size);
  #{css-var-name(list-title-margin-top)}: css-var(size-2xl);
  #{css-var-name(list-title-margin-bottom)}: css-var(size-xs);
  #{css-var-name(list-title-font-size)}: css-var(font-size-sm);
  #{css-var-name(list-title-line-height)}: css-var(line-height-snug);
  #{css-var-name(list-title-color)}: css-var(text-color-tertiary);

  #{css-var-name(list-description-margin-x)}: css-var(size);
  #{css-var-name(list-description-margin-top)}: css-var(size-xs);
  #{css-var-name(list-description-font-size)}: css-var(font-size-sm);
  #{css-var-name(list-description-line-height)}: css-var(line-height-snug);
  #{css-var-name(list-description-color)}: css-var(text-color-tertiary);

  #{css-var-name(list-card-radius)}: css-var(border-radius-lg);

  // item
  #{css-var-name(list-item-min-height)}: css-var(content-height);
  #{css-var-name(list-item-padding-x)}: css-var(content-padding-x);
  #{css-var-name(list-item-padding-y)}: css-var(content-padding-y);
  #{css-var-name(list-item-bg)}: css-var(bg-color-container);
  #{css-var-name(list-item-bg-active)}: css-var(bg-color-active);
  #{css-var-name(list-item-opacity-disabled)}: css-var(opacity-disabled);

  #{css-var-name(list-item-icon-size)}: css-var(size-lg);
  #{css-var-name(list-item-icon-margin-end)}: css-var(size-sm);

  #{css-var-name(list-item-title-font-size)}: css-var(font-size);
  #{css-var-name(list-item-title-line-height)}: css-var(line-height-snug);

  #{css-var-name(list-item-value-font-size)}: css-var(font-size);
  #{css-var-name(list-item-value-line-height)}: css-var(line-height-snug);
  #{css-var-name(list-item-value-color)}: css-var(text-color-tertiary);

  #{css-var-name(list-item-description-margin-top)}: css-var(size-2xs);
  #{css-var-name(list-item-description-font-size)}: css-var(font-size-sm);
  #{css-var-name(list-item-description-line-height)}: css-var(line-height-snug);
  #{css-var-name(list-item-description-color)}: css-var(text-color-tertiary);

  #{css-var-name(list-item-arrow-margin-start)}: css-var(size-xs);
  #{css-var-name(list-item-arrow-font-size)}: css-var(font-size);
  #{css-var-name(list-item-arrow-color)}: css-var(text-color-tertiary);

  #{css-var-name(list-divider-start)}: css-var(list-item-padding-x);
  #{css-var-name(list-divider-end)}: css-var(list-item-padding-x);
}
// #endregion variables

@include b(list) {
  @include e(title) {
    margin-inline-start: css-var(list-title-margin-x);
    margin-inline-end: css-var(list-title-margin-x);
    margin-top: css-var(list-title-margin-top);
    margin-bottom: css-var(list-title-margin-bottom);
    font-size: css-var(list-title-font-size);
    line-height: css-var(list-title-line-height);
    color: css-var(list-title-color);
  }

  @include e(content) {
    position: relative;
    &::before {
      @include border-vertical(css-var(list-border-color));
    }
  }

  @include m(borderless) {
    @include e(content) {
      &::before {
        display: none;
      }
    }
  }

  @include e(description) {
    margin-inline-start: css-var(list-description-margin-x);
    margin-inline-end: css-var(list-description-margin-x);
    margin-top: css-var(list-description-margin-top);
    font-size: css-var(list-description-font-size);
    line-height: css-var(list-description-line-height);
    color: css-var(list-description-color);
  }

  @include m(card) {
    @include e(content) {
      border-radius: css-var(list-card-radius);
    }
  }

  @include m(not-card) {
    @include e(content) {
      border-radius: 0;
    }
  }

  @include m(card, inlaid) {
    @include e(content) {
      &::before {
        display: none;
      }
    }
  }
}

@include b(list-item) {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  min-height: css-var(list-item-min-height);
  padding: css-var(list-item-padding-y) css-var(list-item-padding-x);
  background: css-var(list-item-bg);

  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &::before {
    @include border-top(css-var(border-color));
    inset-inline-start: css-var(list-divider-start);
    inset-inline-end: css-var(list-divider-end);
  }

  @include m(borderless) {
    &::before {
      display: none;
    }
  }

  &:first-child::before {
    display: none;
  }

  @include m(hover) {
    cursor: pointer;

    &:active {
      background: css-var(list-item-bg-active);
    }
  }

  @include m(custom) {
    flex-direction: column;
  }

  @include e(icon) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    margin-inline-end: css-var(list-item-icon-margin-end);
    font-size: css-var(list-item-icon-size);
  }

  @include e(title) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    font-size: css-var(list-item-title-font-size);
    line-height: css-var(list-item-title-line-height);
    word-break: break-all;
  }

  @include e(description) {
    margin-top: css-var(list-item-description-margin-top);
    font-size: css-var(list-item-description-font-size);
    line-height: css-var(list-item-description-line-height);
    color: css-var(list-item-description-color);
    word-break: break-all;
  }

  @include e(value) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: auto;
    font-size: css-var(list-item-value-font-size);
    line-height: css-var(list-item-value-line-height);
    color: css-var(list-item-value-color);
    text-align: right;
    word-break: break-all;
  }

  @include e(arrow) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: css-var(list-item-arrow-margin-start);
    font-size: css-var(list-item-arrow-font-size);
    color: css-var(list-item-arrow-color);

    @include rtl-flip;
  }
}
