.page-count-down {
  .demo-time-wrap {
    display: flex;
    align-items: center;
  }
  .demo-time {
    padding: 5px;
    background: orange;
    border-radius: 4px;
    color: #000;
  }
  .demo-colon {
    margin: 0 5px;
  }
}
