@use '../style/mixins/bem';
@use '../style/mixins/border';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-accordion-border-color: var(--sar-border-color);
  --sar-accordion-border-radius: var(--sar-border-radius);

  --sar-accordion-item-header-padding: 10px 15px;

  --sar-accordion-item-title-font-size: var(--sar-text-base);

  --sar-accordion-item-icon-font-size: var(--sar-text-base);
  --sar-accordion-item-icon-color: var(--sar-tertiary-color);

  --sar-accordion-item-arrow-transition-duration: var(--sar-duration);

  --sar-accordion-item-content-padding: 10px 15px 15px;
}
// #endvariables

@include bem.bem(accordion) {
  @include bem.b() {
    position: relative;
    @include border.border-vertical(var(--sar-accordion-border-color));
    border-radius: var(--sar-accordion-border-radius);
  }
}

@include bem.bem(accordion-item) {
  @include bem.b() {
    position: relative;
  }

  @include bem.m(later) {
    @include border.border-top(var(--sar-accordion-border-color));
  }

  @include bem.e(header) {
    display: flex;
    padding: var(--sar-accordion-item-header-padding);
    cursor: pointer;

    @include bem.m(disabled) {
      @include disabled.disabled-text;
    }
  }

  @include bem.e(title) {
    display: flex;
    align-items: center;
    font-size: var(--sar-accordion-item-title-font-size);
  }

  @include bem.e(icon) {
    margin-left: auto;
    font-size: var(--sar-accordion-item-icon-font-size);
    color: var(--sar-accordion-item-icon-color);
  }

  @include bem.e(arrow) {
    transition: transform var(--sar-accordion-item-arrow-transition-duration);

    @include bem.m(active) {
      transform: rotate(-180deg);
    }
  }

  @include bem.e(content) {
    padding: var(--sar-accordion-item-content-padding);
  }
}
