@import '../style/mixins.scss';

// #variables
:root,
page {
  --sar-accordion-border-color: var(--sar-border-color);
  --sar-accordion-border-radius: var(--sar-border-radius);

  --sar-accordion-item-header-padding: 10px 15px;

  --sar-accordion-item-title-font-size: var(--sar-text-base);

  --sar-accordion-item-icon-font-size: var(--sar-text-base);
  --sar-accordion-item-icon-color: var(--sar-tertiary-color);

  --sar-accordion-item-arrow-transition-duration: var(--sar-duration);

  --sar-accordion-item-content-padding: 10px 15px 15px;
}
// #endvariables

.sar-accordion {
  position: relative;
  @include border-vertical(var(--sar-accordion-border-color));
  border-radius: var(--sar-accordion-border-radius);
}

.sar-accordion-item {
  position: relative;
  ~ .sar-accordion-item {
    @include border-top(var(--sar-accordion-border-color));
  }
}

.sar-accordion-item-header {
  display: flex;
  padding: var(--sar-accordion-item-header-padding);
  cursor: pointer;

  .sar-accordion-item-disabled & {
    @include disabled-text;
  }
}

.sar-accordion-item-title {
  display: flex;
  align-items: center;
  font-size: var(--sar-accordion-item-title-font-size);
}

.sar-accordion-item-icon {
  margin-left: auto;
  font-size: var(--sar-accordion-item-icon-font-size);
  color: var(--sar-accordion-item-icon-color);
}

.sar-accordion-item-arrow {
  transition: transform var(--sar-accordion-item-arrow-transition-duration);

  .sar-accordion-item-active & {
    transform: rotate(-180deg);
  }
}

.sar-accordion-item-content {
  padding: var(--sar-accordion-item-content-padding);
}
