// #variables
:root {
  --s-result-icon-font-size: 64px;

  --s-result-success-color: var(--s-success);
  --s-result-info-color: var(--s-info);
  --s-result-warning-color: var(--s-warning);
  --s-result-error-color: var(--s-danger);
  --s-result-question-color: var(--s-primary);

  --s-result-title-margin-top: 15px;
  --s-result-title-font-size: var(--s-text-xl);

  --s-result-description-margin-top: 5px;
  --s-result-description-font-size: var(--s-text-base);
  --s-result-description-color: var(--s-tertiary-color);

  --s-result-extra-margin-top: 20px;
}
// #endvariables

.s-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @at-root {
    .s-result-icon {
      font-size: var(--s-result-icon-font-size);
      line-height: 1;
      text-align: center;
    }
    .s-result-title {
      margin-top: var(--s-result-title-margin-top);
      font-size: var(--s-result-title-font-size);
      text-align: center;
    }
    .s-result-description {
      margin-top: var(--s-result-description-margin-top);
      font-size: var(--s-result-description-font-size);
      color: var(--s-result-description-color);
      text-align: center;
    }
    .s-result-extra {
      margin-top: var(--s-result-extra-margin-top);
    }
  }
}

// 状态类型
.s-result-success .s-result-icon {
  color: var(--s-result-success-color);
}
.s-result-info .s-result-icon {
  color: var(--s-result-info-color);
}
.s-result-warning .s-result-icon {
  color: var(--s-result-warning-color);
}
.s-result-error .s-result-icon {
  color: var(--s-result-error-color);
}
.s-result-question .s-result-icon {
  color: var(--s-result-question-color);
}
