@import '../variables.scss';

@mixin bem($block) {
  $selector: $sar-namespace + $sar-block-separator + $block;

  .#{$selector} {
    @content;
  }
}

@mixin b() {
  & {
    @content;
  }
}

@mixin e($elements...) {
  $selector: ();

  @each $outer in & {
    @each $element in $elements {
      $selector: join(
        $selector,
        $outer + $sar-element-separator + $element,
        comma
      );
    }
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}

@mixin m($modifiers...) {
  $selector: ();

  @each $outer in & {
    @each $modifier in $modifiers {
      $selector: join(
        $selector,
        $outer + $sar-modifier-separator + $modifier,
        comma
      );
    }
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}
