@use '../functions' as fn;

@mixin button-set-theme {
  &,
  &[disabled],
  &:not([disabled]):active,
  &:not([disabled])#{fn.bem(button, '', hover)} {
    @content;
  }
}

@mixin button-active {
  &:not([disabled]):not(#{fn.bem(button, '', loading)}):not(
      #{fn.bem(button, '', disabled)}
    ) {
    &:active,
    &#{fn.bem(button, '', hover)} {
      @content;
    }
  }
}

@mixin button-size(
  $height,
  $padding-y,
  $padding-x,
  $border-radius,
  $font-size
) {
  height: $height;
  padding: $padding-y $padding-x;
  border-radius: $border-radius;
  font-size: $font-size;
}

@mixin button-flush {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;

  &:not([disabled]):active {
    background-color: transparent;
  }

  &::after {
    border: none;
  }
}
