@use 'sass:math';
@use '../functions' as fn;
@use '../mixins/bem';

@mixin make-col($columns: 12) {
  @for $col from 1 through $columns {
    @include bem.m($col) {
      $width: fn.tofixed(100% * math.div($col, $columns), 4);
      width: $width;
      max-width: $width;
    }
  }
}

@mixin make-offset($columns: 12) {
  @for $col from 0 through $columns {
    @include bem.m(offset-#{$col}) {
      $offset: fn.tofixed(100% * math.div($col, $columns), 4);
      margin-left: $offset;
    }
  }
}
