@import '../style/mixins.scss';

// #variables
:root {
  --s-navbar-height: 44px;
  --s-navbar-bg: var(--s-emphasis-bg);
  --s-navbar-border-color: var(--s-border-color);

  --s-navbar-title-max-width: 60%;
  --s-navbar-title-font-size: var(--s-text-lg);
  --s-navbar-title-color: var(--s-emphasis-color);

  --s-navbar-item-padding-x: 10px;
}
// #endvariables

.s-navbar {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: var(--s-navbar-height);
  align-items: center;
  justify-content: center;
  background-color: var(--s-navbar-bg);

  @include border-bottom(var(--s-navbar-border-color));

  @at-root {
    .s-navbar-content {
      display: flex;
      height: 100%;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @at-root {
        .s-navbar-title {
          width: 100%;
          max-width: var(--s-navbar-title-max-width);
          font-size: var(--s-navbar-title-font-size);
          font-weight: bold;
          text-align: center;
          color: var(--s-navbar-title-color);
          @include ellipsis;
        }
      }
    }

    .s-navbar-prepend,
    .s-navbar-append {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      flex: none;
      align-items: center;
      height: 100%;
    }
    .s-navbar-prepend {
      left: 0;
    }
    .s-navbar-append {
      right: 0;
    }

    .s-navbar-item {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 var(--s-navbar-item-padding-x);
      user-select: none;
      line-height: 1;
      cursor: pointer;
    }
  }
}

.s-navbar-flow {
  .s-navbar-prepend,
  .s-navbar-append {
    position: relative;
  }

  .s-navbar-title {
    max-width: 100%;
  }
}

.s-navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
