@import './variables.scss';

// 颜色
@each $colors
  in (
    $sar-grays,
    $sar-blues,
    $sar-indigos,
    $sar-purples,
    $sar-pinks,
    $sar-reds,
    $sar-oranges,
    $sar-yellows,
    $sar-greens,
    $sar-teals,
    $sar-cyans
  )
{
  @each $name, $color in $colors {
    // 文字颜色
    .sar-#{$name} {
      color: $color;
    }

    // 背景色
    .sar-#{$name}-bg {
      background-color: $color;
    }
  }
}

// 主题色
@each $name, $colors in $sar-theme-colors {
  $color: nth($colors, 1);

  // 文字颜色
  .sar-#{$name} {
    color: $color;
  }

  // 背景色
  .sar-#{$name}-bg {
    background-color: $color;
  }
}

// 圆角
.sar-rounded-xs {
  border-radius: $sar-rounded-xs;
}

.sar-rounded-sm {
  border-radius: $sar-rounded-sm;
}

.sar-rounded {
  border-radius: $sar-rounded;
}

.sar-rounded-lg {
  border-radius: $sar-rounded-lg;
}

.sar-rounded-xl {
  border-radius: $sar-rounded-xl;
}

.sar-rounded-full {
  border-radius: $sar-rounded-full;
}

// 字体
.sar-font-sans {
  font-family: $sar-font-sans;
}

.sar-font-serif {
  font-family: $sar-font-serif;
}

.sar-font-mono {
  font-family: $sar-font-mono;
}

// 字号
.sar-text-xs {
  font-size: $sar-text-xs;
}

.sar-text-sm {
  font-size: $sar-text-sm;
}

.sar-text-base {
  font-size: $sar-text-base;
}

.sar-text-lg {
  font-size: $sar-text-lg;
}

.sar-text-xl {
  font-size: $sar-text-xl;
}

.sar-text-2xl {
  font-size: $sar-text-2xl;
}

// 字重
.sar-font-bold {
  font-weight: $sar-font-bold;
}

.sar-font-normal {
  font-weight: $sar-font-normal;
}

// 阴影
.sar-shadow-sm {
  box-shadow: $sar-shadow-sm;
}

.sar-shadow {
  box-shadow: $sar-shadow;
}

.sar-shadow-lg {
  box-shadow: $sar-shadow-lg;
}

// 黑色遮罩
.sar-mask-legible {
  background-color: $sar-mask-legible;
}

.sar-mask-default {
  background-color: $sar-mask;
}

.sar-mask-illegible {
  background-color: $sar-mask-illegible;
}

// 白色遮罩
.sar-mask-white-legible {
  background-color: $sar-mask-white-legible;
}

.sar-mask-white {
  background-color: $sar-mask-white;
}

.sar-mask-white-illegible {
  background-color: $sar-mask-white-illegible;
}
