@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-badge-content-padding-x: 4px;
  --sar-badge-content-padding-y: 2px;
  --sar-badge-content-min-width: calc(
    var(--sar-badge-content-padding-y) * 2 + var(--sar-badge-content-font-size)
  );
  --sar-badge-content-font-size: 12px;
  --sar-badge-content-bg: var(--sar-danger);
  --sar-badge-content-color: var(--sar-white);
  --sar-badge-content-border-color: var(--sar-white);
  --sar-badge-content-box-shadow: 0 0 0 1px
    var(--sar-badge-content-border-color);
  --sar-badge-content-dot-size: 8px;
}

@media (prefers-color-scheme: dark) {
  :root,
  page {
    --sar-badge-content-border-color: var(--sar-gray-800);
  }
}
// #endvariables

@include bem.bem(badge) {
  @include bem.b() {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }

  @include bem.e(content) {
    box-sizing: border-box;
    display: inline-flex;
    flex: none;
    justify-content: center;
    align-self: center;
    min-width: var(--sar-badge-content-min-width);
    padding: var(--sar-badge-content-padding-y)
      var(--sar-badge-content-padding-x);
    font-size: var(--sar-badge-content-font-size);
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-radius: var(--sar-rounded-full);
    color: var(--sar-badge-content-color);
    background-color: var(--sar-badge-content-bg);
    box-shadow: var(--sar-badge-content-box-shadow);
  }

  @include bem.m(is-dot) {
    width: var(--sar-badge-content-dot-size);
    height: var(--sar-badge-content-dot-size);
    min-width: unset;
    padding: 0;
    border-radius: 50%;
  }

  @include bem.m(zero-hide) {
    display: none;
  }

  @include bem.m(fixed) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(50%, -50%);
  }
}
