// #variables
:root {
  --s-progress-circle-size: 100px;
  --s-progress-circle-track-stroke: var(--s-secondary-bg);
  --s-progress-circle-trail-stroke: var(--s-primary);
  --s-progress-circle-trail-transition-duration: var(--s-duration-slow);
}
// #endvariables

.s-progress-circle {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--s-progress-circle-size);
  height: var(--s-progress-circle-size);
}
.s-progress-circle-graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.s-progress-circle-track {
  stroke: var(--s-progress-circle-track-stroke);
}
.s-progress-circle-trail {
  stroke-dashoffset: 0;
  stroke: var(--s-progress-circle-trail-stroke);
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center center;
  transition: stroke-dasharray
    var(--s-progress-circle-trail-transition-duration) ease;
}
