@use 'sass:math';
@use '../style/mixins/bem';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-calendar-header-box-shadow: var(--sar-shadow);
  --sar-calendar-title-font-size: var(--sar-text-base);
  --sar-calendar-title-line-height: var(--sar-leading-normal);
  --sar-calendar-week-item-height: 36px;
  --sar-calendar-week-item-font-size: var(--sar-text-base);

  --sar-calendar-month-title-height: 40px;
  --sar-calendar-month-title-font-size: var(--sar-text-base);
  --sar-calendar-month-title-color: var(--sar-emphasis-color);
  --sar-calendar-month-body-row-gap: 4px;

  --sar-calendar-day-height: 56px;
  --sar-calendar-day-font-size: var(--sar-text-base);
  --sar-calendar-day-selected-border-radius: var(--sar-rounded);
  --sar-calendar-day-selected-color: var(--sar-white);
  --sar-calendar-day-selected-bg: var(--sar-primary);
  --sar-calendar-day-middle-opacity: 0.125;
  --sar-calendar-day-today-color: var(--sar-primary);

  --sar-calendar-info-font-size: var(--sar-text-xs);
  --sar-calendar-info-line-height: var(--sar-leading-tight);
  --sar-calendar-topinfo-top: 4px;
  --sar-calendar-bottominfo-bottom: 4px;

  --sar-calendar-mark-font-size: 160px;
  --sar-calendar-mark-color: var(--sar-deemphasis-color);
  --sar-calendar-mark-opacity: 0.2;

  --sar-calendar-body-height: calc(
    var(--sar-calendar-day-height) * 4 + var(--sar-calendar-month-body-row-gap) *
      4 + var(--sar-calendar-month-title-height)
  );
}
// #endvariables

@include bem.bem(calendar) {
  @include bem.b() {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  @include bem.e(header) {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: none;
    box-shadow: var(--sar-calendar-header-box-shadow);
  }

  @include bem.e(title) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--sar-calendar-title-font-size);
    line-height: var(--sar-calendar-title-line-height);
  }

  @include bem.e(week) {
    display: flex;
    flex-direction: row;
  }

  @include bem.e(week-item) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: var(--sar-calendar-week-item-height);
    font-size: var(--sar-calendar-week-item-font-size);
  }

  @include bem.e(body) {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex: none;
    height: var(--sar-calendar-body-height);
  }

  @include bem.e(month) {
    display: flex;
    flex-direction: column;
  }

  @include bem.e(month-title) {
    display: flex;
    height: var(--sar-calendar-month-title-height);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--sar-calendar-month-title-font-size);
    font-weight: var(--sar-font-bold);
    color: var(--sar-calendar-month-title-color);
  }

  @include bem.e(month-body) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--sar-calendar-month-body-row-gap);
    column-gap: 0;
  }

  @include bem.e(day) {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: none;
    width: #{math.div(100, 7)} + '%';
    height: var(--sar-calendar-day-height);
    justify-content: center;
    align-items: center;
    border-radius: var(--sar-calendar-day-selected-border-radius);
    font-size: var(--sar-calendar-day-font-size);
    cursor: pointer;
    transition: var(--sar-transition-duration-fast);

    @include bem.m(today) {
      color: var(--sar-calendar-day-today-color);
    }

    @include bem.m(disabled) {
      @include disabled.disabled-text;
    }

    @include bem.m(selected) {
      border-radius: var(--sar-calendar-day-selected-border-radius);
      color: var(--sar-calendar-day-selected-color);
      background-color: var(--sar-calendar-day-selected-bg);
    }

    @include bem.m(prev-selected, only-end) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    @include bem.m(next-selected, only-start) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    @include bem.m(middle) {
      color: var(--sar-primary);

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: var(--sar-calendar-day-middle-opacity);
        background-color: currentColor;
        pointer-events: none;
      }
    }
  }

  @include bem.e(topinfo, bottominfo) {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: var(--sar-calendar-info-font-size);
    line-height: var(--sar-calendar-info-line-height);
  }

  @include bem.e(topinfo) {
    top: var(--sar-calendar-topinfo-top);
  }

  @include bem.e(bottominfo) {
    bottom: var(--sar-calendar-bottominfo-bottom);
  }

  @include bem.e(mark) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    font-size: var(--sar-calendar-mark-font-size);
    color: var(--sar-calendar-mark-color);
    opacity: var(--sar-calendar-mark-opacity);
    pointer-events: none;
  }
}
