@use '../style/mixins/bem';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-input-padding-y: 5px;
  --sar-input-padding-x: 12px;
  --sar-input-border-radius: var(--sar-rounded);
  --sar-input-border-color: var(--sar-border-color);
  --sar-input-transition-duration: var(--sar-duration);
  --sar-input-count-occupy-height: 20px;

  --sar-input-focused-border-color: var(--sar-primary);

  --sar-input-control-font-size: var(--sar-text-base);
  --sar-input-control-line-height: 24px;
  --sar-input-control-min-height: 24px;
  --sar-input-control-textarea-height: 52px;

  --sar-input-placeholder-color: var(--sar-deemphasis-color);

  --sar-input-prepend-gap-right: 10px;
  --sar-input-append-gap-left: 10px;

  --sar-input-clear-margin-right: -0.5em;
  --sar-input-clear-padding-x: 0.5em;
  --sar-input-clear-color: var(--sar-quaternary-color);

  --sar-input-count-margin-left: 0.5em;
  --sar-input-count-font-size: 14px;
  --sar-input-count-color: var(--sar-tertiary-color);
}
// #endvariables

@include bem.bem(input) {
  @include bem.b() {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex: 1 1 0;
    padding: var(--sar-input-padding-y) var(--sar-input-padding-x);
    border: 1px solid var(--sar-input-border-color);
    border-radius: var(--sar-input-border-radius);
    font-family: inherit;
    font-size: var(--sar-input-control-font-size);
    line-height: var(--sar-input-control-line-height);
    transition: var(--sar-input-transition-duration);
    cursor: text;

    @include bem.m(borderless) {
      border: none;
    }

    @include bem.m(inlaid) {
      min-height: auto;
      padding: 0;
      border: none;
    }

    @include bem.m(focused) {
      border-color: var(--sar-input-focused-border-color);
    }

    @include bem.m(disabled) {
      @include disabled.disabled;
    }

    @include bem.m(is-textarea) {
      position: relative;
    }

    @include bem.m(is-textarea-count) {
      margin-bottom: var(--sar-input-count-occupy-height);
    }
  }

  @include bem.e(prepend) {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: var(--sar-input-prepend-gap-right);
  }

  // 兼容H5文本域文本溢出问题
  taro-textarea-core {
    display: flex;
    flex-direction: row;
  }

  @include bem.e(control) {
    flex: 1 1 0;
    align-self: stretch;
    width: 0;
    max-width: 100%;
    min-width: 0;
    height: auto;
    min-height: var(--sar-input-control-min-height);
    margin: 0;
    padding: 0;
    border: none;

    &,
    .weui-input,
    .taro-input,
    .taro-textarea {
      resize: none;
      font: inherit;
      line-height: inherit;
      color: inherit;
      text-align: inherit;
      text-shadow: inherit;
      text-indent: inherit;
      text-decoration: inherit;
      text-transform: inherit;
      text-emphasis: inherit;
      text-rendering: inherit;
      letter-spacing: inherit;
      word-spacing: inherit;
      background-color: transparent;

      &::-webkit-input-placeholder {
        line-height: inherit;
        color: var(--sar-input-placeholder-color);
      }
    }

    .weui-input {
      // 覆盖 iphone的opacity: 0.4
      &:disabled {
        opacity: 1;
      }
      min-height: 100%;
    }

    &:focus,
    &:active {
      outline: none;
    }

    @include bem.m(is-textarea) {
      line-height: 1;
      height: var(--sar-input-control-textarea-height);
    }

    @include bem.m(auto-height) {
      min-height: var(--sar-input-control-textarea-height);
      height: auto;
    }
  }

  @include bem.e(placeholder) {
    color: var(--sar-input-placeholder-color);
  }

  @include bem.e(append) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    margin-left: var(--sar-input-append-gap-left);
  }

  @include bem.e(clear) {
    display: flex;
    flex: none;
    width: auto;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    margin-right: var(--sar-input-clear-margin-right);
    padding: 0 var(--sar-input-clear-padding-x);
    color: var(--sar-input-clear-color);
    cursor: pointer;
    user-select: none;

    @include bem.m(hide) {
      display: none;
    }
  }

  @include bem.e(count) {
    margin-left: var(--sar-input-count-margin-left);
    font-size: var(--sar-input-count-font-size);
    color: var(--sar-input-count-color);
    pointer-events: none;

    @include bem.m(is-textarea) {
      position: absolute;
      top: 100%;
      right: 0;
    }
  }
}
