@import '../style/variables.scss';
@import '../style/mixins/bem.scss';
@import '../style/mixins/ifweb.scss';

// #variables
$sar-collapse-transition-duration: $sar-duration-slow !default;
// #endvariables

@include bem(collapse) {
  @include b() {
    @include universal;
    position: absolute;
    z-index: -10;
    width: 100%;
    overflow: hidden;
    @include ifweb {
      visibility: hidden;
      transition: height $sar-collapse-transition-duration;
    }
  }

  @include m(show) {
    position: relative;
    z-index: 0;
    overflow: visible;
    @include ifweb {
      visibility: visible;
    }
  }

  @include m(collapsing) {
    overflow: hidden;
  }
}
