@import '../style/base.scss';

// #variables
:root,
page {
  --sar-slider-track-main-axis-size: 100%;
  --sar-slider-track-cross-axis-size: 2px;
  --sar-slider-track-bg: var(--sar-secondary-bg);

  --sar-slider-track-piece-transition-duration: var(--sar-duration);
  --sar-slider-track-piece-bg: var(--sar-primary);

  --sar-slider-thumb-size: 24px;
  --sar-slider-thumb-bg: var(--sar-white);
  --sar-slider-thumb-box-shadow: var(--sar-shadow-sm);

  --sar-slider-padding: calc(var(--sar-slider-thumb-size) / 2 + 3px);
}
// #endvariables

@include bem(slider) {
  @include b() {
    position: relative;
    box-sizing: border-box;
    padding: var(--sar-slider-padding);
    cursor: pointer;
  }

  @include m(vertical) {
    display: inline-flex;
    width: auto;
    height: 100%;
  }

  @include e(track) {
    position: relative;
    width: var(--sar-slider-track-main-axis-size);
    height: var(--sar-slider-track-cross-axis-size);
    background-color: var(--sar-slider-track-bg);

    @include m(vertical) {
      width: var(--sar-slider-track-cross-axis-size);
      height: var(--sar-slider-track-main-axis-size);
    }
  }

  @include e(track-piece) {
    position: absolute;
    width: auto;
    height: 100%;
    background-color: var(--sar-slider-track-piece-bg);
    transition: all var(--sar-slider-track-piece-transition-duration);

    @include m(is-down) {
      transition: none;
    }

    @include m(vertical) {
      width: 100%;
      height: auto;
    }
  }

  @include e(thumb-container) {
    position: absolute;
    touch-action: none;
  }

  @include e(thumb) {
    width: var(--sar-slider-thumb-size);
    height: var(--sar-slider-thumb-size);
    border-radius: 50%;
    background-color: var(--sar-slider-thumb-bg);
    box-shadow: var(--sar-slider-thumb-box-shadow);
    user-select: none;
    cursor: grab;

    @include m(readonly, disabled) {
      cursor: default;
    }
  }

  @include e(thumb-start) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    @include m(vertical) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include e(thumb-end) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);

    @include m(vertical) {
      top: auto;
      bottom: 0;
      left: 50%;
      right: auto;
      transform: translate(-50%, 50%);
    }
  }

  @include m(disabled) {
    @include disabled;
  }

  @include m(readonly) {
    cursor: default;
  }
}
