@import '../style/base.scss';

// #variables
:root,
page {
  --sar-rate-font-size: 20px;

  --sar-rate-item-margin-left: 10px;

  --sar-rate-star-void-color: var(--sar-quaternary-color);
  --sar-rate-star-color: var(--sar-warning);
}
// #endvariables

@include bem(rate) {
  @include b() {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-size: var(--sar-rate-font-size);
    user-select: none;
    cursor: pointer;
    touch-action: pan-y;
  }

  @include e(item) {
    position: relative;
    display: flex;

    @include m(later) {
      margin-left: var(--sar-rate-item-margin-left);
    }
  }

  @include e(star-void) {
    position: relative;
    display: flex;
    color: var(--sar-rate-star-void-color);
  }

  @include e(star) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 0;
    overflow: hidden;
    color: var(--sar-rate-star-color);
  }

  @include m(readonly) {
    cursor: default;
    touch-action: auto;
  }

  @include m(disabled) {
    touch-action: auto;
    @include disabled;
  }
}
