.icon-showcase-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-showcase {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  width: 25%;
  max-width: 25%;
  padding: 10px 0;
}

.icon-showcase-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--sar-body-color);
}

.icon-showcase-name {
  font-size: 12px;
  color: var(--sar-body-color);
  text-align: center;
}
