.page-popup {
  .sar-popup-zoom,
  .sar-popup-fade {
    width: 300px;
    height: 150px;
  }

  .sar-popup {
    box-sizing: border-box;
    padding: 20px;
    background: var(--sar-emphasis-bg);
  }
}
