@import '../style/base.scss';
// #variables
$sar-skeleton-bg-color: $sar-secondary-bg-color !default;
$sar-skeleton-border-radius: $sar-rounded-sm !default;

$sar-skeleton-block-height: 16px !default;

$sar-skeleton-avatar-size: 32px !default;
$sar-skeleton-avatar-margin-right: 16px !default;

$sar-skeleton-title-width: 40% !default;
$sar-skeleton-title-height: 20px !default;
$sar-skeleton-title-gap: 16px !default;

$sar-skeleton-row-last-width: 60% !default;
$sar-skeleton-row-gap: 12px !default;

// 暗黑模式
$sar-skeleton-dark-bg-color: $sar-dark-secondary-bg-color !default;
// #endvariables

@include bem(skeleton) {
  @include b() {
    @include universal;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @include e(block) {
    @include universal;
    width: 100%;
    height: $sar-skeleton-block-height;
    background-color: $sar-skeleton-bg-color;
    border-radius: $sar-skeleton-border-radius;
  }

  @include e(avatar) {
    @include universal;
    flex: none;
    width: $sar-skeleton-avatar-size;
    height: $sar-skeleton-avatar-size;
    border-radius: $sar-skeleton-border-radius;

    @include m(in-skeleton) {
      margin-right: $sar-skeleton-avatar-margin-right;
    }
  }

  @include e(title) {
    @include universal;
    width: $sar-skeleton-title-width;
    height: $sar-skeleton-title-height;
  }

  @include e(row) {
    @include universal;

    @include m(later) {
      margin-top: $sar-skeleton-row-gap;
    }
    @include m(last) {
      width: $sar-skeleton-row-last-width;
    }
  }

  @include e(content) {
    @include universal;
    flex: 1;
  }

  @include e(paragraph) {
    @include universal;

    @include m(in-skeleton) {
      margin-top: $sar-skeleton-title-gap;
    }
  }

  @include m(round) {
    border-radius: $sar-rounded-full;
  }

  @include m(animated) {
    @include if-web {
      animation: #{bem-ns(skeleton-animated)} 1.2s ease infinite;
    }
  }
}

@include if-web {
  @keyframes #{bem-ns(skeleton-animated)} {
    0%,
    100% {
      opacity: 1;
    }
    60% {
      opacity: 0.5;
    }
  }
}

@include theme(dark) {
  @include bem(skeleton) {
    @include e(block) {
      background-color: $sar-skeleton-dark-bg-color;
    }
  }
}
