.demo + {
  .demo {
    margin-top: 40px;
  }
}

.demo-title {
  margin-bottom: 10px;
  margin-left: 15px;
  border-left: 3px solid var(--sar-primary);
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.15;
  color: var(--sar-tertiary-color);
}

.demo-body {
  padding: 0 15px;

  .demo-full & {
    padding: 0;
  }
}

@keyframes animate__flash {
  0%,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.attention {
  animation-duration: 1.3s;
  animation-name: animate__flash;
}
