@use '../style/mixins/bem';
@use '../style/mixins/border';
@use '../style/mixins/disabled';

// #variables
:root,
page {
  --sar-action-sheet-z-index: 1100;

  --sar-action-sheet-border-radius: var(--sar-rounded-xl);
  --sar-action-sheet-bg: var(--sar-emphasis-bg);
  --sar-action-sheet-line-height: var(--sar-leading-normal);

  --sar-action-sheet-header-padding: 14px;
  --sar-action-sheet-header-border-color: var(--sar-border-color);

  --sar-action-sheet-title-font-size: var(--sar-text-lg);

  --sar-action-sheet-description-margin-top: 8px;
  --sar-action-sheet-description-font-size: var(--sar-text-base);
  --sar-action-sheet-description-color: var(--sar-tertiary-color);

  --sar-action-sheet-item-padding: 14px;
  --sar-action-sheet-item-border-color: var(--sar-border-color);
  --sar-action-sheet-item-bg: var(--sar-emphasis-bg);
  --sar-action-sheet-item-active-bg: var(--sar-active-bg);

  --sar-action-sheet-gap-bg: var(--sar-gray-100);
  --sar-action-sheet-gap-height: 8px;

  --sar-action-sheet-item-title-font-size: var(--sar-text-base);

  --sar-action-sheet-item-label-margin-top: 8px;
  --sar-action-sheet-item-label-font-size: var(--sar-text-sm);
  --sar-action-sheet-item-label-color: var(--sar-tertiary-color);

  --sar-action-sheet-cancel-font-size: var(--sar-text-base);
  --sar-action-sheet-cancel-padding: 14px;
  --sar-action-sheet-cancel-bg: var(--sar-emphasis-bg);
  --sar-action-sheet-cancel-active-bg: var(--sar-active-bg);
}

@media (prefers-color-scheme: dark) {
  :root,
  page {
    --sar-action-sheet-gap-bg: var(--sar-gray-900);
  }
}
// #endvariables

@include bem.bem(action-sheet) {
  @include bem.b() {
    z-index: var(--sar-action-sheet-z-index);

    border-top-left-radius: var(--sar-action-sheet-border-radius);
    border-top-right-radius: var(--sar-action-sheet-border-radius);
    background-color: var(--sar-action-sheet-bg);
    line-height: var(--sar-action-sheet-line-height);
  }

  @include bem.e(header) {
    position: relative;
    padding: var(--sar-action-sheet-header-padding);

    @include border.border-bottom(var(--sar-action-sheet-header-border-color));
  }

  @include bem.e(title) {
    font-size: var(--sar-action-sheet-title-font-size);
    font-weight: var(--sar-font-bold);
    text-align: center;
  }

  @include bem.e(description) {
    font-size: var(--sar-action-sheet-description-font-size);
    text-align: center;
    color: var(--sar-action-sheet-description-color);

    @include bem.m(has-title) {
      margin-top: var(--sar-action-sheet-description-margin-top);
    }
  }

  @include bem.e(gap) {
    height: var(--sar-action-sheet-gap-height);
    background-color: var(--sar-action-sheet-gap-bg);
  }

  @include bem.e(item) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sar-action-sheet-item-padding);
    line-height: inherit;
    cursor: pointer;
    background-color: var(--sar-action-sheet-item-bg);

    @include bem.m(headless-first) {
      border-top-left-radius: var(--sar-action-sheet-border-radius);
      border-top-right-radius: var(--sar-action-sheet-border-radius);
    }

    @include bem.m(later) {
      @include border.border-top(var(--sar-action-sheet-item-border-color));
    }

    @include bem.m(interactive) {
      &:active {
        background-color: var(--sar-action-sheet-item-active-bg);
      }
    }

    @include bem.m(disabled) {
      @include disabled.disabled-text;
    }

    @include bem.m(loading) {
      cursor: default;
    }
  }

  @include bem.e(item-title) {
    font-size: var(--sar-action-sheet-item-title-font-size);
  }

  @include bem.e(item-label) {
    margin-top: var(--sar-action-sheet-item-label-margin-top);
    font-size: var(--sar-action-sheet-item-label-font-size);
    color: var(--sar-action-sheet-item-label-color);
  }

  @include bem.e(cancel) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sar-action-sheet-cancel-padding);
    font-size: var(--sar-action-sheet-cancel-font-size);
    line-height: inherit;
    cursor: pointer;
    background-color: var(--sar-action-sheet-cancel-bg);

    &:active {
      background-color: var(--sar-action-sheet-cancel-active-bg);
    }
  }
}
