// #variables
:root {
  --s-avatar-width: 64px;
  --s-avatar-height: 64px;
  --s-avatar-font-size: 32px;
  --s-avatar-color: var(--s-secondary-color);
  --s-avatar-bg: var(--s-secondary-bg);

  --s-avatar-square-border-radius: var(--s-rounded);

  --s-avatar-group-avatar-border-color: var(--s-emphasis-bg);
  --s-avatar-group-avatar-gap: -16px;
}
// #endvariables

.s-avatar {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--s-avatar-width);
  height: var(--s-avatar-height);
  vertical-align: middle;
  font-size: var(--s-avatar-font-size);
  color: var(--s-avatar-color);
  background-color: var(--s-avatar-bg);
}

.s-avatar-circle {
  border-radius: 50%;
}

.s-avatar-square {
  border-radius: var(--s-avatar-square-border-radius);
}

.s-avatar-img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.s-avatar-group {
  .s-avatar {
    border: 1px solid var(--s-avatar-group-avatar-border-color);

    &:not(:first-child) {
      margin-left: var(--s-avatar-group-avatar-gap);
    }
  }

  // .s-avatar-rest {
  // }
}
