@import '../style/base.scss';
// #variables
$sar-notice-bar-min-height: 40px !default;
$sar-notice-bar-padding-x: 16px !default;
$sar-notice-bar-padding-y: 10px !default;
$sar-notice-bar-font-size: $sar-text-base !default;
$sar-notice-bar-color: $sar-orange !default;
$sar-notice-bar-bg-color: $sar-orange-100 !default;

$sar-notice-bar-wrap-line-height: $sar-notice-bar-font-size * $sar-leading-snug !default;

$sar-notice-bar-left-icon-size: 20px !default;
$sar-notice-bar-left-icon-gap: 8px !default;
$sar-notice-bar-right-icon-gap: 8px !default;
// #endvariables

@include bem(notice-bar) {
  @include b() {
    @include universal;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: $sar-notice-bar-min-height;
    padding: 0 $sar-notice-bar-padding-x;
    background-color: $sar-notice-bar-bg-color;

    @include m(wrap) {
      padding-top: $sar-notice-bar-padding-y;
      padding-bottom: $sar-notice-bar-padding-y;
    }

    @include m(linkable) {
      @include if-web {
        cursor: pointer;
      }
    }
  }

  @include e(left-icon) {
    @include universal;
    margin-right: $sar-notice-bar-left-icon-gap;
    color: $sar-notice-bar-color;
  }

  @include e(content) {
    @include universal;
    flex: 1;
    overflow: hidden;
  }

  @include e(container) {
    @include universal;
    flex: none;
    flex-direction: row;
    justify-content: flex-start;
    width: 10000px;

    @include m(wrap) {
      flex-direction: column;
      width: 100%;
    }
  }

  @include e(wrapper) {
    @include universal;

    @include m(scrollable) {
      @include if-web {
        animation: #{bem-ns(notice-bar-scroll)} linear both running;
      }
    }

    @include m(infinite) {
      @include if-web {
        animation: #{bem-ns(notice-bar-scroll-infinite)} linear both running infinite;
      }
    }
  }

  @include e(text) {
    font-size: $sar-notice-bar-font-size;
    color: $sar-notice-bar-color;
    line-height: $sar-notice-bar-wrap-line-height;
  }

  @include e(right-icon) {
    @include universal;
    padding-left: $sar-notice-bar-right-icon-gap;
    color: $sar-notice-bar-color;

    @include if-web {
      cursor: pointer;
    }
  }
}

@include if-web {
  @keyframes #{bem-ns(notice-bar-scroll)} {
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes #{bem-ns(notice-bar-scroll-infinite)} {
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
