@import './variables/base';

// 文本颜色
// ========================================
// ========================================
.text-primary {
  color: $s-text-primary;
}
.text-secondary {
  color: $s-text-secondary;
}
.text-success {
  color: $s-text-success;
}
.text-info {
  color: $s-text-info;
}
.text-warning {
  color: $s-text-warning;
}
.text-danger {
  color: $s-text-danger;
}
.text-muted {
  color: $s-text-muted;
}
.text-weak {
  color: $s-text-weak;
}
.text-body {
  color: $s-text-body;
}

// 背景颜色
// ========================================
// ========================================
.bg-white {
  background-color: $bg-white;
}
.bg-body {
  background-color: $s-bg-body;
}
.bg-active:active {
  background-color: $s-bg-active;
}

// 字号
// ========================================
// ========================================
.font-xxl {
  font-size: $s-font-size-xxl;
}
.font-xl {
  font-size: $s-font-size-xl;
}
.font-lg {
  font-size: $s-font-size-lg;
}
.font-base {
  font-size: $s-font-size;
}
.font-sm {
  font-size: $s-font-size-sm;
}
.font-xs {
  font-size: $s-font-size-xs;
}

// 字重
// ========================================
// ========================================
.font-bold {
  font-weight: $s-font-weight-bold;
}
.font-normal {
  font-weight: $s-font-weight-normal;
}
.font-light {
  font-weight: $s-font-weight-light;
}

// 行高
// ========================================
// ========================================
.line-height-lg {
  line-height: $s-line-height-lg;
}
.line-height-base {
  line-height: $s-line-height;
}
.line-height-sm {
  line-height: $s-line-height-sm;
}
