// #variables
:root {
  --s-dropdown-height: 48px;
  --s-dropdown-bg: var(--s-emphasis-bg);
  --s-dropdown-box-shadow: var(--s-shadow-lg);

  --s-dropdown-item-padding-x: 10px;
  --s-dropdown-item-active-opacity: var(--s-active-opacity);

  --s-dropdown-item-label-color: var(--s-tertiary-color);
  --s-dropdown-item-label-margin-right: 10px;

  --s-dropdown-item-icon-margin-left: 5px;
  --s-dropdown-item-icon-color: var(--s-border-color);
  --s-dropdown-item-icon-font-size: var(--s-text-sm);

  --s-dropdown-item-show-color: var(--s-primary);

  --s-dropdown-popup-z-index: 1000;
  --s-dropdown-popup-content-bg: var(--s-emphasis-bg);

  --s-dropdown-item-option-active-color: var(--s-primary);

  --s-dropdown-option-icon-font-size: var(--s-text-sm);
  --s-dropdown-option-icon-color: var(--s-primary);
}
// #endvariables

.s-dropdown {
  position: relative;
  display: flex;
  height: var(--s-dropdown-height);
  background: var(--s-dropdown-bg);
  box-shadow: var(--s-dropdown-box-shadow);

  &.s-dropdown-show {
    z-index: calc(var(--s-dropdown-popup-z-index) + 1);
  }

  @at-root {
    .s-dropdown-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 0 var(--s-dropdown-item-padding-x);
      user-select: none;
      overflow: hidden;

      &:not(.s-dropdown-item-disabled) {
        cursor: pointer;
      }

      &:not(.s-dropdown-item-disabled):active {
        opacity: var(--s-dropdown-item-disabled-opacity);
      }

      @at-root {
        .s-dropdown-item-label {
          flex: none;
          color: var(--s-dropdown-item-label-color);
          @include ellipsis;
        }

        .s-dropdown-item-title,
        .s-dropdown-item-value {
          flex: 0 1 auto;
          @include ellipsis;

          .s-dropdown-item-label ~ & {
            margin-left: var(--s-dropdown-item-label-margin-right);
          }
        }

        .s-dropdown-item-icon {
          margin-left: var(--s-dropdown-item-icon-margin-left);
          color: var(--s-dropdown-item-icon-color);
          font-size: var(--s-dropdown-item-icon-font-size);
        }
      }
    }
    .s-dropdown-item-show {
      color: var(--s-dropdown-item-show-color);

      .s-dropdown-item-icon {
        color: inherit;
      }
    }

    .s-dropdown-options {
      @at-root {
        .s-dropdown-option {
          display: flex;
          justify-content: space-between;

          @at-root {
            .s-dropdown-option-icon {
              display: none;
              margin-left: auto;
              font-size: var(--s-dropdown-option-icon-font-size);
              color: var(--s-dropdown-option-icon-color);
            }
          }
        }

        .s-dropdown-item-option-active {
          color: var(--s-dropdown-item-option-active-color);

          .s-dropdown-option-icon {
            display: block;
          }
        }
      }
    }
  }
}

.s-dropdown-popup {
  z-index: var(--s-dropdown-popup-z-index);
}

.s-dropdown-popup-content {
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: pan-y;
  background-color: var(--s-dropdown-popup-content-bg);
}

.s-dropdown-item-disabled {
  .s-dropdown-item-label,
  .s-dropdown-item-title,
  .s-dropdown-item-value {
    @include disabled-text;
  }
}
