@import '../style/variables.scss';

// #variables
$s-dropdown-height: 48px !default;
$s-dropdown-box-shadow: $s-box-shadow-lg !default;

$s-dropdown-item-padding-x: 10px !default;

$s-dropdown-item-label-color: $s-muted !default;
$s-dropdown-item-label-margin-right: 10px !default;

$s-dropdown-item-icon-margin-left: 5px !default;
$s-dropdown-item-icon-color: $s-gray-300 !default;
$s-dropdown-item-icon-font-size: $s-font-size-sm !default;

$s-dropdown-popup-z-index: 1000 !default;

$s-dropdown-disabled-color: $s-weak !default;

// #endvariables

.s-dropdown {
  position: relative;
  display: flex;
  height: $s-dropdown-height;
  background: $s-white;
  box-shadow: $s-dropdown-box-shadow;

  &.s-dropdown-show {
    z-index: $s-dropdown-popup-z-index + 1;
  }

  @at-root {
    .s-dropdown-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 0 $s-dropdown-item-padding-x;
      user-select: none;
      overflow: hidden;

      &:not(.s-dropdown-item-disabled) {
        cursor: pointer;
      }

      &:not(.s-dropdown-item-disabled):active {
        opacity: $s-active-opacity;
      }

      @at-root {
        .s-dropdown-item-label {
          flex: none;
          color: $s-dropdown-item-label-color;
          @include ellipsis;
        }

        .s-dropdown-item-title,
        .s-dropdown-item-value {
          flex: 0 1 auto;
          @include ellipsis;

          .s-dropdown-item-label ~ & {
            margin-left: $s-dropdown-item-label-margin-right;
          }
        }

        .s-dropdown-item-icon {
          margin-left: $s-dropdown-item-icon-margin-left;
          color: $s-dropdown-item-icon-color;
          font-size: $s-dropdown-item-icon-font-size;
        }
      }
    }
    .s-dropdown-item-show {
      color: $s-primary;

      .s-dropdown-item-icon {
        color: inherit;
      }
    }

    .s-dropdown-options {
      @at-root {
        .s-dropdown-option {
          display: flex;
          justify-content: space-between;

          @at-root {
            .s-dropdown-option-icon {
              display: none;
              margin-left: auto;
              font-size: $s-font-size-sm;
              color: $s-primary;
            }
          }
        }

        .s-dropdown-item-option-active {
          color: $s-primary;

          .s-dropdown-option-icon {
            display: block;
          }
        }
      }
    }
  }
}

.s-dropdown-popup {
  z-index: $s-dropdown-popup-z-index;
}

.s-dropdown-popup-content {
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: pan-y;
  background-color: $s-white;
}

.s-dropdown-item-disabled {
  .s-dropdown-item-label,
  .s-dropdown-item-title,
  .s-dropdown-item-value {
    color: $s-dropdown-disabled-color;
  }
}
