@use '../style/mixins/bem';

// #variables
:root,
page {
  --sar-popout-input-arrow-font-size: var(--sar-text-base);
  --sar-popout-input-arrow-color: var(--sar-border-color);
}
// #endvariables

@include bem.bem(popout-input) {
  @include bem.b() {
    cursor: pointer;
  }

  @include bem.e(arrow) {
    font-size: var(--sar-popout-input-arrow-font-size);
    color: var(--sar-popout-input-arrow-color);
  }
}
